<div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont" >
   <div class="com_title"> <a class="back_link_view" routerLink="/DealHUB/master"><img src="assets/images/left_arrow.png"></a> {{pageTitle() }} </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mas_filter">
      <div class="serch_box_ms">
      
          <div class="search_con" style="width: 260px;">
          <input type="text" placeholder="Search "  [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()">
      </div>
      <div class="search_icon" ><img src="assets/images/search_icon.png"></div>

     
      </div>
      <div> <button mat-flat-button class="creat_bt cu_width" (click)="createType()" style="margin-left: 20px;" >Create</button></div>
  </div>
  
</div>

<!-- <div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont" >
  <div class="com_title">{{pageTitle() }} </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mas_filter">
      <div class="serch_box_ms">
      
          <div class="search_con">
          <input type="text" [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()" />
      </div>
      <div class="search_icon"><img src="assets/images/search_icon.png"></div>
      <div *ngIf="dontshowforDOA">
        <button  mat-flat-button 
        style="padding:0 20px 0 20px" (click)="createType()">         
        create </button>
      </div>

      </div>
  </div>

</div> -->

<div  fxLayout="column" fxLayoutAlign=" none"  class="con_data"  >

  <div *ngIf="ShowProjectTypeEdit" class="edit_masters">
    <div class="edit_heda">
      {{createoredit}}
    </div>
    <form [formGroup]="ProjectTypeForm">
      <div class="edit_body">
        <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" >
          <div fxFlex="30" class="edit_body_in">
            <div class="mt-cust-fd">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Project Code</mat-label>
                <input matInput  formControlName="ProjectCode">
                <mat-error *ngIf="checkError('ProjectCode', 'required')">Project Code is required</mat-error>
                <mat-error *ngIf="ProjectTypeForm.controls.ProjectCode.errors?.invalidservices">
                    Black-Listed characters `<>'"&` are not allowed
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="30" class="edit_body_in">
            <div class="mt-cust-fd">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Project Name</mat-label>
                <input matInput  formControlName="ProjectName">
                <mat-error *ngIf="checkError('ProjectName', 'required')">Project Name is required</mat-error>
                <mat-error *ngIf="ProjectTypeForm.controls.ProjectName.errors?.invalidservices">
                  Black-Listed characters `<>'"&` are not allowed
                </mat-error>
                </mat-form-field>
            </div>
          </div>
          <div fxFlex="30" class="edit_body_in">
            <div class="mt-cust-fd">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Select Active / Inactive*</mat-label>
                <mat-select formControlName="ProjectStatus" disableOptionCentering>
                  <mat-option value="1"  >
                    Active
                  </mat-option>
                  <mat-option value="0">
                    Inactive
                  </mat-option>
                
                </mat-select>
                <mat-error *ngIf="checkError('ProjectStatus', 'required')">Project Status is required</mat-error>
              
               
              </mat-form-field>
            </div>
          </div>
          </div>
      </div>
      <div class="edit_footr">
         <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
        <button mat-flat-button class="creat_bt cu_width" [disabled]="ProjectTypeForm.invalid" (click)="SubmitProjectType(ProjectTypeForm)">{{enablecreate?'Submit':'Save'}}</button>
        
      </div>
      </form>
  </div>

  <div *ngIf="ShowPrivilegeEdit" class="edit_masters">
    <div class="edit_heda">
      {{createoredit}}
    </div>
    <form [formGroup]="PrivilegeForm">
      <div class="edit_body">
        <div class="edit_body_out" fxLayout="row" fxLayoutAlign=" center" fxFlex="100" >
          <div fxFlex="30" class="edit_body_in">
            <div class="mt-cust-fd">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Privilege Name</mat-label>
                <input matInput  formControlName="privilege_name">
                <mat-error *ngIf="checkError('privilege_name', 'required')">Privilege Name is required</mat-error>
                <mat-error *ngIf="PrivilegeForm.controls.privilege_name.errors?.invalidservices">
                    Black-Listed characters `<>'"&` are not allowed
                  </mat-error>
              </mat-form-field>
            </div>
            </div>
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Active / Inactive*</mat-label>
                  <mat-select formControlName="PrivilegeStatus" disableOptionCentering>
                    <mat-option value="1"  >
                      Active
                    </mat-option>
                    <mat-option value="0">
                      Inactive
                    </mat-option>
                  
                  </mat-select>
                  <mat-error *ngIf="checkError('PrivilegeStatus', 'required')">Privilege Status is required</mat-error>
                
                 
                </mat-form-field>
              </div>
              </div>
        </div>
      </div>
      <div class="edit_footr">
        <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
        <button mat-flat-button class="creat_bt cu_width"  [disabled]="PrivilegeForm.invalid" (click)="SubmitPrivilegeType()">{{enablecreate?'Submit':'Save'}}</button>
      </div>
      </form>
    </div>

    <div *ngIf="ShowRoleEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="RoleForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Role Code</mat-label>
                  <input matInput  formControlName="Role_code">
                  <mat-error *ngIf="checkError('Role_code', 'required')">Role code is required</mat-error>
                  <mat-error *ngIf="RoleForm.controls.Role_code.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Role Name</mat-label>
                  <input matInput  formControlName="role_name">
                  <mat-error *ngIf="checkError('role_name', 'required')">Role Name is required</mat-error>
                  <mat-error *ngIf="RoleForm.controls.role_name.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
            <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
              <div fxFlex="50" class="edit_body_in">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Equivalent cash role name</mat-label>
                    <input matInput  formControlName="equivalent_cassh_role_name">
                    <mat-error *ngIf="checkError('equivalent_cassh_role_name', 'required')">Equivalent cash role name is required</mat-error>
                    <mat-error *ngIf="RoleForm.controls.equivalent_cassh_role_name.errors?.invalidservices">
                        Black-Listed characters `<>'"&` are not allowed
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="50" class="edit_body_in">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Privilege*</mat-label>
                    <mat-select formControlName="privilege" multiple disableOptionCentering>
                      <mat-option *ngFor="let privilege of _masterservice.PrivilegeList" [value]="privilege.value"  >
                        {{privilege.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="RoleForm.controls.privilege.errors?.required">
                      privilege  is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              </div>
              <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
                <div fxFlex="100" class="edit_body_in">
                  <div class="mt-cust-fd">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Select Active / Inactive*</mat-label>
                      <mat-select formControlName="Rolestatus" disableOptionCentering>
                        <mat-option value="1"  >
                          Active
                        </mat-option>
                        <mat-option value="0">
                          Inactive
                        </mat-option>
                      
                      </mat-select>
                      <mat-error *ngIf="checkError('Rolestatus', 'required')">Role Status is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                </div>
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width"  [disabled]="RoleForm.invalid"  (click)="SubmitRoleType()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowFormEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="pagesListForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" >
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Form Name</mat-label>
                  <input matInput  formControlName="Form_name">
                  <mat-error *ngIf="checkError('Form_name', 'required')">Form Name is required</mat-error>
                  <mat-error *ngIf="pagesListForm.controls.Form_name.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>URL</mat-label>
                  <input matInput  formControlName="Form_Url">
                  <mat-error *ngIf="checkError('Form_Url', 'required')">Form Url is required</mat-error>
                  <mat-error *ngIf="pagesListForm.controls.Form_Url.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
             </mat-form-field>
              </div>
            </div>
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Active / Inactive*</mat-label>
                  <mat-select formControlName="FormStatus" disableOptionCentering>
                    <mat-option value="1"  >
                      Active
                    </mat-option>
                    <mat-option value="0">
                      Inactive
                    </mat-option>
                  
                  </mat-select>
                  <mat-error *ngIf="checkError('FormStatus', 'required')">Form Status is required</mat-error>
                
                 
                </mat-form-field>
              </div>
            </div>
            </div>
        </div>
        <div class="edit_footr">
         <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width"  [disabled]="pagesListForm.invalid"  (click)="SubmitFormList()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowVerticalEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="VerticalForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Vertical Name</mat-label>
                  <input matInput  formControlName="VerticalName">
                  <mat-error *ngIf="checkError('VerticalName', 'required')">Vertical Name is required</mat-error>
                  <mat-error *ngIf="VerticalForm.controls.VerticalName.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Vertical Code</mat-label>
                  <input matInput  formControlName="VerticalCode">
                  <mat-error *ngIf="checkError('VerticalCode', 'required')">Vertical Code is required</mat-error>
                  <mat-error *ngIf="VerticalForm.controls.VerticalCode.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
            <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
              <div fxFlex="50" class="edit_body_in">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Function*</mat-label>
                    <mat-select formControlName="Function" disableOptionCentering>
                      <mat-option *ngFor="let Function of _masterservice.FunctionList"  [value]="Function.value"  >
                        {{Function.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="VerticalForm.controls.Function.errors?.required">
                      Function  is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="50" class="edit_body_in">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Sector*</mat-label>
                    <mat-select formControlName="Sector" multiple disableOptionCentering>
                      <mat-option *ngFor="let Sector of _masterservice.SectorList" [value]="Sector.value"  >
                        {{Sector.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="VerticalForm.controls.Sector.errors?.required">
                      Sector  is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
                  </div>

                 
        </div>
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
            <div class="mt-cust-fd">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Select Active / Inactive*</mat-label>
                <mat-select formControlName="VerticalStatus" disableOptionCentering>
                  <mat-option value="1"  >
                    Active
                  </mat-option>
                  <mat-option value="0">
                    Inactive
                  </mat-option>
                
                </mat-select>
                <mat-error *ngIf="checkError('VerticalStatus', 'required')">VerticalStatus is required</mat-error>
              
               
              </mat-form-field>
              </div>
              </div>
              <div fxFlex="50" class="edit_body_in"></div>
          </div>
          
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width"  [disabled]="VerticalForm.invalid" (click)="Update_Mst_Verticals()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowBranchEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="BranchForm" style="background-color: #f1f1f1;padding-top: 10px;">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Branch Name</mat-label>
                  <input matInput  formControlName="Branch_Name">
                  <mat-error *ngIf="checkError('Branch_Name', 'required')">Branch Name is required</mat-error>
                  <mat-error *ngIf="BranchForm.controls.Branch_Name.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Active / Inactive*</mat-label>
                  <mat-select formControlName="Active" disableOptionCentering>
                    <mat-option  value="1"  >
                     Active
                    </mat-option>
                    <mat-option  value="0"  >
                      Inactive
                     </mat-option>
                  </mat-select>
                  <mat-error *ngIf="BranchForm.controls.Active.errors?.required">
                    Please select Active / Inactive
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
           
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width" [disabled]="BranchForm.invalid"  (click)="SubmitBranchType()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowBusinessEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="BusinessForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" >
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Business Code</mat-label>
                  <input matInput  formControlName="BusinessCode">
                  <mat-error *ngIf="checkError('BusinessCode', 'required')">Branch Code is required</mat-error>
                  <mat-error *ngIf="BusinessForm.controls.BusinessCode.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Business Name</mat-label>
                  <input matInput  formControlName="BusinessName">
                  <mat-error *ngIf="checkError('BusinessName', 'required')">Branch Name is required</mat-error>
                  <mat-error *ngIf="BusinessForm.controls.BusinessName.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Active / Inactive*</mat-label>
                  <mat-select formControlName="Active" disableOptionCentering>
                    <mat-option  value="1"  >
                     Active
                    </mat-option>
                    <mat-option  value="0"  >
                      Inactive
                     </mat-option>
                  </mat-select>
                  <mat-error *ngIf="BusinessForm.controls.Active.errors?.required">
                    Please select Active / Inactive
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width"  [disabled]="BusinessForm.invalid"  (click)="SubmitBusinessType()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowSolutionCategoryEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="SolutionCategoryForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Solution Category Name</mat-label>
                  <input matInput  formControlName="SolutionCategory_Name">
                  <mat-error *ngIf="checkError('SolutionCategory_Name', 'required')">Solution Category Name is required</mat-error>
                  <mat-error *ngIf="SolutionCategoryForm.controls.SolutionCategory_Name.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Active / Inactive*</mat-label>
                  <mat-select formControlName="Active" disableOptionCentering>
                    <mat-option  value="1"  >
                     Active
                    </mat-option>
                    <mat-option  value="0"  >
                      Inactive
                     </mat-option>
                  </mat-select>
                  <mat-error *ngIf="SolutionCategoryForm.controls.Active.errors?.required">
                    Please select Active / Inactive
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width" [disabled]="SolutionCategoryForm.invalid"  (click)="SubmitSolutionCategoryType()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowSectorEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="SectorForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Sector Name</mat-label>
                  <input matInput  formControlName="Sector_Name">
                  <mat-error *ngIf="checkError('Sector_Name', 'required')">Sector Name is required</mat-error>
                  <mat-error *ngIf="SectorForm.controls.Sector_Name.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Active / Inactive*</mat-label>
                  <mat-select formControlName="Active" disableOptionCentering>
                    <mat-option  value="1"  >
                     Active
                    </mat-option>
                    <mat-option  value="0"  >
                      Inactive
                     </mat-option>
                  </mat-select>
                  <mat-error *ngIf="SectorForm.controls.Active.errors?.required">
                    Please select Active / Inactive
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width"  [disabled]="SectorForm.invalid" (click)="SubmitSectorType()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowSubSectorEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="SubSectorForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Sub Sector Name</mat-label>
                  <input matInput  formControlName="SubSector_Name">
                  <mat-error *ngIf="checkError('SubSector_Name', 'required')">Sub Sector Name is required</mat-error>
                  <mat-error *ngIf="SubSectorForm.controls.SubSector_Name.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Sector*</mat-label>
                  <mat-select formControlName="Sector_Id" disableOptionCentering>
                    <mat-option *ngFor = "let data of Sectordropdown" [value]="data.value"  >
                     {{data.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="SubSectorForm.controls.Sector_Id.errors?.required">
                    Please select Sector
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width"  [disabled]="SubSectorForm.invalid" (click)="SubmitSubSectorType()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowDOAEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="DOAForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" >
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Message</mat-label>
                  <input matInput  formControlName="Message">
                  <mat-error *ngIf="checkError('Message', 'required')">Message is required</mat-error>
                  <mat-error *ngIf="DOAForm.controls.Message.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Prefix</mat-label>
                  <input matInput   formControlName="Prefix">
                  <mat-error *ngIf="checkError('Prefix', 'required')">Prefix is required</mat-error>
                  <mat-error *ngIf="DOAForm.controls.Prefix.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Message For</mat-label>
                  <input matInput   formControlName="MessageFor">
                  <mat-error *ngIf="checkError('MessageFor', 'required')">MessageFor is required</mat-error>
                  <mat-error *ngIf="DOAForm.controls.MessageFor.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width" [disabled]="DOAForm.invalid" (click)="SubmitDOAMessages()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowSolutionEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="SolutionForm"> 
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Solution Name</mat-label>
                  <input matInput  formControlName="Solution_Name">
                  <mat-error *ngIf="checkError('Solution_Name', 'required')">Solution Name is required</mat-error>
                  <mat-error *ngIf="SolutionForm.controls.Solution_Name.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Solution Category*</mat-label>
                  <mat-select formControlName="SolutionCategory" disableOptionCentering>
                    <mat-option *ngFor = "let data of SolutionCategorydropdown" [value]="data.value"  >
                     {{data.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="SolutionForm.controls.SolutionCategory.errors?.required">
                    Please select Solution Category
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
            <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
              <div fxFlex="50" class="edit_body_in">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Function Type*</mat-label>
                    <mat-select formControlName="Function" disableOptionCentering>
                      <mat-option *ngFor = "let data of functiondropdown" [value]="data.value"  >
                       {{data.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="SolutionForm.controls.Function.errors?.required">
                      Please select Function Type
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="50" class="edit_body_in">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Project Type*</mat-label>
                    <mat-select formControlName="Domain" disableOptionCentering>
                      <mat-option *ngFor = "let data of domaindropdown" [value]="data.value"  >
                       {{data.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="SolutionForm.controls.Domain.errors?.required">
                      Please select Domain
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
              <div fxFlex="100" class="edit_body_in">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Active / Inactive*</mat-label>
                    <mat-select formControlName="Active" disableOptionCentering>
                      <mat-option  value="1"  >
                       Active
                      </mat-option>
                      <mat-option  value="0"  >
                        Inactive
                       </mat-option>
                    </mat-select>
                    <mat-error *ngIf="SolutionForm.controls.Active.errors?.required">
                      Please select Active / Inactive
                    </mat-error>
                  </mat-form-field>
                  </div>
              </div>
              </div>
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width" [disabled]="SolutionForm.invalid"  (click)="SubmitSolution()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>

    <div *ngIf="ShowCommentEdit" class="edit_masters">
      <div class="edit_heda">
        {{createoredit}}
      </div>
      <form [formGroup]="CommentForm">
        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div fxFlex="50" class="edit_body_in">
              <div class="mt-cust-fd">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Comment Type</mat-label>
                  <input matInput  formControlName="Comment">
                  <mat-error *ngIf="checkError('Comment', 'required')">Comment Type is required</mat-error>
                  <mat-error *ngIf="CommentForm.controls.Comment.errors?.invalidservices">
                      Black-Listed characters `<>'"&` are not allowed
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
           
            </div>
            
            
        </div>
        <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width mast_can_bt" (click)="Canceltype()" style="margin-right: 10px;" >Cancel</button>
          <button mat-flat-button class="creat_bt cu_width" [disabled]="CommentForm.invalid"  (click)="SubmitCommentType()">{{enablecreate?'Submit':'Save'}}</button>
          
        </div>
        </form>
    </div>
    <div class="fl_table_con">
      <perfect-scrollbar class="perfect_scroll_com"   style="    max-height: calc(100vh - 209px);
            background-color: white;
            height: 100vh;" >
            <table  mat-table [dataSource]="listData" class="ms_table" matSort>
              <ng-container *ngFor="let column of columns"  [matColumnDef]="column.columnDef">
                  
                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
                      <mat-cell  *matCellDef="let row" >{{ column.cell(row) }}</mat-cell>   
              </ng-container>
              <ng-container  matColumnDef="useractive" >
                  <mat-header-cell  *matHeaderCellDef mat-sort-header>Is Cassh User</mat-header-cell>
                <mat-cell  *matCellDef="let row" >
                  <mat-slide-toggle (change)="casshChange()" [checked]="row.is_cassh_user == 1" color="primary" ></mat-slide-toggle> 
                </mat-cell>
                <!-- <mat-cell *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell> -->
              </ng-container>
              <ng-container  matColumnDef="ProjectTypeAction" >
                  <mat-header-cell  *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell  *matCellDef="let row" >
                  <button mat-flat-button class="creat_bt view_bt"   (click)="ShowEditType(row)">Edit</button>
                </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
          <div style="    display: flex;
          justify-content: center;
          flex-direction: inherit;
          position: absolute;
          height: auto;
          width: 100%;
          top: 50%;
          transform: translate(-50%, -30%);
          left: 50%;" *ngIf="this.listData.filteredData.length == 0">
            <img src="assets/images/no-data1.jpg" style="
            width: 270px;
        ">
          </div>
         
            </perfect-scrollbar>
            <mat-paginator  #pagination style-paginator showFirstLastButtons   [length]="listData.filteredData.length" style="margin-bottom: 10px;"
                    [pageSize]="7"
                    >
            </mat-paginator>
            </div>
</div>


 

<div>

 
</div>
