@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.logo_cont {
  text-align: center;
  @include font-size(1.6);
  @include padding(20px, inherit, 20px, inherit);
  @include margin(initial, initial, 20px, inherit);
  @include heightwidth(100%, initial);
  @include font-weight(900);
  color: $thm-tex-col-dar;
}

.acc_out_wr {
  @include heightwidth(200px, initial);
  .accordion {
    @include heightwidth(100%, initial);
    li {
      i {
        @include position(absolute, 0.8rem, initial, initial, 26px);
        @include transition(all 0.4s ease);
        color: $thm-tex-col-dar;
        @include font-size(1.4);
      }
      .m_icon
      {
        display: inline-block;
        @include position(relative);
        @include heightwidth(auto,auto);
        @include padding(10px,12px,8px,12px);
        @include margin(inherit,9px,inherit,14px);
        @include border-radius(50px);
        img
        {
          @include heightwidth(18px,auto);
        }
      }
      .menu {
        cursor: pointer;
        display: inherit;
        text-decoration: none;
        @include position(relative);
        @include padding(10px, 15px, 10px, 0px);
        @include font-weight(400);
        color: $thm-tex-col-dar;
        @include transition(all 0.4s ease);
        span
          {
            @include font-size(0.90);
            @include font-weight(semi-bold);
            @include position(relative,-2px,inherit,inherit,initial);
          }
      }
      
      &.active
      {
        i{
          &::after
          {
            content:'';
            background-color: #e5eeff;
            z-index: -1;
            @include heightwidth(40px,40px);
            @include position(absolute,-7px,initial,initial,-10px);
            @include border-radius(20px);
          }
        }
        .m_icon
        {
          background-color: #e5eeff;
        }
      }
    }
  }
}

/* Show submenu */

.submenu {
  height: 0;
  overflow: hidden;
  background: transparent;
  font-size: 12px;
  transition: height 0.4s ease;
  font-weight: 300;
}

//   .submenu li {
//     border-bottom: 1px solid #ccc;
//   }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease-in-out;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}
