@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.logo_cont {
  
  @include font-size(1.6);
  @include padding(20px, inherit, 20px, 15px);
  @include margin(initial, initial, 20px, inherit);
  @include heightwidth(100%, initial);
  @include font-weight(900);
  color: $thm-tex-col-dar;
}

.acc_out_wr {
  @include heightwidth(200px, initial);
  .accordion {
    @include heightwidth(100%, initial);
    li {
      margin-bottom: 7px;
      i {
        @include position(absolute, 0.8rem, initial, initial, 26px);
        @include transition(all 0.4s ease);
        color: $thm-tex-col-dar;
        @include font-size(1.4);
      }
      .m_icon
      {
        display: inline-block;
        @include position(relative);
        @include heightwidth(auto,auto);
        @include padding(10px,12px,8px,12px);
        @include margin(inherit,9px,inherit,14px);
        @include border-radius(50px);
        img
        {
          @include heightwidth(18px,auto);
        }
        
       
      }
      .menu {
        cursor: pointer;
        display: flex;
        align-items: center;
    line-height: initial;
        text-decoration: none;
        @include position(relative);
        @include padding(5px, 15px, 5px, 0px);
        color: #342e59;
        @include transition(all 0.4s ease);
        span
          {
            @include font-size(0.90);
            @include font-weight(semi-bold);
            @include position(relative,-2px,inherit,inherit,initial);
          }
          .us_disc
          {
            display: inline-block;
            padding-left: 4px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 500;
            @include font-size(0.90);
            @include position(relative,0px,inherit,inherit,initial);
            .sn_roll
            {
              font-size: 10px;
              font-weight: 400;
            }
          }
      }
      
      &.active
      {
        i{
          &::after
          {
            content:'';
            background-color: #e5eeff;
            z-index: -1;
            @include heightwidth(40px,40px);
            @include position(absolute,-7px,initial,initial,-10px);
            @include border-radius(20px);
          }
        }
        .m_icon
        {
          background-color: #e5eeff;
        }
      }
    }
  }
  &.acc_out_wr_open
  {
    .accordion
    {
      .active
      {
        .menu{
          background-color: #e5eeff;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 50px;
          .us_disc{
          font-weight: 600;
        }
          .m_icon
          {
            padding-left: 8px;
          }
        }
      }
    }
  }
}

/* Show submenu */

.submenu {
  height: 0;
  overflow: hidden;
  background: transparent;
  font-size: 12px;
  transition: height 0.4s ease;
  font-weight: 300;
}

//   .submenu li {
//     border-bottom: 1px solid #ccc;
//   }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease-in-out;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}
