/*@mixin s*/
@mixin heightwidth($size: 29px, $size1: 20px) {
  width: $size;
  height: $size1;
}
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

//alingment mixin

//border mixin
@mixin border-all($width, $style, $color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}
//box-shadow mixin
@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}
//border-radius mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
//box-shadow mixin
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}

//flexbox mixin
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

//transition
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

//flexbox mixin
@mixin flexbox {
  display: -webkit-box; // old
  display: -moz-box; // old
  display: -ms-flexbox; // ie
  display: -webkit-flex; // new
  display: flex; // new
}

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}




@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    ultra-bold: 900,
    heavy: 900,
    black: 900,
    ultra: 900,
    ultra-black: 900,
    extra-ultra: 900,
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

@mixin font-size($sizeValue: 0.75) {
  font-size: $sizeValue + rem;
}
/*@mixin e*/

//start
.creat_bt
{
  ::ng-deep &.mat-flat-button
  {
    background-color: #2258bf;
  color:#fff;
  text-transform: uppercase;
  @include font-size(0.80);
  @include font-weight(semi-bold);
  @include border-radius(20px);
  @include padding(0px, 30px ,0px , 30px);
  &.on_hold_bt
  {
    background-color: #fa6915;
  }
  &.rej_tran
  {
    background-color: transparent;
    color: #2258bf;
  }
  .mat-button-wrapper
  {
    display: inline-block;
    .creat_bt_icon
    {
      @include heightwidth(14px,initial );
      @include margin(initial, 10px,initial ,initial );
    }
  }
  }
}
//end

// start
.mt-cust-fd {
 
  ::ng-deep .mat-form-field {
    width: 100%;
    

    &.ng-dirty {
      &.mat-focused {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            border: solid 1px #2c62c8;
            background-color: #f8fbff;
          }
        }
      }
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background-color: #fff;
          border: solid 1px rgba(0, 0, 0, 0.14);
          border-radius: 4px;
        }
      }
    }

    &.ng-valid {
      &.mat-focused {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            border: solid 1px #2c62c8;
            background-color: #f8fbff;
          }
        }
      }
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background-color: #fff;
          border: solid 1px rgba(0, 0, 0, 0.14);
          border-radius: 4px;
        }
      }
    }

    &.mat-form-field-appearance-fill {
      &.mat-focused {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            border: solid 1px #2c62c8;
            background-color: #f8fbff;
          }
        }
      }
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background-color: #fff;
          border: solid 1px rgba(0, 0, 0, 0.14);
          border-radius: 4px;
        }
      }
    }

    &.ng-untouched {
      &.mat-focused {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            border: solid 1px #2c62c8;
            background-color: #f8fbff;
          }
        }
      }

      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background-color: #fff;
          border: solid 1px rgba(0, 0, 0, 0.09);
          border-radius: 4px;
        }
      }
      
    }

    &.mat-form-field-invalid {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      &.mat-focused {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            border: solid 1px red;
            background-color: #f8fbff;
          }
        }
      }

      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background-color: #fff;
          border: solid 1px red;
          border-radius: 4px;
        }
      }
    }
    .mat-form-field-subscript-wrapper {
      margin-top: -1px;
      background-color: red;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      .mat-error {
        color: #fff;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
    &.mat-form-field-disabled{
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          background-color: #fff;
          border: solid 1px rgba(0, 0, 0, 0.14);
          border-radius: 4px;
          opacity: 0.5;
        }
      }
    }

    .mat-select
    {
      &.mat-select-disabled
      {
        .mat-select-arrow
        {
          border-color: #ccc;
        }
      }
    }
    .mat-select-arrow-wrapper
    {
      .mat-select-arrow
    {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
    box-sizing: border-box;
    height: 0.6vw;
    width: 0.6vw;
    border-style: solid;
    border-color: black;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    }
    }
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

::ng-deep .mat-simple-snackbar-action {
  color: white;
}

::ng-deep.mat-snack-bar-container
{
    &.custom_sneak_bar{
    background: #12C637;
    color: #000;
    font-weight: bold;
    min-height: auto;
    padding:0px;
    ::ng-deep .mat-simple-snackbar
    {
      span{
        display: inline-block;
        @include padding(8px, 12px, 8px, 12px);
      }
      ::ng-deep .mat-simple-snackbar-action
    {
      color: black;
      button
      {
        max-height: inherit;
    min-width: 0;
    background-color: #00D22B;
    line-height: initial;
    padding: inherit;
    margin: inherit;
    position: relative;
    left: -18px;
    &:hover
    {
      background-color: #00D22B;
      opacity: 9 !important;
    }
      }
    }
    }
    
             }
           &.custom_error_sneak_bar{
              background: #ff4c44;
              color: white;
              font-weight: bold;
                       }          
}
//end


// start
.mt-cust-fd-com {
 
  ::ng-deep .mat-form-field {
    width: 100%;
    
    &.ng-dirty {
      &.mat-focused {
        .mat-form-field-wrapper {
          padding-bottom: 0px;
          .mat-form-field-flex {
            border: solid 1px rgba(0, 0, 0, 0.14);
            background-color: #e5eeff;
          }
        }
      }
      .mat-form-field-wrapper {
        padding-bottom: 0px;
        .mat-form-field-flex {
          background-color: #e5eeff;
          border: solid 1px rgba(0, 0, 0, 0.14);
          border-radius: 4px;
        }
      }
    }

    &.ng-valid {
      &.mat-focused {
        .mat-form-field-wrapper {
          padding-bottom: 0px;
          .mat-form-field-flex {
            border: solid 1px rgba(0, 0, 0, 0.14);
            background-color: #e5eeff;
          }
        }
      }
      .mat-form-field-wrapper {
        padding-bottom: 0px;
        .mat-form-field-flex {
          background-color: #e5eeff;
          border: solid 1px rgba(0, 0, 0, 0.14);
          border-radius: 4px;
        }
      }
    }

    &.mat-form-field-appearance-fill {
      &.mat-focused {
        .mat-form-field-wrapper {
          padding-bottom: 0px;
          .mat-form-field-flex {
            border: solid 1px rgba(0, 0, 0, 0.14);
            background-color: #e5eeff;
          }
        }
      }
      .mat-form-field-wrapper {
        padding-bottom: 0px;
        .mat-form-field-flex {
          background-color: solid 1px rgba(0, 0, 0, 0.14);
          border: solid 1px rgba(0, 0, 0, 0.14);
          border-radius: 4px;
          .mat-input-element
          {
            height: 100px;
          }

        }
      }
      .mat-form-field-label-wrapper
      {
        top: 0;
        padding-top: 0;
        margin-top: -14px;
      }
      &.mat-form-field-can-float
      {
        &.mat-form-field-should-float
        {
          .mat-form-field-label
          {
            display: none;
          }
        }
      }
    }

    &.ng-untouched {
      &.mat-focused {
        .mat-form-field-wrapper {
          padding-bottom: 0px;
          .mat-form-field-flex {
            border: solid 1px rgba(0, 0, 0, 0.14);
            background-color: #e5eeff;
          }
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 0px; 
        .mat-form-field-flex {
          background-color: #e5eeff;
          border: solid 1px rgba(0, 0, 0, 0.09);
          border-radius: 4px;
        }
      }
      
    }
    &.mat-focused
    {
      .mat-form-field-label
      {
        color:black;
      }
    }
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
 ::ng-deep .mat-slide-toggle
 {
   &.mat-checked
   {
    .mat-slide-toggle-label
    {
      .mat-slide-toggle-bar
      {
        background-color: #345d9d;
        .mat-slide-toggle-thumb-container
      {
       left: 0px;
        .mat-slide-toggle-thumb
        {
         background-color: #fff;
        }
      }
      }
    }
   }
  .mat-slide-toggle-label
  {
    .mat-slide-toggle-bar
    {
      width: 30px;
      .mat-slide-toggle-thumb-container
      {
        top: 1px;
    left: 2px;
        .mat-slide-toggle-thumb
        {
          width: 12px;
          height: 12px;
        }
      }

    }
  }
 }
}

//end

//startloader
// Functions
@function colour($value) {
  @return map-get($colours, $value);
}

// Variables
$preloader-height: 5px;

$colours: (
  green:  #159756,
  red:    #da4733,
  blue:   #3b78e7,
  yellow: #fdba2c
);

$animation-duration: 3.5s;
.header_load
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  backdrop-filter: blur(8px);
}
.header_load [role="progressbar"][aria-busy="true"] {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: $preloader-height;
  width: 100%;
  background-color: colour(green);
  animation: preloader-background linear $animation-duration infinite;
  
  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 0;
    height: $preloader-height;
    background: #afa;
    animation: preloader-front linear $animation-duration infinite;
    content: '';
  }
  
  &::before {
    right: 50%;
  }
  
  &::after {
    left: 50%;
  }
}

// Animations
@keyframes preloader-background {
  0%, 24.9% {
    background-color: colour(green);
  }
  
  25%, 49.9% {
    background-color: colour(red);
  }
  
  50%, 74.9% {
    background-color: colour(blue);
  }
  
  75%, 100% {
    background-color: colour(yellow);
  }
}

@keyframes preloader-front {
  0% {
    width: 0;
    background-color: colour(red);
  }
  
  24.9% {
    width: 50%;
    background-color: colour(red);
  }
  
  25% {
    width: 0;
    background-color: colour(blue);
  }
  
  49.9% {
    width: 50%;
    background-color: colour(blue);
  }
  
  50% {
    width: 0;
    background-color: colour(yellow);
  }
  
  74.9% {
    width: 50%;
    background-color: colour(yellow);
  }
  
  75% {
    width: 0%;
    background-color: colour(green);
  }
  
  
  100% {
    width: 50%;
    background-color: colour(green);
  }
}

//end loader


.cus_check {
  font-size: 0.84rem;
  font-weight: bold;
  ::ng-deep
    .mat-checkbox-checked.mat-accent
    .mat-checkbox-ripple
    .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #2258bf !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #2258bf;
  }
  ::ng-deep .mat-checkbox-inner-container {
    margin-right: 5px;
  }
}

.cus_bt {
  background-color: #2258bf;
  color: white;
  border-radius: 50px;
  width: 156px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

