@import "../../../assets/scss/mixins";

#nav-icon1 {
    display: inline-block;
  cursor: pointer;
  @include position(relative);
  @include heightwidth(25px, 15px);
  @include transform(rotate(0deg));
  @include transition(0.5s ease-in-out);
  @include margin(2px,15px,initial,15px);
  span {
    display:block;
    background: #9490ae;
    opacity: 1;
    @include border-radius(90px);
    @include position(absolute,initial,inherit,inherit,0);
    @include heightwidth(100%,3px);
    @include transform(0deg);
    @include transition(0.25s ease-in-out);
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 0.3755rem;
      
    }
    &:nth-child(3) {
      bottom: 0px;
      width: 60%;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 6px;
        @include transform(rotate(135deg));
      }
      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3) {
        top: 6px;
        width: 100%;
        @include transform(rotate(-135deg));
      }
    }
  }
}

/* Icon 2 */

.logo_wrp
{
    display: inline-block;
    img
    {
        width: 92px;
        display: block;
    }
}

.not_alt
{
  position: relative;
  @include margin(inherit,50px,inherit,inherit);
  background-color:#e5eeff;
  // opacity: 0.5;
  @include font-size(1.2);
  @include border-radius(40px);
  @include padding(10px,12px,8px,12px);
  img
  {
    @include heightwidth(21px,auto);
  }
  span{
    position: absolute;
    font-size: 0.555rem;
    background-color: #2258bf;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #fff;
    top: -1px;
    right: -10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    top: -1px;
    right: -6px;
    text-align: center;
    font-weight: 600;
  }
}