<div xLayout="row" fxLayoutAlign="start center">
    <div id="nav-icon1" class="" (click)="hamev()"  
    [ngClass]="this.commonService.menu_status ? 'open' : 'close'">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <!-- <div class="logo_wrp">
        <img src="assets/images/DealHUB_logo.png" >
    </div> -->
</div>
<div class="uer_dt">
    <div class="uer_dt_in">
        <div class="user_dt_img">
            <img src="assets/images/user_login.png">
        </div>
    
       <p>{{UserName}} ({{RoleName}})</p> 
        
    </div>
    
   

<div class="not_alt" (click)="not_view()">
    
     
   
    <img src="assets/images/notification_icon.png">
    <span *ngIf=" this.commonService.notificationDetails != undefined" >
        <!-- {{this.commonService.notificationDetails == undefined || this.commonService.notificationDetails.length==0?'0' :this.commonService.notificationDetails.length}} -->
    </span>
</div>
</div>