@import "../../../assets/scss/mixins";

#nav-icon1 {
    display: inline-block;
  cursor: pointer;
  @include position(relative);
  @include heightwidth(25px, 15px);
  @include transform(rotate(0deg));
  @include transition(0.5s ease-in-out);
  @include margin(2px,15px,initial,15px);
  span {
    display:block;
    background: #9490ae;
    opacity: 1;
    @include border-radius(90px);
    @include position(absolute,initial,inherit,inherit,0);
    @include heightwidth(100%,3px);
    @include transform(0deg);
    @include transition(0.25s ease-in-out);
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 0.3755rem;
      
    }
    &:nth-child(3) {
      bottom: 0px;
      width: 60%;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 6px;
        @include transform(rotate(135deg));
      }
      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3) {
        top: 6px;
        width: 100%;
        @include transform(rotate(-135deg));
      }
    }
  }
}

/* Icon 2 */

.uer_dt
{
  display: flex;align-items: center;
  .uer_dt_in
  {
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 0.75rem;
    font-weight: 500;line-height: initial;
    position: relative;
    &::after
    {
      content: "";
    position: absolute;
    right: 0;
    top: 15%;
    border: 1px solid #909090;
    height: 70%;
    opacity: 0.25;
    }
    p
    {
      color: #342e59;
      margin: 0px;
      font-size: 0.75rem;
      font-weight: 500;
    }
    .user_dt_img
    {
      background-color: #f8f8f8;
    padding: 20px;
    border-radius: 50%;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
      img{
        width: 18px;
      }
    }
  }
}

.logo_wrp
{
    display: inline-block;
    img
    {
        width: 105px;
        display: block;
    }
}

.not_alt
{
  position: relative;
  @include margin(inherit,50px,inherit,inherit);
  background-color:transparent;
  // opacity: 0.5;
  @include font-size(1.2);
  @include border-radius(40px);
  @include padding(10px,12px,8px,12px);
  img
  {
    @include heightwidth(21px,auto);
  }
  span{
    position: absolute;
    font-size: 0.555rem;
    background-color: red;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #fff;
    width: 9px;
    height: 9px;
    line-height: 18px;
    top: 8px;
    right: 12px;
    text-align: center;
    font-weight: 600;
  }
}