<div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont" >
  
    <div class="com_title"> User Master </div>
    
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mas_filter">
        <div class="serch_box_ms">
        
            <div class="search_con">
            <input type="text" [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()">
        </div>
        <div class="search_icon"><img src="assets/images/search_icon.png"></div>

       
        </div>
        <div> <button mat-flat-button class="creat_bt cu_width" (click)="Showdiv()" style="margin-left: 20px;" >Create</button></div>
    </div>
    
</div>

<div  fxLayout="column" fxLayoutAlign=" none"  class="con_data"  >
  <div *ngIf="displaydiv" class="edit_masters">
    <div class="edit_heda">
      Edit : NIKESH BHABAL
    </div>
    <form [formGroup]="_masterservice.usermasterform">
      <div class="edit_body">
        <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
   <div fxFlex="50" class="edit_body_in">
     <div class="mt-cust-fd">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Enter User Code</mat-label>
      <input matInput formControlName="usercode" />
      <mat-error *ngIf="_masterservice.usermasterform.controls.usercode.errors?.required">
        User Code is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</div>
   <div fxFlex="50" class="edit_body_in">
    <div class="mt-cust-fd">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter First Name</mat-label>
        <input matInput formControlName="firstname" />
        <mat-error *ngIf="_masterservice.usermasterform.controls.firstname.errors?.required">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
   </div>
        </div>
        <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
         <div class="edit_body_in" fxFlex="50" >
          <div class="mt-cust-fd">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Enter Last Name</mat-label>
              <input matInput formControlName="lastname" />
              <mat-error *ngIf="_masterservice.usermasterform.controls.lastname.errors?.required">
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
         </div>
         <div class="edit_body_in" fxFlex="50">
          <div class="mt-cust-fd">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Select Role</mat-label>
              <mat-select  formControlName="role"  [errorStateMatcher]="matcher" disableOptionCentering>
                <mat-option *ngFor="let roles of mst_roles_array" [value]="roles.value">
    
                  {{roles.role_name}}
                </mat-option>
                
              </mat-select>
              <mat-error *ngIf="_masterservice.usermasterform.controls.role.errors?.required">
                Role is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
         </div>
              </div>
       </div>
       <div class="edit_body">
         <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
    <div fxFlex="50" class="edit_body_in">
      <div class="mt-cust-fd">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Enter Email ID</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="_masterservice.usermasterform.controls.email.errors?.required">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="_masterservice.usermasterform.controls.email.errors?.email">
            Email is not <strong>correct</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50" class="edit_body_in">
      <div class="mt-cust-fd">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Enter Mobile Number</mat-label>
          <input type="number" matInput formControlName="mobile" />
          <mat-error *ngIf="_masterservice.usermasterform.controls.mobile.errors?.required">
            Mobile number is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="_masterservice.usermasterform.controls.mobile.errors?.pattern">
            Mobile number must be <strong>10 digits</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
         </div>
         
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between top" fxFlex="50" >
              <div class="edit_body_in" fxFlex="96.5">
                <div class="search_select" (click)="showhidebranchFn()">
                  <div>Select Branch</div>
                </div>
                <div class="search_select_chip"  [ngStyle]="{'display': (branchchips.length > 0) ? 'block' : 'none'}">
                  <perfect-scrollbar class="perfect_scroll_com">
                   <div fxLayout="row" fxLayoutAlign=" none">
                    <div class="search_chip_box"  *ngFor="let branch of branchchips" > {{branch.viewValue}}<img src="../../../assets/images/chip_cross.png" (click)="removesearch(branch)"></div>
                    </div>
                  </perfect-scrollbar>
                  
              </div>
              <!-- <div><button (click)="showhideverticalFn()">show / hide</button></div> -->
              <div *ngIf="showhidebranch" class="search_select_list" (clickOutside)="showhidebrranchfn_out()" >
                <div class="search_select_list_in">
                  <div class="search_con_lis">
                    <input matInput  autocomplete="off" matInput placeholder="Search" [formControl]="branchSearchControl" />
                    <img src="../../../assets/images/auto_search.png">
                  </div>
                  <div class="select_all_con cus_check" *ngIf="(filteredSearchData | async)?.length == barnch_array_selected.length">
                    <mat-checkbox [checked]="allbranchselected" #allbranchchck  (change)="selectallbranch($event)" (click)="$event.stopPropagation()">
                        Select All
                  </mat-checkbox>
                  <div class="clear_all_lab" (click)="ClearAllBranch()">Clear All</div>
                </div>
                  <perfect-scrollbar class="perfect_scroll_com" style="height: 120px;">
                    
                  <div class="select_all_con cus_check" *ngFor="let data of filteredSearchData | async">
                    <mat-checkbox [checked]="data.selected" (change)="toggleSelection($event,data)" (click)="$event.stopPropagation()">
                      {{ data.viewValue }}
                </mat-checkbox>
              </div>
                  </perfect-scrollbar>
                </div>
                
                
                
              </div>
              </div>
         </div>
      
        </div>

        <div class="edit_body">
          <div class="edit_body_out" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50" >
            <div class="edit_body_in" fxFlex="96.5">
              <div class="search_select"  (click)="showhideverticalFn()">
                <div>Select Verticals</div>
              </div>
              <div class="search_select_chip"  [ngStyle]="{'display': (verticalchips.length > 0) ? 'block' : 'none'}">
                <perfect-scrollbar class="perfect_scroll_com">
                 <div fxLayout="row" fxLayoutAlign=" none">
                  <div class="search_chip_box"  *ngFor="let vertical of verticalchips" > {{vertical.viewValue}}<img src="../../../assets/images/chip_cross.png" (click)="removesearchvertical(vertical)"></div>
                  </div>
                </perfect-scrollbar>
                
            </div>
            <!-- <div><button (click)="showhideverticalFn()">show / hide</button></div> -->
            <div *ngIf="showhidevertical" class="search_select_list"  (clickOutside)="clickOutside()" >
              <div class="search_select_list_in">
                <div class="search_con_lis">
                  <input matInput  autocomplete="off" matInput placeholder="Search" [formControl]="vericalSearchControl" />
                  <img src="../../../assets/images/auto_search.png">
                </div>
                <div class="select_all_con cus_check" *ngIf="(filteredSearchDatavertical | async)?.length == vertical_array_selected.length">
                  <mat-checkbox #allverticalchck [checked]="allverticalselected"  (change)="selectallvertical($event)" (click)="$event.stopPropagation()">
                      Select All
                </mat-checkbox>
                <div class="clear_all_lab" (click)="ClearAllVerticals()">Clear All</div>
              </div>
                <perfect-scrollbar class="perfect_scroll_com" style="height: 120px;">
                  
                <div class="select_all_con cus_check" *ngFor="let data of filteredSearchDatavertical | async">
                  <mat-checkbox [checked]="data.selected" (change)="toggleSelectionvertical($event,data)" (click)="$event.stopPropagation()">
                    {{ data.viewValue }}
              </mat-checkbox>
            </div>
                </perfect-scrollbar>
              </div> 
            </div>
            </div>
       </div>
       </div>
        <div>
          <div class="edit_footr">
          <button mat-flat-button class="creat_bt cu_width" (click)="SaveUsers()" [disabled]="_masterservice.usermasterform.invalid">Save</button>
          <button mat-flat-button class="creat_bt cu_width" (click)="hidediv()" >Cancel</button>
        </div>
        </div>
    </form>
    
  </div>
  
  <div class="fl_table_con">
    <perfect-scrollbar class="perfect_scroll_com"   style="    max-height: calc(100vh - 315px);
          background-color: white;
          height: 100vh;" >
    <table mat-table [dataSource]="listData" class="ms_table"  matSort>
        <ng-container *ngFor="let column of columns"  [matColumnDef]="column.columnDef">
  
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
                <mat-cell  *matCellDef="let row" >{{ column.cell(row) }}</mat-cell>   
        </ng-container>
        <ng-container  matColumnDef="usercash" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header>Is Cassh User</mat-header-cell>
          <mat-cell  *matCellDef="let row" >
            <div class="maser_toggel" >
              <div class="prev_dis mt-cust-fd-com">
                <mat-slide-toggle (change)="casshChange($event,row)" [checked]="row.is_cassh_user == 1" color="primary" ></mat-slide-toggle> 
              </div>
            </div>
            
          </mat-cell>
          <!-- <mat-cell *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell> -->
           </ng-container>
        <ng-container  matColumnDef="userlocked" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header>Is Locked</mat-header-cell>
          <mat-cell  *matCellDef="let row" >
            <img style="width: 18px;" [src]="row.islocked == 1 ? 'assets/images/unlock-alt.png' : 'assets/images/lock_icon.png'" (click)="lockunlockuser($event,row)">
          </mat-cell>
          <!-- <mat-cell *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell> -->
           </ng-container>
           <ng-container  matColumnDef="userstatus" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell  *matCellDef="let row" >
            <div class="cus_toggle_bt">
            <mat-button-toggle-group name="activegroup" aria-label="Font Style"  (change)="onToggleGroupChange($event,row)">
              <mat-button-toggle [checked]="row.active == 1" value="1">Active</mat-button-toggle>
              <mat-button-toggle [checked]="row.active == 0" value="0">Inactive</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          </mat-cell>
          <!-- <mat-cell *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell> -->
           </ng-container>
           <ng-container  matColumnDef="useraction" stickyEnd >
            <mat-header-cell  *matHeaderCellDef mat-sort-header style="min-width: 120px;padding-left: 7px;">Action</mat-header-cell>
          <mat-cell  *matCellDef="let row" style="min-width: 120px;padding-left: 7px;">
            <button mat-flat-button class="creat_bt view_bt"  (click)="getusereditdetails(row)">Edit</button>
          </mat-cell>
          <!-- <mat-cell *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell> -->
           </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    </perfect-scrollbar>
    <mat-paginator  style-paginator showFirstLastButtons   [length]="this.listData.filteredData.length"
                [pageSize]="7"
                >
        </mat-paginator>
  </div>
</div>

