<form [formGroup]="Dashboardvalid" >
  <!-- <div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont" style="    margin-top: -48px;" >
    <div class="com_title">dashboard</div>
    
 </div> -->
  <div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont" >
     
     <div fxLayout="row" fxLayoutAlign="space-between center" class="mas_filter">
      <!-- <input
      ngxDaterangepickerMd
      [(ngModel)]="selected"
      type="text"
      class="form-control"
      name="SearchDate"
      id="SearchDate"
      (change)="change($event)"  /> -->
  <div class="dash_date_wrp">
    <div class="d_icon ngx-daterangepicker-action" (click)="openDatepicker()" ><img class="ngx-daterangepicker-action" (click)="openDatepicker()" src="assets/images/date_icon.JPG"></div>
    <input type="text" matInput autocomplete="off"
    ngxDaterangepickerMd
    readonly="true"
    (datesUpdated)="datesUpdated($event)"
    [closeOnAutoApply]="true"
      [autoApply]="true"
      [linkedCalendars]="true"
    [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
    [(ngModel)]="selected" placeholder="Start Date -- End Date"
    name="daterange"/>
<!-- <p>
  <button class="ngx-daterangepicker-action" type="button" (click)="open()">Open</button>
 Selected: {{selected | json}}
</p> -->
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="mt-cust-fd mt-cust-fd-fillter" fxFlex="1 1 100%">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Status Filter</mat-label>
      <mat-select [formControl]="statusfiltercontrol" disableOptionCentering>
        <mat-option *ngFor="let filter of statusfilter" (onSelectionChange)="statusfiltermethod($event)" [value]="filter">{{filter}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mt-cust-fd mt-cust-fd-fillter" fxFlex="1 1 100%" style="margin-left: 10px;">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Search Filter</mat-label>
      <mat-select [formControl]="searchfiltercontrol" multiple disableOptionCentering>
        <!-- <mat-option *ngFor="let filter of searchfilterarr" (onSelectionChange)="selectfilter($event)" [value]="filter.value">{{filter.viewValue}}</mat-option> -->
        <mat-option *ngFor="let filter of searchKeys" (onSelectionChange)="selectfilter($event)" [value]="filter">{{filter.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>
      <div class="serch_box_ms" >
        
       <!-- <div class="search_con">
        <input type="text" *ngIf="!(autocompletearr.length > 0)" matInput placeholder="Search" [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()">
         <input type="text" *ngIf="autocompletearr.length > 0" matInput placeholder="Search"  [formControl]="searchControl" [matAutocomplete]="auto" >
         <mat-autocomplete #auto="matAutocomplete" >
          
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [matTooltip]="option" >
            <div>
              <mat-checkbox [checked]="false" (change)="toggleSelection($event,option)" (click)="$event.stopPropagation()">
            {{option}}
          </mat-checkbox>
          </div>
          </mat-option>
          <button (click)="filterdatafinal()">filterrrrrrr</button>
        </mat-autocomplete>
        
       </div> -->
       <div class="search_con search_top" style="width: auto;">
        <!-- <input type="text" *ngIf="!(autocompletearr.length > 0)" matInput placeholder="Search dsdsdsd" [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()"> -->
        <mat-chip-list #chipListSearch >
          <mat-chip  *ngFor="let search of filtersTodisplay"  [selectable]="selectable"
                   [removable]="removable" [matTooltip]="search.value +' ('+search.displayName+')'" (removed)="removesearch(search)">
                   {{search.value.length > 7?search.value.substring(0,7)+"...":search.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
         <!-- <input type="text" *ngIf="autocompletearr.length > 0" matInput placeholder="Search"  [formControl]="searchControl" [matAutocomplete]="auto" > -->
         <input type="text" 
         matInput placeholder="Search"
        [formControl]="searchControl" 
        [matAutocomplete]="auto"
        [matChipInputFor]="chipListSearch"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addSearch($event)" 
        >
        </mat-chip-list>
         <mat-autocomplete #auto="matAutocomplete" >
          
            <mat-option  *ngFor="let data of filteredSearchData | async" [value]="data" (onSelectionChange)="onValueSelect($event,data)" [matTooltip]="data.value +' '+data.displayName" >
              {{ data.value }} -- {{ data.displayName }}
          </mat-option>
          <!-- <button (click)="filterdatafinal()">filterrrrrrr</button> -->
        </mat-autocomplete>
        
       </div>

       <!-- <button class="search_close"  aria-label="Clear"*ngIf="this.searchControl.value" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button> -->
       <!-- <div class="search_icon"><img src="assets/images/search_icon.png"></div> -->
       <div class="search_icon"><img src="assets/images/search_icon.png"></div>
      
     </div>
    
      <!-- <div class="creat_bt"><span><img src="assets/images/create_icon.png" alt=""></span>create OBF</div> -->
    </div>
    <div>
      <button *ngIf="this.privilege_name == 'OBF Initiator'" mat-flat-button class="creat_bt bt_sp" style="padding:0 20px 0 20px"
      routerLink="/DealHUB/dashboard/Obf" >
      <!-- <img class="creat_bt_icon" src="assets/images/create_icon.png" alt=""> -->
      create OBF</button>
    </div>
  </div>
  <div  fxLayout="column" fxLayoutAlign=" none"  class="con_data"  >
    <div class="con_data_in"  *ngIf="filtersToSearch.length > 0 || this.dateselected || this.statusfilterselected" [ngStyle]="filtersToSearch.length > 0 || this.dateselected || this.statusfilterselected?{'height': '26px'} : {'height': '6'}"  style="    padding-bottom: 0px;
   height: 5px;
    margin-bottom: 7px;
    margin-top: -10px;" >
      
        <div class="serch_box_ms" style="width: 100%;
        display: flex;
        margin: 0;" >
          
          <!-- <div class="search_con">
           <input type="text" *ngIf="!(autocompletearr.length > 0)" matInput placeholder="Search" [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()">
            <input type="text" *ngIf="autocompletearr.length > 0" matInput placeholder="Search"  [formControl]="searchControl" [matAutocomplete]="auto" >
            <mat-autocomplete #auto="matAutocomplete" >
             
               <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [matTooltip]="option" >
               <div>
                 <mat-checkbox [checked]="false" (change)="toggleSelection($event,option)" (click)="$event.stopPropagation()">
               {{option}}
             </mat-checkbox>
             </div>
             </mat-option>
             <button (click)="filterdatafinal()">filterrrrrrr</button>
           </mat-autocomplete>
           
          </div> -->
          <div class="search_con search_top_view" style="display: inline-block;padding-top: 0px;">
           <!-- <input type="text" *ngIf="!(autocompletearr.length > 0)" matInput placeholder="Search dsdsdsd" [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()"> -->
           
           <mat-chip-list #chipListSearch style="float:left">
             <mat-chip *ngFor="let search of filtersToSearch" [selectable]="selectable"
                      [removable]="removable" [matTooltip]="search.value +' ('+search.displayName+')'" (removed)="removesearch(search)">
                      {{search.value.length > 7?search.value.substring(0,7)+"...":search.value}}
               <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
             </mat-chip>
            <!-- <input type="text" *ngIf="autocompletearr.length > 0" matInput placeholder="Search"  [formControl]="searchControl" [matAutocomplete]="auto" > -->
            <input style="display: none;" type="text" 
            matInput placeholder="Search"
           [formControl]="searchControl" 
           [matAutocomplete]="auto"
           [matChipInputFor]="chipListSearch"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="addSearch($event)" 
           >
           </mat-chip-list>
           
            <mat-autocomplete #auto="matAutocomplete" >
             
               <mat-option  *ngFor="let data of filteredSearchData | async" [value]="data" (onSelectionChange)="onValueSelect($event,data)" [matTooltip]="data.value +' '+data.displayName" >
                 {{ data.value }} -- {{ data.displayName }}
             </mat-option>
             <!-- <button (click)="filterdatafinal()">filterrrrrrr</button> -->
           </mat-autocomplete>
           
          </div>
   
          <!-- <button class="search_close"  aria-label="Clear"*ngIf="this.searchControl.value" (click)="onSearchClear()">
           <mat-icon>close</mat-icon>
         </button> -->
          <!-- <div class="search_icon"><img src="assets/images/search_icon.png"></div> -->
         
          <button mat-flat-button class="creat_bt fil_bt" style="position: absolute;
          padding: 5px 18px 5px 18px;
          line-height: initial;
          top: 2px;
          right: 14px;"  (click)="ResetallFilter()" *ngIf="filtersToSearch.length > 0 || this.dateselected || this.statusfilterselected">Clear All Filter</button>
          
        </div>
      
      
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="con_data_in">
      <div class="con_fil_box p_f_apr"   [ngClass]="{'active': highlight==='tab1'}">
        <div class="box_shead" (click)=" addColumn(0) "><img src="assets/images/p_f_a.png"></div>
        <div class="fil_hed_tit" (click)=" addColumn(0) "  >
         {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator'  ) ? ('Draft') : ('Pending for approval')}}
        </div>
        <div class="fil_had_no" (click)=" addColumn(0) " >
          <!-- {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator'  ) ? (this._dashboardcountModel[0]._draft) : (this._dashboardcountModel[0]._TotalPending)}} -->
          {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator'  ) ? (this.countparam.draftscount) : (this.countparam.draftscount)}}
        </div>
         <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf" (click)=" OBfcilck(0) ">
            <!-- OBF: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._draft_obf) : (this._dashboardcountModel[0]._pendingobf)}}  -->
            OBF: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this.countparam.draftsobfcount) : (this.countparam.draftsobfcount)}} 
          </div>
          <div class="lst_ppl" (click)=" PPLclick(0) ">
            <!-- PPL: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._draft_ppl) : (this._dashboardcountModel[0]._pendingppl)}}  -->
            PPL: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this.countparam.draftpplcount) : (this.countparam.draftpplcount)}} 
           </div>
        </div>
      </div>
      <div  class="con_fil_box approved"  [ngClass]="{'active': highlight==='tab2'}" >
        <div class="box_shead" (click)="addColumn(1)"><img src="assets/images/approved.png"></div>
        <div class="fil_hed_tit"   (click)="addColumn(1)" >
          {{((this.privilege_name) == 'OBF Initiator'||(this.privilege_name) == 'PPL Initiator' )? ('Submitted') : ('Approved')}}
        </div>
       
        <div class="fil_had_no"  (click)="addColumn(1)" >
       <!-- {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._submitted) : (this._dashboardcountModel[0]._approved)}} -->
       {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this.countparam.submittedcount) :(this.countparam.submittedcount)}}
        </div>
      
        <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf"  (click)=" OBfcilck(1) ">
            <!-- OBF: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._submitted_obf) : (this._dashboardcountModel[0]._approved_obf)}}  -->
            OBF: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this.countparam.submittedobfcount) : (this.countparam.submittedobfcount)}}
          </div>
        
          <div class="lst_ppl" (click)=" PPLclick(1) ">
             <!-- PPL: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._submitted_ppl) : (this._dashboardcountModel[0]._approved_ppl)}}  -->
             PPL: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this.countparam.submittedpplcount) : (this.countparam.submittedpplcount)}} 
          </div>
         
        </div>
      </div>
      <div  class="con_fil_box rejected"    [ngClass]="{'active': highlight==='tab3'}">
        <div class="box_shead" (click)="addColumn(2)"><img src="assets/images/rejected.png"></div>
        <div class="fil_hed_tit"  (click)="addColumn(2)" >
          Rejected
        </div>
        <div class="fil_had_no" (click)="addColumn(2)" >
          <!-- {{this._dashboardcountModel[0]._rejected}} -->
          {{this.countparam.rejectedcount}}
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf" (click)=" OBfcilck(2) ">
            <!-- OBF: {{this._dashboardcountModel[0]._rejected_obf}} -->
            OBF: {{this.countparam.rejectedobfcount}}
          </div>
          <div class="lst_ppl" (click)=" PPLclick(2) ">
            <!-- PPL: {{this._dashboardcountModel[0]._rejected_ppl}} -->
            PPL: {{this.countparam.rejectedpplcount}}
          </div>
        </div>
      </div>
      <div class="con_fil_box app_obf"  (click)="addColumn(3)"  [ngClass]="{'active': highlight==='tab4'}">
        <div class="box_shead"><img src="assets/images/approved_obf.png"></div>
        <div class="fil_hed_tit"  >
          approved obf
        </div>
        <div class="fil_had_no">
         <!-- {{this._dashboardcountModel[0]._totalapprovedobf}} -->
         {{this.countparam.approvedobfcount}}
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf">
            OBF: 1,058
          </div>
          <div class="lst_ppl">
            PPL: 1,456
          </div>
        </div> -->
      </div>
      <div class="con_fil_box app_ppl"  (click)="addColumn(4)"  [ngClass]="{'active': highlight==='tab5'}">
        <div class="box_shead"><img src="assets/images/approved_ppl.png"></div>
        <div class="fil_hed_tit" >
          approved ppl
        </div>
        <div class="fil_had_no">
          <!-- {{this._dashboardcountModel[0]._totalapprovedppl}} -->
          {{this.countparam.approvedpplcount}}
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf">
            OBF: 1,058
          </div>
          <div class="lst_ppl">
            PPL: 1,456
          </div>
        </div> -->
      </div>
      
    </div>
      <div class="fl_table_con" >
        <perfect-scrollbar class="perfect_scroll_com"   style="    max-height: calc(100vh - 315px);
        background-color: white;
        height: 100vh;" >
          <table mat-table [dataSource]="listData" class="ms_table" matSort>
            <ng-container  [matColumnDef]="theRemovedElement.columnDef">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="{{ theRemovedElement.header }}">{{ theRemovedElement.header }}</mat-header-cell>
              <mat-cell [matTooltip]="getToolTipData(row)" *matCellDef="let row">{{ theRemovedElement.cell(row) }}</mat-cell>
              
            </ng-container>
            <ng-container matColumnDef="ApprovalStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header >Approval Status</mat-header-cell>
              <mat-cell *matCellDef="let row"  (click)="getapprovalstatus(row)">
                <!--  -->
                <!-- <mat-icon><img src="assets/images/dwn_fil_icon.png" style="background-color: rgb(61, 61, 129);"></mat-icon> -->
                <!-- <div class="dwon_ic_con"><img src="assets/images/download_icon.png"></div> -->
                <div class="set-size charts-container">
                <div class="pie-wrapper pie-wrapper--solid progress-{{row.progresspercentage}}" [matMenuTriggerFor]="menunew_s" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" (mouseleave)="menuTrigger.closeMenu()">
    <span class="label"><span class="smaller">{{row.progresspercentage}}%</span></span>
  </div>
  <mat-menu class="nor_tool" #menunew_s="matMenu" [hasBackdrop]="false">
    <p>Current version:{{row.version_name}}</p> 
    </mat-menu>
</div>
            </mat-cell>
          </ng-container>
           
  
            <ng-container *ngFor="let column of columns"  [matColumnDef]="column.columnDef">
              <div *ngIf="column.columnDef == 'Current_Status'">
                <mat-header-cell class="{{column.header}}" *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
                <mat-cell class="{{column.header}}" *matCellDef="let row" >{{ column.cell(row) }} 
                  <div style="padding: 0;min-width: auto;background: transparent !important;cursor: pointer;"  *ngIf="row.is_on_hold==1" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" (mouseleave)="menuTrigger.closeMenu()" >
                    <img src="assets/images/on_hold_icon.png">
                  </div>
                  <mat-menu class="on_hold_view" style="display: block;" #menu="matMenu" [hasBackdrop]="false">
                    <h4>{{row.phase_code}} On Hold </h4> 
                    <p>Date: {{row.onhold_datetime | date}} </p> 
                    <p>Comment: {{row.onholdcomment}}</p> 
                    <p>Hold By: {{row.onhold_commentedby}}</p> 
                  </mat-menu> 
                  <!-- <div class="onhold_st"  *ngIf="row.is_on_hold==1" >
                    <div class="on_hold_view">
                   <h4>{{row.phase_code}} on Hold </h4> 
                   <p>Date: {{row.onhold_datetime | date}} </p> 
                   <p>Comment: {{row.onholdcomment}}</p> 
                   <p>Hold By: {{row.onhold_commentedby}}</p> 
                    </div> 
                   <div class="on_hold_info">i</div> 
                  </div> -->
                </mat-cell>
              </div>
              <div *ngIf="column.columnDef == 'Code'">
                <mat-header-cell class="{{column.header}}" *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
                <mat-cell class="{{column.header}}" *matCellDef="let row" >{{ column.cell(row) }}
                  
                  <mat-menu class="nor_tool" #menunew="matMenu" [hasBackdrop]="false">
                  <p> Download Coversheet</p> 
                  </mat-menu>
                  <mat-menu class="nor_tool" #menunew1="matMenu" [hasBackdrop]="false">
                    <p>{{row.IsFinalAggUpload==0 ?'No Final Agreement to Download':' Download Final Aggreement' }}  </p> 
                    </mat-menu>
                  <div style="display: flex;">
                  <div class="dwon_ic_con_new" [matMenuTriggerFor]="menunew" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" (mouseleave)="menuTrigger.closeMenu()" ><img (click)="downloaddetailobf(row)"  src="assets/images/download-iconnew.png"></div>
                  <div class="dwon_ic_con_new" style="position: relative;"  [class.disablefinalagg]="row.IsFinalAggUpload==0"  [matMenuTriggerFor]="menunew1" #menuTriggerNew="matMenuTrigger" (mouseover)="menuTriggerNew.openMenu()" (mouseleave)="menuTriggerNew.closeMenu()">
                    <div style="position: absolute;
                    width: 20px;
                    height: 20PX;
                    background-color: transparent;
                    pointer-events: initial;
                    cursor: initial;" *ngIf="row.IsFinalAggUpload==0" [matMenuTriggerFor]="menunew1" #menuTriggerNew="matMenuTrigger" (mouseover)="menuTriggerNew.openMenu()" (mouseleave)="menuTriggerNew.closeMenu()"></div>
                    <img (click)="downloaddetailFinalAgg(row)" [src]="row.IsFinalAggUpload==0 ? 'assets/images/download_dis_icon.png' : 
                    'assets/images/download-iconnew.png'" >
                    <!-- <div>
                     {{row.IsFinalAggUpload==0 ? 'No final aggreement document to download':'Test'}}
                    </div> -->
                  </div>
                </div>
                </mat-cell>
              </div>
              <div *ngIf="column.columnDef == 'Opp_Id'">
                <mat-header-cell class="{{column.header}}" *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
                <mat-cell class="{{column.header}}" *matCellDef="let row" >{{ column.cell(row) }} 
                  <div class="copy" #copied  (click)="copyText(column.cell(row), copied)" >
                    <span>Copied</span>
                   <img src="assets/images/copay_icon.png"> 
                  
                  </div></mat-cell>
              </div>
              
              <div *ngIf="column.columnDef == 'Total_Cost'">
                <mat-header-cell class="{{column.header}}" *matHeaderCellDef mat-sort-header>{{column.header}}(₹cr)</mat-header-cell>
                <mat-cell class="{{column.header}}" *matCellDef="let row" >₹ {{ column.cell(row) }} <span></span></mat-cell>
              </div>
              <div *ngIf="column.columnDef == 'Total_Revenue'">
                <mat-header-cell class="{{column.header}}" *matHeaderCellDef mat-sort-header>{{column.header}}(₹ cr)</mat-header-cell>
                <mat-cell class="{{column.header}}"  *matCellDef="let row" >₹ {{ column.cell(row) }}</mat-cell>
              </div>
              <div *ngIf="column.columnDef == 'Gross_Margin'">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}%</mat-header-cell>
                <mat-cell  *matCellDef="let row">{{ column.cell(row) }}%</mat-cell>
              </div>
                <div *ngIf="column.columnDef == 'download'">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                <mat-cell  *matCellDef="let row"><a href="{{ column.cell(row) }}">download</a></mat-cell>
              </div>
              <div *ngIf="column.columnDef != 'download'">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
                <mat-cell  *matCellDef="let row" >{{ column.cell(row) }}</mat-cell>
              </div>
              
            </ng-container>
           
           
              <ng-container  matColumnDef="ActionDraft"  stickyEnd>
                <mat-header-cell class="headr-mat" style="min-width: 190px;padding-left: 28px;
                 "  *matHeaderCellDef mat-sort-header>
                  
                  Action
                </mat-header-cell>
               
                  <mat-cell *matCellDef="let row" style="min-width: 190px;padding-left: 10px;
                   " >
                  <button mat-flat-button class="creat_bt view_bt"  (click)="getOBFSummaryPage(row)">View</button>
                   <button mat-flat-button class="creat_bt edit_bt" (click)="editobf(row)">Edit</button>
                   
                  </mat-cell>
               </ng-container>
               
               <ng-container  matColumnDef="ActionPendingforapproval" stickyEnd >
                <mat-header-cell style="min-width: 190px;padding-left: 28px;
                 " *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              
                  <mat-cell style="min-width: 190px;padding-left: 10px;
                   " *matCellDef="let row" > 
                     <button mat-flat-button class="creat_bt view_bt"  (click)="getOBFSummaryPage(row)">View</button>
                      <button mat-flat-button class="creat_bt edit_bt" (click)="openModal(mytemplate,row)" >Edit</button>
                      
                    
                   </mat-cell>
               </ng-container>
               <ng-container  matColumnDef="ActionSubmitted" stickyEnd>
                <mat-header-cell style="min-width: 190px;padding-left: 28px;
                 " *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell *matCellDef="let row" style="min-width: 190px;padding-left: 10px;
               ">
                <button mat-flat-button class="creat_bt view_bt"  (click)="getOBFSummaryPage(row)">View</button>
               <button mat-flat-button class="creat_bt edit_bt" (click)="openModal(mytemplate,row)">Edit</button>
               
              </mat-cell>
               </ng-container>
               <ng-container  matColumnDef="ActionReinitialize" stickyEnd>
                <mat-header-cell  style="padding-left: 28px;
                 " [ngStyle]="{'min-width': (this.privilege_name == 'OBF Initiator' || this.privilege_name == 'PPL Initiator') ? '225px' : '190px'}" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell style="padding-left: 10px;
               " [ngStyle]="{'min-width': (this.privilege_name == 'OBF Initiator' || this.privilege_name == 'PPL Initiator') ? '225px' : '190px'}" *matCellDef="let row" >
                <button mat-flat-button class="creat_bt view_bt"  (click)="getOBFSummaryPage(row)">View</button>
               <button mat-flat-button class="creat_bt edit_bt" *ngIf="this.privilege_name == 'OBF Initiator' || this.privilege_name == 'PPL Initiator'"  (click)="reinitiateobf(row)">Re-initiate</button>
               
              </mat-cell>
               </ng-container>
               <ng-container  matColumnDef="ActionApprovedOBF" stickyEnd>
                <mat-header-cell style="padding-left: 28px;
                 " [ngStyle]="{'min-width': (this.privilege_name == 'PPL Initiator') ? '325px' : '190px'}" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                 <mat-cell style="padding-left: 10px; 
                  " [ngStyle]="{'min-width': (this.privilege_name == 'PPL Initiator') ? '325px' : '190px'}" *matCellDef="let row" 
                  >
                  <button mat-flat-button class="creat_bt view_bt"  (click)="getOBFSummaryPage(row)">View</button>
                <button mat-flat-button class="creat_bt edit_bt" (click)="openModal(mytemplate,row)">Edit</button>
               
                <div class="prev_dis"  [matMenuTriggerFor]="menunew_PI" #menuPITrigger="matMenuTrigger" (mouseover)="menuPITrigger.openMenu()" (mouseleave)="menuPITrigger.closeMenu()">
                  <button *ngIf="this.privilege_name == 'PPL Initiator'"mat-flat-button class="creat_bt edit_bt" 
                  [disabled]="checkdisable(row)"  (click)="initiateppl(row)">{{row.ppl_init==1? 'PPL Initiated' :'Initiate PPL'}}</button>
                 
                </div>
                  <mat-menu   class="nor_tool" #menunew_PI="matMenu" [hasBackdrop]="false">
                    <div *ngIf="row.ppl_init==1">
                  <p>PPL is already initiated.</p>  
                  </div>
                </mat-menu>
              </mat-cell>
             
           
            
               </ng-container>
               <ng-container  matColumnDef="ActionApprovedPPL" stickyEnd>
                <mat-header-cell [ngStyle]="{'min-width': (this.privilege_name == 'PPL Initiator') ? '300px' : '190px'}" style="padding-left: 28px;
                 " *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell [ngStyle]="{'min-width': (this.privilege_name == 'PPL Initiator') ? '300px' : '190px'}" style="padding-left: 10px;
               " *matCellDef="let row" >
                <button mat-flat-button class="creat_bt view_bt"  (click)="getOBFSummaryPage(row)">View</button>
                <button mat-flat-button (click)="openModal(mytemplate,row)" class="creat_bt edit_bt">Edit</button>
                <button mat-flat-button class="creat_bt approv_bt" *ngIf="this.privilege_name == 'PPL Initiator'" (click)="reviseppl(row)">Revise PPL</button>
                
              </mat-cell>
              <!-- <mat-cell *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell> -->
               </ng-container>
               <ng-container  matColumnDef="ActionView" stickyEnd>
                <mat-header-cell style="min-width: 190px;padding-left: 28px;
                 " *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell style="min-width: 190px;padding-left: 10px;
               " *matCellDef="let row" >
                <button mat-flat-button class="creat_bt view_bt"  (click)="getOBFSummaryPage(row)">View</button>
              
              </mat-cell>
               </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
             
          </table>
          <!-- <div *ngIf="listData.filteredData.length == 0">No data Found</div> -->
          <div style="    display: flex;
          justify-content: center;
          flex-direction: inherit;
          position: fixed;
          height: auto;
          width: 100%;
          top: 50%;
          transform: translate(-50%, 3%);
          left: 50%;" *ngIf="listData.filteredData.length == 0">
            <img src="assets/images/no-data1.jpg" style="
            width: 270px;
        ">
          </div>
        </perfect-scrollbar>
        
        <!-- <mat-paginator style-paginator showFirstLastButtons [showTotalPages]="7" 
        [pageSize]="6"
        >
      </mat-paginator> -->
      <mat-paginator  #pagination style-paginator showFirstLastButtons  [length]="this.filterdata.length"
              [pageSize]="7"
              >
      </mat-paginator>
     
      </div>
      
   </div>
   </form>
   <div>
    <ng-template #mytemplate>
      <form [formGroup]="_obfservices.ObfCreateForm">
        <div class="pop_title_wrp"><div class="pop_head_titl edit_titl">Edit</div> <a mat-dialog-close href="javascript:void(0)" class="close"></a></div>
        <mat-dialog-content class="mat-typography">
          <div class="edit_box_popup">
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center" >
              <div class="mt-cust-fd" fxFlex="1 1 100%">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select solution category</mat-label>
      <mat-select  formControlName="Solutioncategory"  [errorStateMatcher]="matcher" disableOptionCentering>
        <mat-option *ngFor="let Solution of Solutiongroup" [disabled]="dscdsbld" [value]="Solution.value"  (onSelectionChange)="onchange($event,Solution.Solutioncategory)">

          {{Solution.Solutioncategory}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Solutioncategory.errors?.required">
        Solution Category is <strong>required</strong>
      </mat-error>
                </mat-form-field>
              </div>
              <div class="mt-cust-fd" fxFlex="1 1 100%">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select type of service/solution category</mat-label>
                  <mat-select [formControl]="servicesControl" [errorStateMatcher]="matcher" multiple disableOptionCentering>
                    <!-- <mat-option>-- None --</mat-option> -->
                    <mat-optgroup *ngFor="let group of Solutionservicesarray" [label]="group.Solutioncategory"
                                  >
                      <mat-option *ngFor="let list of group.Serviceslist" [disabled]="true" (onSelectionChange)="onotherservicesoptionchange($event,list.viewValue,group.Solutioncategory,group.value)" [value]="list.value">
                        {{list.viewValue}} 
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                  <mat-error *ngIf="servicesControl.hasError('required')">
                    Services is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center" >
              <div class="mat_fld_box_in" fxFlex="1 1 100%">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Other Services</mat-label>
                    <input matInput formControlName="otherservices" id="abc" #otherservices style="margin-left: 10px;" (change)="otherssave($event,'services')" [errorStateMatcher]="matcher" required/>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherservices.errors?.required">
                      Services:Other is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherservices.errors?.invalidservices">
                      Special characters are not allowed
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="mat_fld_box_in" fxFlex="1 1 100%">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Other Solutions</mat-label>
                    <input matInput formControlName="othersolutions" style="margin-left: 10px;" (change)="otherssave($event,'solution')" [errorStateMatcher]="matcher" required/>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.othersolutions.errors?.required">
                      Solution:Other is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.othersolutions.errors?.invalidservices">
                      Special characters are not allowed
                    </mat-error>
                    </mat-form-field>
                </div>
              </div>
              <div class="mat_fld_box_in" fxFlex="1 1 100%">
                <div class="mt-cust-fd">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Other Integrated Solutions</mat-label>
                      <input matInput formControlName="otherintegratedsolutions" style="margin-left: 10px;" (change)="otherssave($event,'integratedsolution')" [errorStateMatcher]="matcher" required/>
                      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherintegratedsolutions.errors?.required">
                        Integrated Solution:Other is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherintegratedsolutions.errors?.invalidservices">
                        Special characters are not allowed
                      </mat-error>
                    </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center" >
              <div class="mt-cust-fd" fxFlex="1 1 100%">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Sector</mat-label>
                  <mat-select (selectionChange)="onsectorchange($event)" [errorStateMatcher]="matcher" formControlName="Sector" disableOptionCentering>
                    <mat-option *ngFor="let Sector of sectorlist" disabled [value]="Sector.value"  >
                      {{Sector.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sector.errors?.required">
                    Sector is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="mt-cust-fd" fxFlex="1 1 100%">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Select Sub Sector</mat-label>
                  <mat-select (selectionChange)="onsubsectorchange($event)"  [errorStateMatcher]="matcher" formControlName="Subsector" disableOptionCentering>
                    <mat-option *ngFor="let Subsector of subsectorlisdisplay" disabled [value]="Subsector.value"  >
                      {{Subsector.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Subsector.errors?.required">
                    Subsector is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between start" >
              <div class="mt-cust-fd" fxFlex="1 1 30%">
                <mat-form-field appearance="fill" class="example-full-width">
                             
                  <mat-label>Enter SAP Customer Code</mat-label>
                  <!-- <input matInput [(ngModel)]="_obfservices.obfmodel._sap_customer_code" [ngModelOptions]="{standalone: true}" placeholder="SAP Customer Code" /> -->
                  <input matInput type="number" formControlName="Sapcustomercode" (change)="fetchcustomercode()" placeholder="SAP Customer Code" />
                  <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sapcustomercode.errors?.invalidservices">
                    Special characters are not allowed
                  </mat-error>
                  <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sapcustomercode.errors?.Sionumberinvalid">
                    SAP Customer Code length must be <strong>8 digits</strong>
                  </mat-error>
              </mat-form-field>
              </div>
              <div class="mt-cust-fd" fxFlex="1 1 100%">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Enter SAP IO Number</mat-label>
      <mat-chip-list #chipList >
        <mat-chip *ngFor="let sapio of _obfservices.obfmodel.sapio" style="background-color:#419bf9;" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(sapio)">
          {{sapio._Cust_SAP_IO_Number}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="SAP IO ..." 
        type="text"
        matInput
        formControlName="Sapio"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
        autocomplete="off"
        >
      </mat-chip-list>
      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sapio.errors?.Sionumberinvalid">
        SAP IO Number length must be <strong>8 digits</strong>
      </mat-error>
      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sapio.errors?.invalidnumber">
        Only numbers are allowed
      </mat-error>
                </mat-form-field>
                
              </div>
            </div>
          </div>
          
        </mat-dialog-content>
        <mat-dialog-actions align="end">
<!-- <button mat-button mat-dialog-close>Cancel</button>
<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
<button mat-flat-button class="creat_bt mat_fot_bt" mat-dialog-close>Cancel</button>
<button mat-button mat-flat-button class="creat_bt cu_width"  [disabled]="_obfservices.ObfCreateForm.invalid" (click)="editSubmit()">Submit</button>
</mat-dialog-actions>
      
    </form>
 </ng-template>
   </div>
  <div>
    <ng-template #callAPIDialog>
    <div class="pop_title_wrp"><div class="pop_head_titl" style="font-size: 1rem;">Approval Status</div> <a mat-dialog-close href="javascript:void(0)" class="close"></a></div>
      <mat-dialog-content class="mat-typography">
        <div class="edit_box_popup">
          <div id="flowBoxes" >
          
            <div class="right view_{{details.is_stage_completed}}"  title="" *ngFor="let details of this.approvalstatusdetail.Approvaldetail"> {{details.role_name}}
               <img [src]="details.is_stage_completed==-2? 'assets/images/on_hold_icon.png' : 
               details.is_stage_completed==-1 ? 'assets/images/Reject-icon.png': 'assets/images/tick_icon.png' " ></div>
            
    </div>

<!-- <div *ngFor="let details of this.approvalstatusdetail.Approvaldetail"> 
  {{details.is_stage_completed}}
  </div> -->
          <!-- <div>
          <span>
            <label *ngFor="let details of this.approvalstatusdetail.Approvaldetail">
              {{details.role_name}}
            </label>
          </span>
        </div> -->
        <div class="cust-accor-as">
        <mat-accordion>
          <mat-expansion-panel  [expanded]="details.is_latest_version==1"  (opened)="GetComment(details.dh_id,details.dh_header_id)"  *ngFor="let details of this.approvalstatusdetail.versiondetail" >
            <mat-expansion-panel-header   collapsedHeight="60px" expandedHeight="60px">
              <mat-panel-title [class.frs_set_active]="details.is_latest_version==1">
                <img class="is_curr_ve" src="assets/images/acitve_as.png" >
                <div class="mat_previe_box">
                  <div class="prev_tit">
                  {{details.is_latest_version==1?'Current Version':'Version'}} 
                  </div>
                  <div class="prev_dis">
                   {{details.version_name}}
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                 Code
                </div>
                <div class="prev_dis">
                 {{details.dh_code}}
                </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
               Date
              </div>
              <div class="prev_dis">
               {{details.datecreated | date}}
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit" >
             Project Name
            </div>
            <div class="prev_dis" [matMenuTriggerFor]="menunew_P" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" (mouseleave)="menuTrigger.closeMenu()">
            {{details.dh_project_name.length > 100 ?details.dh_project_name.substring(0,50)+"...": details.dh_project_name}}
            </div>
            <mat-menu class="nor_tool" #menunew_P="matMenu" [hasBackdrop]="false">
              <p>{{details.dh_project_name}}</p> 
              </mat-menu>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Opportunity Id
            </div>
            <div class="prev_dis">
             {{details.opportunity_id}}
            </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Vertical Name
            </div>
            <div class="prev_dis">
             {{details.vertical_name}}
            </div>
           </div>
               
                <!-- <div  fxLayout="row" fxLayoutAlign="space-between start" class="mat_fld_box_wrp prm_mat_fld_box_wrp">
                  <div class="mat_previe_box">
                    <div class="prev_tit">
                     {{ details.is_latest_version==1? 'Current Version':'Version' }} 
                    </div>
                    <div class="prev_dis">
                     {{details.version_name}}
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                   Code
                  </div>
                  <div class="prev_dis">
                   {{details.dh_code}}
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                 Date
                </div>
                <div class="prev_dis">
                 {{details.datecreated}}
                </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
               Project Name
              </div>
              <div class="prev_dis">
               {{details.dh_project_name}}
              </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
                opportunity Id
              </div>
              <div class="prev_dis">
               {{details.opportunity_id}}
              </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
                Vertical Name
              </div>
              <div class="prev_dis">
               {{details.vertical_name}}
              </div>
             </div>
                </div> -->
              </mat-panel-title>

            </mat-expansion-panel-header>
            <table>
              <tr>
                <th>
                  User Name
                </th>
                <th>
                  Timeline
                </th>
                <th>
                  Status
                </th>
                <th>
                  Comments
                </th>
              </tr>
              <tr *ngFor="let timeline of filterdataforcomment">
                <td>
                  {{timeline.username}}
                </td>
                <td>
                  {{timeline.TimeLine |date}}
                </td>
                <td>
                  {{timeline.currentstatus}}
                </td>
                <td>
                  {{timeline.comments}}
                </td>
              </tr>
            </table>
            <!-- <div  fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp" *ngFor="let timeline of filterdataforcomment">
              <div class="mat_previe_box">
                <div class="prev_tit">
                User Name
                </div>
                <div class="prev_dis">
                 {{timeline.username}}
                </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
              Timeline
              </div>
              <div class="prev_dis">
               {{timeline.TimeLine}}
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
            Status
            </div>
            <div class="prev_dis">
             {{timeline.currentstatus}}
            </div>
         </div>
         <div class="mat_previe_box">
          <div class="prev_tit">
          Comments
          </div>
          <div class="prev_dis">
           {{timeline.comments}}
          </div>
        </div>
            </div> -->
          </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
      </mat-dialog-content>
      
      </ng-template>
  </div>
  <div>
    <ng-template #resetDialog>
      <form [formGroup]="loginvalid">
        <!-- <div class="pop_title_wrp"><div class="pop_head_titl edit_titl">&nbsp;</div> <a mat-dialog-close href="javascript:void(0)" class="close"></a></div> -->
      <mat-dialog-content class="mat-typography chan_pass_con">
        <div class="chang_pass_box_popup">
          <div class="pass_logo_title">
            <a mat-dialog-close href="javascript:void(0)" class="close"></a>
            <img src="assets/images/change_pass.png">
            <h3>Change Password</h3>
            <p>You are almost there now, enter your new password and 
              confirm it. </p>
          </div>
         
              <div class="chang_pass_form">
                
                  <div class="mt-cust-fd-bg-color "  >
                      <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>Current Password</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="CurrentPassword" autocomplete="off">
                              <mat-error *ngIf="checkError('CurrentPassword', 'required')">Current Password is required</mat-error>
                              <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              <!-- <mat-error *ngIf="loginvalid.controls.CurrentPassword.errors?.pattern">Password must be 8 characters in length, must contain atleast one lowercase & uppercase & numbers & special characters</mat-error> -->
                              <mat-error *ngIf="loginvalid.controls.CurrentPassword.errors?.invalidcharacters">Invalid Characters are not allowed</mat-error>
                        </mat-form-field>
                    </div>
              
                  
                      <div [class.lrg_err] ="loginvalid.controls.NewPassword.errors?.pattern" class="mt-cust-fd-bg-color"  >
                          <mat-form-field appearance="fill" class="example-full-width">
                              <mat-label>New Password</mat-label>
                              <input matInput [type]="hide1 ? 'password' : 'text'"  formControlName="NewPassword" autocomplete="off">
                                  <mat-error *ngIf="checkError('NewPassword', 'required')">New Password is required</mat-error>
                                  
                                  <mat-icon class="pointer" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  <mat-error class="cus_err" *ngIf="loginvalid.controls.NewPassword.errors?.pattern">Password must be 8 characters in length, must contain atleast one lowercase & uppercase & numbers & special characters</mat-error>
                                  
                                 
                                  <mat-error *ngIf="loginvalid.controls.NewPassword.errors?.invalidcharacters">Invalid Characters are not allowed</mat-error>
                            </mat-form-field>
                        </div>
                  
                  
                      <div class="mt-cust-fd-bg-color"  >
                          <mat-form-field appearance="fill" class="example-full-width">
                              <mat-label>Confirm Password</mat-label>
                              <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmpassword" [errorStateMatcher]="matcherreset" autocomplete="off">
                              <mat-icon class="pointer" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  <mat-error *ngIf="checkError('confirmpassword', 'required')">Confirm password is required</mat-error>
                                  <mat-error *ngIf="loginvalid.hasError('notSame')">
                                      Passwords do not match
                                    </mat-error> 
                            </mat-form-field>
                        </div>
                  
                  <!-- <div fxLayout="row" fxLayoutAlign="space-between center" >
                   
                      <div><button mat-flat-button class="cus_bt" color="primary" [disabled]="loginvalid.invalid" (click)="ResetPassword()">Reset Password</button></div>
                  </div> -->
      
               
           </div>
          

      </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <div style="margin: 0 auto;width: 360px;padding-bottom: 20px;">
        <button style="color:#2258bf;" mat-flat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button class="creat_bt bt_sp" [mat-dialog-close]="true" cdkFocusInitial [disabled]="loginvalid.invalid" (click)="ResetPassword()">Reset Password</button>
      </div>
      </mat-dialog-actions>
    </form>
    </ng-template>
  </div>
 