@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.filter_cont {
    @include padding(15px,50px,15px,50px);
}
.pointer{
    cursor: pointer;
}
.Edit {
    width: 45px;
    height: 28px;
    margin: 0 45px 33px 0;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .headerdiv{
    display: block;
    float: left;
    width: 100%;
  }

  .Icon-ionic-md-close {
    width: 21px;
    height: 21px;
   // margin: 12.6px 20.1px 0 31.5px;
    background-color:white;
   font-weight:bold;
   float:right;
  }
  

.com_title
{
    display: inline-block;
    text-transform: capitalize;
    @include font-size(1.4);
    @include font-weight(semi-bold);
    color:$thm-title-color;
}
.con_data
{
    @include padding(initial,50px,initial,50px);
    .con_data_in
    {
        @include padding(0px,0px,20px,0px);
        @include margin(initial,-10px,initial,-10px);
        .con_fil_box
        {

            color: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            @include position(relative);
            @include heightwidth(215px,100px);
            @include border-radius(15px);
            @include padding(15px,20px,15px,20px);
            @include margin(initial,10px,initial,10px);
            
            .box_shead
                {
                    @include position(absolute,0,0,inherit,inherit);
                    img
                    {
                        @include heightwidth(110px,inherit);
                    }
                }
            .fil_hed_tit
            {
                text-transform: uppercase;
                @include font-size(0.80);
                @include position(relative);
            }
            .fil_had_no
            {
                @include font-size(1.5);
                @include position(relative,1px);
                @include font-weight(bold);
            }
            .obl_ppf_con
            {
                @include heightwidth(initial,30px);
                @include position(relative);
                @include font-size(0.70);
                @include font-weight(semi-bold);
            }
            &.p_f_apr
            {
                background-color: #71b945;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    position: relative;
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #71b945;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.approved
            {
                background-color: #4a8cda;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #4a8cda;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.rejected
            {
                background-color: #ec401b;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #ec401b;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.app_obf
            {
                background-color: #6647bf;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #6647bf;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.app_ppl
            {
                background-color: #f37944;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #f37944;
                        position: absolute;
                        bottom: -12px;
                        
                    }
                }
            }
        }
    }
}
.serch_box_ms
{
    margin-left: 10px;
  @include position(relative);
    .search_con
    {
        border: solid 1px #eeeeee;
        @include border-radius(0px);
        @include heightwidth(200px,inherit);
        @include padding(5px,40px,5px,20px);
        background-color: $thm-bg;
        input
        {
            border: none;
            @include heightwidth(100%,30px);
            &:focus
            {
                outline: none;
            }
            &::placeholder
            {
                color: #ccc;
            }
        }
        
    }
    .fas
        {
            color: #eee;
            @include position(absolute,10px,15px,inherit,inherit);
            @include font-size(1.2);
        }
    .search_icon
    {
        @include position(absolute,11px,15px,inherit,inherit);
        img
        {@include heightwidth(18px,auto);}
    }
    .search_close
    {
        position: absolute;
    right: 9px;
    top: 8px;
    z-index: 9;
    background-color: white;
    border: none;
    }
}
.bt_sp
{
    @include margin(initial,initial,initial,10px);
    
}
.edit_bt
{
    @include padding(0,25px !important,0,25px !important);
    @include font-weight(medium);
    @include margin(0,7px,0,0);
   
}
.view_bt
{
    @include padding(0,10px !important,0,10px !important);
    @include font-weight(medium);
    @include margin(0,7px,0,0);
   background-color: transparent !important;
   color: #2258bf !important;
   font-style: italic;
   text-decoration: underline;
   ::ng-deep.mat-button-wrapper
   {
       text-decoration: underline;
   }
}
.reject_bt
{
    @include padding(0,25px,0,25px);
    background-color: $thm-rj-bt !important;
}
.approv_bt
{
    @include padding(0,25px,0,25px);
    // background-color: $thm-ap-bt !important;
}
.fl_table_con
{
    .perfect_scroll_com
    {
        padding-bottom: 9px;
        border-top-left-radius: 25px;
            border-top-right-radius: 25px;
    }
    ::ng-deep perfect-scrollbar > div > div.ps__rail-x {
        opacity: 9;
       
        .ps__thumb-x
        {
            background-color: #ccc;
        }
      }
    ::ng-deep .mat-paginator-range-actions{
       
        .mat-icon-button
        {
            border-radius: 0%;
            width: 30px;
            height: 30px;
            line-height: inherit;
            background-color: transparent !important;
            color: black !important;
            margin: 0 !important;
            border: 1px solid #dedede;
            .mat-paginator-icon
            {
                width: 14px;
            }
        }
        .mat-flat-button
        {
            min-width: auto;
            border-radius: 0px;
            line-height: 28px;
            padding: 0 10px;
            box-shadow: none;
            border: 1px solid #dedede;
            margin: 0px !important;
            font-size: 12px;
            &.mat-flat-button[disabled]
            {
                background-color: #2258bf !important;
                color: white;
                border: 1px solid #2258bf;
            }

        }
    }
    .ms_table
    {
        // width: 100%;
        // max-width: 120%;
        display: grid;
        background-color: transparent;
        
            .mat-row
            {
                // border-left: 1px solid rgba(0,0,0,.12);
                // border-right: 1px solid rgba(0,0,0,.12);
                border: 0px;
                border-left: 0px solid rgba(0,0,0,.12);
                border-right: 0px solid rgba(0,0,0,.12);
                &.mat-row:nth-child(odd)
                {
                    background-color: #fff;
                    display: flex;
                    align-items: stretch;
                    &.mat-table-sticky
                    {
                        background-color: #fff;
                        
                    }
                }
                &.mat-row:nth-child(2n+0)
                {
                    background-color: #fafafa;
                    display: flex;
                    align-items: stretch;
                    &.mat-table-sticky
                    {
                        background-color: #fafafa;
                    }
                }
                .mat-cell
                {
                    min-width: 150px;
                    word-break: break-word;
                    padding-right: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &.cdk-column-ProjectName
                    {
                        min-width: 180px;
                    }
                    &.cdk-column-Code
            {
                min-width: 175px;
                display: flex;
                justify-content: space-between;
            }
            &.cdk-column-Total_Cost
            {
                min-width: 115px;
                max-width: 115px
            }
            &.cdk-column-Current_Status
            {
                min-width: 115px;
                max-width: 115px
            }
            &.cdk-column-Total_Revenue
            {
                min-width: 125px;
                max-width: 125px;
            }
            &.cdk-column-Gross_Margin
            {
                min-width: 100px;
            }
            &.cdk-column-DetailedOBF
            {
                min-width: 90px;
            }
            &.cdk-column-FinalAgg
            {
                min-width: 100px;
            }
            &.cdk-column-ApprovalStatus
            {
                min-width: 115px;
            }
            &.mat-column-Project_Name
            {
                min-width: 180px;
                
            }
            &.mat-column-Opp_Id
            {
                min-width: 160px;
                padding-left: 12px;
                .copy{
                    &.copied
                    {
                        span{
                            display: inline-block;
    top: -25px;
    /* transition-delay: 1s; */
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: initial;
                        }
                    }
                    span{
                        content: "";
                        position: absolute;
                        width: 55px;
                        height: auto;
                        background-color: rgba(0, 0, 0, 0.05);
                        display: none;
                        top: -26px;
                        left: -27px;
                        text-align: center;
                        font-size: 12px;
                    }
                    display: flex;
                    margin-left: 5px;
                    cursor: pointer;
                    position: relative;
                    img{
                        width: 16px;
                    }
                }
            }
                    
                    &.mat-table-sticky
                    {
                        min-width: 250px;
                        
                        
                    }
                }
            }
        
        .mat-header-row
        {
            
            background-color: #fff;
            border-bottom: 1px solid rgba(0,0,0,.12);
            .mat-header-cell
        {
            color: #505050;
            opacity: inherit;
            min-width: 150px;
            padding-right: 10px;
            word-break: break-word;
            @include font-size(0.90);
            @include font-weight(bold);
            ::ng-deep.mat-sort-header-container
            {
                .mat-sort-header-button
                {
                    text-align: left;
                }
            }
            &.cdk-column-ProjectName
                    {
                        min-width: 180px;
                    }
            &.cdk-column-Code
            {
                min-width: 175px
            }
            &.cdk-column-Total_Cost
            {
                min-width: 115px;
                max-width: 115px
            }
            &.cdk-column-Current_Status
            {
                min-width: 115px;
                max-width: 115px
            }
            &.cdk-column-Total_Revenue
            {
                min-width: 125px;
                max-width: 125px;
            }
            &.cdk-column-Gross_Margin
            {
                min-width: 100px;
            }
            &.cdk-column-DetailedOBF
            {
                min-width: 90px;
            }
            &.cdk-column-FinalAgg
            {
                min-width: 100px;
            }
            &.cdk-column-ApprovalStatus
            {
                min-width: 115px;
            }
            &.mat-column-Project_Name
            {
                min-width: 180px;
            }
            &.mat-column-Opp_Id
            {
                min-width: 160px;
                padding-left: 12px;
            }

            &.mat-table-sticky
            {
               min-width: 250px;
               ::ng-deep .mat-sort-header-arrow
               {
                   display: none;
               }
            }
        }
        }
        
    }
}
.dash_date_wrp
{
    background-color: #fff;
    border: solid 1px #eeeeee;
    color: #342e59;
    overflow: hidden;
    @include padding(0,0px,0,0px);
    @include margin(initial,10px,initial,0px);
    @include heightwidth(215px,42px);
    // @include flexbox();
    @include font-weight(normal);
    @include font-size(0.80);
    .d_icon
    {
        align-items: center;
        border-left: 1px solid #eeeeee;
        float: right;
        height: 42px;
        display: flex;
        cursor: pointer;
        @include padding(0,10px,0,10px);
        @include position(relative,0px,initial,initial,initial);
        @include flexbox();
        
        img{
            display: inherit;
            @include heightwidth(20px,initial);
        }
    }
    input{
        width: auto;
        display: inline-block;
        height: 42px;
        border-top:transparent;
        border-color: transparent;
        border-left-color: #eeeeee;
        @include padding(0,0px,0,10px);
        @include margin(0,0px,10px,0px);
       

    }
}
.dwon_ic_con
{
    cursor: pointer;
    img
    {
       @include heightwidth(15px,initial);
    }
}
.dwon_ic_con_new
{
    background-color: #2258bf;
    cursor: pointer;
    border-radius: 20px;
    width: 28px;
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    img
    {
       @include heightwidth(12px,initial);
    }
    &.disablefinalagg
    {
        background-color: #C6C6C6;
        pointer-events: none;
    }
}

::ng-deep .mat-paginator-page-size{
    display: none !important;
}

::ng-deep .mat-paginator-range-label{
    display: none !important;
}



/*s*/
::ng-deep.cdk-overlay-container
{
    .cdk-overlay-backdrop
    {
        &.popupBackdropClass 
        {   
        background: rgba(255,255,255,0.5);
        backdrop-filter: blur(5px);
            
        }
        
    }
    .custom-modalbox
    {
        .mat_upload_box
                        {
                            cursor: pointer;
                        @include margin(inherit,0px,inherit,0px);
                        @include padding(0px,0px,0px,0px);
                        @include border-radius(2px);
                        .mat_upload_in_wr
                        {
                            .dro_wrp
                            {
                                position: relative !important; 
                                padding: 19px !important;
                                margin: 0 !important;
                                display: inline-block !important;
                                width: 100% !important;
                                max-width: 100% !important;
                                margin-top: 10px !important;
                                margin-bottom: 10px !important;
                                padding-right: 40px !important;
                                min-height: auto !important;
                                min-width: 100% !important;
                                height: auto !important;
                                background: #fff !important;
                                .ng-star-inserted
                                {
                                    opacity: 9;
                                    background-color: #FF352C;
                                    top: 20px;
                                    @include margin(2px,2px,initial,initial); 
                                }
                                .drop_lab_cs
                                {
                                    @include flexbox();
                                    align-items: center;
                                    .doc_icon
                                    {
                                        img
                                        {
                                            @include heightwidth(22px,initial);
                                        }
                                    }
                                    .doc_cont
                                    {
                                        line-height: initial;
                                        background-color: transparent;
                                        @include font-weight(semi-bold);
                                        @include font-size(0.8);

                                        div
                                        {
                                            margin-bottom: 2px;
                                            @include font-size(0.75);
                                            @include font-weight(normal);
                                        }
                                    }
                                }
                            }
                            .bt_uplad_con
                            {
                                text-align: right;
                                align-items: center;
                                justify-content: flex-end;
                                background: #D9E6FF;
                                border: 2px dashed #2258bf;
                                border-bottom: none;
                                border-top: 0px;
                                @include position(relative);
                                @include margin(-61px,initial,15px,initial);
                                @include padding(10px,15px,10px,10px);
                                @include flexbox();
                                .creat_bt
                                {
                                    @include border-radius(4px);
                                }
                                .cr_corner
                                {
                                    @include position(absolute,initial,initial,-9px,0);
                                    &::after
                            {
                                content: "";
                                position: absolute;
                                top: -9px;
                                right: -6px;
                                border-top: 80px solid transparent;
                                border-left: 80px solid #eaeaea;
                                width: 0;
                            }
                                }
                            }
                           .mat_upload_tit
                           {
                               .cus_check
                               {
                                   @include font-size(0.85);
                                   margin-top: -4px;
                                    position: relative;
                                    top: 4px;
                               }
                            text-transform: uppercase;
                            @include font-size(0.85);
                            @include font-weight(semi-bold);
                            @include padding(0px,0px,10px,0px);
                           }
                           .mat_up_con
                           {
                            border: 2px dashed #2258bf;
                            background-color: #e5eeff;
                            position: relative;
                            justify-content: start;
                            align-items: baseline;
                            
                            .matUp_lable
                            {
                                text-align: left;
                                @include flexbox();
                                @include margin(0,0,0,0);
                                @include padding(18px,initial,initial,18px);
                                img{margin-right: 7px}
                                .drap_titl
                                {
                                    line-height: initial;
                                    @include font-weight(semi-bold);
                                    @include font-size(1);
                                    color: $thm-text-color;
                                    
                                    .in_titl
                                    {
                                        @include font-weight(normal);
                                        @include font-size(0.9);
                                    }
                                }
                            }
                            
                           }
                          
                        }
                        }
                        .mat-dialog-content{
                            background-color: #eaeaea;
                            padding-top: 15px;
                            .edit_box_popup
                            {
                                min-width: 700px;
                                padding-top: 5px;
                            }
                            .chang_pass_box_popup
                            {
                                min-width: 524px;
                                background-color: #fff;
                                margin-left: -23px;
                                margin-right: -23px;
                                padding: 23px;
                                margin-top: -15px;
                                padding-bottom: 0px;
                                padding-top: 0px;
                                .chang_pass_form
                                {
                                    width: 360px;
                                    margin: 0 auto;
                                }
                                .pass_logo_title
                                {
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: center;
                                    position: relative;
                                    .close {
                                        position: absolute;
                                        right: -16px;
                                        top: -2px;
                                        width: 32px;
                                        height: 18px;
                                        outline: none;
                                        &::after
                                        {
                                            position: absolute;
                                            left: 15px;
                                            content: ' ';
                                            height: 18px;
                                            width: 2px;
                                            background-color: #000;
                                            transform: rotate(-45deg);
                                        }
                                        &::before
                                        {
                                            position: absolute;
                                            left: 15px;
                                            content: ' ';
                                            height: 18px;
                                            width: 2px;
                                            background-color: #000;
                                            transform: rotate(45deg);
                                        }
                                      }
                                    h3{
                                        color: #0e2c65;
                                        font-weight: 800;
                                        font-size: 1.5rem;
                                        margin: 0 0 5px 0;
                                    }
                                    p
                                    {
                                        width: 350px;
                                        text-align: center;
                                        line-height: initial;
                                        margin: 0 0 10px 0;
                                        font-size: 0.95rem;
                                        font-weight: 500;
                                        color: #141414;
                                    }
                                    img{
                                        width: 90px;
                                    }
                                }
                            }
                        }
                       
                        .mat-dialog-actions
                        {
                            .mat_fot_bt
                            {
                                background-color: transparent;
                                color: $thm-tex-col-dar;
                                @include font-weight(semi-bold);
                                @include font-size(0.9);
                                &[disabled][disabled]
                                {
                                    color: #ccc;
                                }
                            }
                        }
        .pop_title_wrp
        {
            position: relative;
            .pop_head_titl
            {
                font-size: 0.90rem;
    margin-top: -24px;
    padding-top: 14px;
    padding-bottom: 14px;
                font-weight: 500;
                &.edit_titl
                {
                    font-size: 1.1rem;
                    font-weight: bold;
                    margin-top: -20px;
                }
            }
            .close {
                position: absolute;
                right: -4px;
                top: 14px;
                width: 32px;
                height: 18px;
                outline: none;
                &::after
                {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 18px;
                    width: 2px;
                    background-color: #000;
                    transform: rotate(-45deg);
                }
                &::before
                {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 18px;
                    width: 2px;
                    background-color: #000;
                    transform: rotate(45deg);
                }
              }
        }
        
    }
    .custom-modalbox-as
        {
            .mat-dialog-content{
                background-color: #fff;
                padding-top: 0px;
                padding: 0 0px;
                .edit_box_popup
                {
                    min-width: 900px;
                    padding-top: 0px;
                    .cust-accor-as
{
    
    ::ng-deep .mat-accordion
    {
        .mat-expansion-panel-body
        {
            background-color: #fff;
            @include padding(0px,inherit,0px,inherit);
            table{
                width: 100%;
                padding: 0,10px,0,10px;
                border-collapse: collapse;
                tr{
                    th{
                        background-color: #eaeaea;
                        padding: 8px;
                        text-align: left;
                        &:first-child{
                            padding-left: 40px;
                        }
                        &:last-child{
                            padding-right: 40px;
                        }
                        
                    }
                td{
                    padding: 8px;
                    text-align: left;
                    &:first-child{
                        padding-left: 40px;
                    }
                    &:last-child{
                        padding-right: 40px;
                    }
                }
            }
            }
            .mat_exp_wrp
            {
                @include padding(inherit,24px,0px,24px);
                .mat_previe_box
                {
                    max-width: 300px;
                    @include heightwidth(auto,initial);
                    @include padding(inherit,24px,20px,24px);
                    .prev_tit
                    {
                        opacity: 0.6;
                        line-height: initial;
                        color: $thm-text-color;
                        @include font-size(0.9);
                    }
                    .prev_dis
                    {
                        line-height: initial;
                        color: $thm-text-color;
                        @include font-size(0.9);
                        @include font-weight(semi-bold);
                        
                            a {color: $thm-text-color;text-decoration: none;    font-weight: 400;
                                font-style: italic;
                            }
                            &:focus{
                                color: $thm-text-color;
                                text-decoration: none;
                                font-weight: 400;
                                font-style: italic;                            
                            }
                        
                    }
                }
                .mat_exp_fot
                {
                    border-top: solid 1px rgba(0, 0, 0, 0.09);
                    @include padding(5px,initial,initial,initial);
                    .mat_fot_drf
                    {
                        @include padding(inherit,15px,inherit,15px);
                        .mat_fot_bt
                        {
                            background-color: transparent;
                            color: $thm-tex-col-dar;
                            @include font-weight(semi-bold);
                            @include font-size(0.9);
                            &[disabled][disabled]
                            {
                                color: #ccc;
                            }
                        }
                    }
                }
                
                .mat_exp_title
                {
                    color: $thm-text-color;
                    @include font-size(0.90);
                    @include font-weight(semi-bold);
                    @include padding(0,0,15px,0);
                }
                .mat_fld_box_wrp
                {
                    @include margin(inherit,-15px,inherit,-15px);
                    @include padding(0px,0px,0px,0px);
                    &.con_dwn_wrp
                    {
                        @include margin(inherit,0px,10px,0px);
                        .mat_upload_box
                        {
                            cursor: pointer;
                        @include margin(inherit,10px,inherit,10px);
                        @include padding(0px,10px,10px,10px);
                        @include border-radius(2px);
                        .mat_upload_in_wr
                        {
                            .dro_wrp
                            {
                                position: relative !important; 
                                padding: 19px !important;
                                margin: 0 !important;
                                display: inline-block !important;
                                width: 100% !important;
                                max-width: 100% !important;
                                margin-top: 10px !important;
                                margin-bottom: 10px !important;
                                padding-right: 40px !important;
                                min-height: auto !important;
                                min-width: 100% !important;
                                height: auto !important;
                                background: #fff !important;
                                .ng-star-inserted
                                {
                                    opacity: 9;
                                    background-color: #FF352C;
                                    top: 20px;
                                    @include margin(2px,2px,initial,initial); 
                                }
                                .drop_lab_cs
                                {
                                    @include flexbox();
                                    align-items: center;
                                    .doc_icon
                                    {
                                        img
                                        {
                                            @include heightwidth(22px,initial);
                                        }
                                    }
                                    .doc_cont
                                    {
                                        line-height: initial;
                                        background-color: transparent;
                                        @include font-weight(semi-bold);
                                        @include font-size(0.8);

                                        div
                                        {
                                            margin-bottom: 2px;
                                            @include font-size(0.75);
                                            @include font-weight(normal);
                                        }
                                    }
                                }
                            }
                            .bt_uplad_con
                            {
                                text-align: right;
                                align-items: center;
                                justify-content: flex-end;
                                background: #D9E6FF;
                                border: 2px dashed #2258bf;
                                border-bottom: none;
                                border-top: 0px;
                                @include position(relative);
                                @include margin(-61px,initial,initial,initial);
                                @include padding(10px,15px,10px,10px);
                                @include flexbox();
                                .creat_bt
                                {
                                    @include border-radius(4px);
                                }
                                .cr_corner
                                {
                                    @include position(absolute,initial,initial,-9px,0);
                                    &::after
                            {
                                content: "";
                                position: absolute;
                                top: -9px;
                                right: -6px;
                                border-top: 80px solid transparent;
                                border-left: 80px solid #eaeaea;
                                width: 0;
                            }
                                }
                            }
                           .mat_upload_tit
                           {
                               .info_view
                               {
                                background-color: #2258bf;
                                color: white;
                                padding: 2px;
                                border-radius: 30px;
                                font-size: 10px;
                                text-transform: lowercase;
                                margin-left: 3px;
                                line-height: initial;
                                width: 18px;
                                height: 18px;
                                display: inline-block;
                                text-align: center;
                                padding-left: 0px;
                                padding-right: 0px;
                                font-weight: bold;
                                cursor: pointer;
                                position: relative;
                                &:hover 
                                {
                                    .hov_info
                                    {
                                        display: block;
                                    }
                                }
                                .hov_info
                                {
                                    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
                                    display: none;
                                    position: absolute;
                                    width: 600px;
                                    height: auto;
                                    background-color: #fff;
                                    left: 19px;
                                    top: 21px;
                                    z-index: 99;
                                    padding: 20px;
                                    text-transform: initial;
                                    .infopop_title
                                    {
                                        color: #000;
                                        margin-bottom: 15px;
                                        font-weight: 700;
                                        font-size: 1.2rem;
                                        text-align: left;
                                        text-transform: initial;

                                    }
                                    .infopop_discrip
                                    {
                                        font-size: 1rem;
                                        color: #000;
                                        font-weight: 500;
                                        list-style-type: decimal;
                                        display: inherit;
                                        text-align: left;
                                        margin: 14px;
    li{
        padding-bottom: 6px;
    }
                                    }
                                }
                               }
                               .cus_check
                               {
                                   @include font-size(0.85);
                                   margin-top: -4px;
    position: relative;
    top: 4px;
                               }
                            text-transform: uppercase;
                            @include font-size(0.85);
                            @include font-weight(semi-bold);
                            @include padding(0px,0px,10px,0px);
                           }
                           .mat_up_con
                           {
                            border: 2px dashed #2258bf;
                            background-color: #e5eeff;
                            position: relative;
                            justify-content: start;
                            align-items: baseline;
                            
                            .matUp_lable
                            {
                                text-align: left;
                                @include flexbox();
                                @include margin(0,0,0,0);
                                @include padding(18px,initial,initial,18px);
                                img{margin-right: 7px}
                                .drap_titl
                                {
                                    line-height: initial;
                                    @include font-weight(semi-bold);
                                    @include font-size(1);
                                    color: $thm-text-color;
                                    
                                    .in_titl
                                    {
                                        @include font-weight(normal);
                                        @include font-size(0.9);
                                    }
                                }
                            }
                            
                           }
                          
                        }
                        }
                        .mat_dwn_lod_con
                    {
                        cursor: pointer;
                        @include margin(inherit,10px,inherit,10px);
                        @include padding(15px,20px,15px,20px);
                        @include border-radius(2px);
                        background-color: $thm-prm-bg;
                        color: $thm-bg;
                        .dwn_con_wr
                        {
                            align-items: center;
                            @include flexbox();
                            span
                            {
                                line-height: initial;
                                @include font-size(0.8);
                                a{text-decoration: none;color: $thm-bg;}
                            }
                            img
                            {
                                @include heightwidth(18px,initial);
                                @include padding(initial,5px,initial,initial);
                            }
                        }
                        
                    }
                    }
                    
                    .mat_view_cont
                    {
                       .mat_previe_box
                       {
                           max-width: initial;
                       }
                    }
                    .mat_view_comment
                    {
                        max-width: 25%;
                        .mat_previe_box
                       {
                           max-width: initial;
                           .prev_dis
                           {
                               @include margin(initial,initial,5px,initial);
                           }
                           .mat_comment_box
                           {
                            border: solid 1px rgba(0, 0, 0, 0.09);
                            background-color: #e5eeff;
                            color: #6e6e6e;
                            line-height: initial;
                            @include padding(10px,10px,10px,10px);
                            @include font-size(0.7);
                            @include font-weight(semi-bold);
                           }
                       }
                      
                    }
                    .mat_fld_box_in
                    {
                        @include heightwidth(50px,initial);
                        @include margin(inherit,10px,inherit,10px);
                        &.cust_width
                        {
                            @include heightwidth(150px,initial);
                        }
                    }
                    &.prm_mat_fld_box_wrp
                    {
                        background-color: $thm-prm-bg;
                        @include margin(initial,-25px,15px,-25px);
                        @include padding(10px,24px,10px,24px);
                        &.prm_mat_fld_box_wrp_prv
                        {
                            background-color: #f1f1f1;
                            .prev_dis
                            {
                                color:#000;
                            }
                            .prev_tit
                            {
                                color: #000;
                                opacity: 0.8;
                            }
                        }
                        .prev_dis
                        {
                            color: $thm-bg;
                           
                        }
                        .prev_tit
                        {
                            opacity: 9;
                            color: $thm-bg;
                            min-height: 37px;
                            font-weight: 300;
                            line-height: 15px;
                        }
                        .mat_previe_box
                        {
                            max-width: 164px;
                            @include padding(initial,12px,initial,12px);
                            flex: 1;
                        }
                    }
                }
            }
        }
        .mat-expansion-panel
        {
            box-shadow: none;
            @include border-radius(0px);
            @include margin(5px,initial,5px,initial);
            
            .mat-content
            {
                .mat-expansion-panel-header-title
                {
                    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start space-between;
    align-items: flex-start;
                    // color:$thm-title-color;
                    // @include font-weight(bold);
                    // @include font-size(1);
                    .mat_previe_box
                {
                    max-width: 300px;
                    @include heightwidth(auto,initial);
                    @include padding(inherit,24px,0px,24px);
                    .prev_tit
                    {
                        opacity: 0.6;
                        line-height: initial;
                        color: $thm-text-color;
                        @include font-size(0.9);
                    }
                    .prev_dis
                    {
                        line-height: initial;
                        color: $thm-text-color;
                        @include font-size(0.9);
                        @include font-weight(semi-bold);
                    }
                }
                    .is_done
                    {
                        img
                        {
                            width: 20px;
                        }
                        &.is_done_not
                        {
                            img{opacity: 0.5;}
                        }
                    }
                }
            }
            .mat-expansion-panel-header
            {
                border: solid 1px rgba(0, 0, 0, 0.09);
                &.mat-expanded
            {
                background-color:#e5eeff;
            }
                &:hover
            {
                background-color: #e5eeff ;
                
            }
           
            }
            .mat-expansion-indicator
            {
                &::after
                {
                    @include padding(4px,4px,4px,4px);
                    color: $thm-text-color;
                }
            }
        }
    }
}
                }
                .chang_pass_box_popup
                {
                    min-width: 524px;
                    background-color: #fff;
                    margin-left: -23px;
                    margin-right: -23px;
                    padding: 23px;
                    margin-top: -15px;
                    padding-bottom: 0px;
                    padding-top: 0px;
                    .chang_pass_form
                    {
                        width: 360px;
                        margin: 0 auto;
                    }
                    .pass_logo_title
                    {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        position: relative;
                        .close {
                            position: absolute;
                            right: -16px;
                            top: -2px;
                            width: 32px;
                            height: 18px;
                            outline: none;
                            &::after
                            {
                                position: absolute;
                                left: 15px;
                                content: ' ';
                                height: 18px;
                                width: 2px;
                                background-color: #000;
                                transform: rotate(-45deg);
                            }
                            &::before
                            {
                                position: absolute;
                                left: 15px;
                                content: ' ';
                                height: 18px;
                                width: 2px;
                                background-color: #000;
                                transform: rotate(45deg);
                            }
                          }
                        h3{
                            color: #0e2c65;
                            font-weight: 800;
                            font-size: 1.5rem;
                            margin: 0 0 5px 0;
                        }
                        p
                        {
                            width: 350px;
                            text-align: center;
                            line-height: initial;
                            margin: 0 0 10px 0;
                            font-size: 0.95rem;
                            font-weight: 500;
                            color: #141414;
                        }
                        img{
                            width: 90px;
                        }
                    }
                }
            }
           
            .mat-dialog-actions
            {
                .mat_fot_bt
                {
                    background-color: transparent;
                    color: $thm-tex-col-dar;
                    @include font-weight(semi-bold);
                    @include font-size(0.9);
                    &[disabled][disabled]
                    {
                        color: #ccc;
                    }
                }
            }
.pop_title_wrp
{
position: relative;
.pop_head_titl
{
    font-size: 0.90rem;
margin-top: -24px;
padding-top: 14px;
padding-bottom: 14px;
    font-weight: 500;
    &.edit_titl
    {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: -20px;
    }
}
.close {
    position: absolute;
    right: -4px;
    top: 14px;
    width: 32px;
    height: 18px;
    outline: none;
    &::after
    {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 18px;
        width: 2px;
        background-color: #000;
        transform: rotate(-45deg);
    }
    &::before
    {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 18px;
        width: 2px;
        background-color: #000;
        transform: rotate(45deg);
    }
  }
}
        }
}
/*e*/
::ng-deep .cdk-overlay-pane
{
    margin-top: 19px;
    .mat-autocomplete-panel
    {
        right: 50px !important;
    min-width: 275px !important;
    left: auto !important;
    margin-top: -10px;
    }
}
// ::ng-deep #mat-select-0-panel, ::ng-deep #mat-select-7-panel
// {
//     margin-top: 19px;
// }
// ::ng-deep #mat-select-1-panel, ::ng-deep #mat-select-8-panel
// {
//     margin-top: 19px;
// }
// ::ng-deep #mat-autocomplete-0, ::ng-deep #mat-autocomplete-1
// {
//     right: 50px !important;
//     min-width: 275px !important;
//     left: auto !important;
// }

#flowBoxes {
    margin:auto;
    padding:0 50px 0 23px;
    display: flex;
    margin-bottom: 16px;
    div {
        display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 35px;
    border: 2px solid #e8e8e8;
    margin-right: 0px;
    background-color: white;
    font-weight: 500;
    flex: 1;
    &.right
    {
        background-color: white;
        
        &.view_1
        {
            background-color: white;
            img{
                display: block;
            }
            
        }
    }
    img{
        position: absolute;
    right: 0;
    z-index: 999;
    top: 10px;
    width: 14px;
    display: none;
    }
        &.right
        {
            &::after
            {
                content: "";
                border-top: 2px solid #e8e8e8;
                border-right: 2px solid #e8e8e8;
                width: 28px;
                height: 28px;
                position: absolute;
                right: -7px;
                top: 1px;
                background-color: white;
                z-index: 150;
    
    -webkit-transform: translate(10px,4px) rotate(45deg);
       -moz-transform: translate(10px,4px) rotate(45deg);
        -ms-transform: translate(10px,4px) rotate(45deg);
         -o-transform: translate(10px,4px) rotate(20deg); 
            transform: translate(10px,4px) rotate(45deg);
            }
        }
       
    }
    
}


