<form [formGroup]="Dashboardvalid" >
  <div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont" >
     <div class="com_title">dashboard</div>
     <div fxLayout="row" fxLayoutAlign="space-between center" class="mas_filter">
      <!-- <input
      ngxDaterangepickerMd
      [(ngModel)]="selected"
      type="text"
      class="form-control"
      name="SearchDate"
      id="SearchDate"
      (change)="change($event)"  /> -->
  <div class="dash_date_wrp">
    <div class="d_icon"><img src="assets/images/date_icon.JPG"></div>
    <input type="text" matInput autocomplete="off"
    ngxDaterangepickerMd
    (datesUpdated)="datesUpdated($event)"
    [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
    [(ngModel)]="selected" placeholder="Start Date -- End Date"
    name="daterange"/>
<!-- <p>
  <button class="ngx-daterangepicker-action" type="button" (click)="open()">Open</button>
 Selected: {{selected | json}}
</p> -->
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="mt-cust-fd mt-cust-fd-fillter" fxFlex="1 1 100%">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Status Filter</mat-label>
      <mat-select [formControl]="statusfiltercontrol" disableOptionCentering>
        <mat-option *ngFor="let filter of statusfilter" (onSelectionChange)="statusfiltermethod($event)" [value]="filter">{{filter}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mt-cust-fd mt-cust-fd-fillter" fxFlex="1 1 100%">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Search Filter</mat-label>
      <mat-select [formControl]="searchfiltercontrol" multiple disableOptionCentering>
        <mat-option *ngFor="let filter of searchfilterarr" (onSelectionChange)="selectfilter($event)" [value]="filter.value">{{filter.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>
      <div class="serch_box_ms">
        
       <div class="search_con">
        <input type="text" *ngIf="!(autocompletearr.length > 0)" matInput placeholder="Search dsdsd" [(ngModel)]="searchwords"  [ngModelOptions]="{standalone: true}" autocomplete="off" (keyup)="applyFilter()">
         <input type="text" *ngIf="autocompletearr.length > 0" matInput placeholder="Search"  [formControl]="searchControl" [matAutocomplete]="auto">
         <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [matTooltip]="option" (onSelectionChange)="searchtextchange($event.source.value)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        
       </div>
       <button class="search_close"  aria-label="Clear"*ngIf="this.searchControl.value" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
       <div class="search_icon"><img src="assets/images/search_icon.png"></div>
     </div>
     <button *ngIf="this.privilege_name == 'OBF Initiator'" mat-flat-button class="creat_bt bt_sp" 
     routerLink="/DealHUB/dashboard/Obf" >
     <img class="creat_bt_icon" src="assets/images/create_icon.png" alt="">create OBF</button>
      <!-- <div class="creat_bt"><span><img src="assets/images/create_icon.png" alt=""></span>create OBF</div> -->
    </div>
  </div>
  <div  fxLayout="column" fxLayoutAlign=" none"  class="con_data" >
    <div fxLayout="row" fxLayoutAlign="space-between center" class="con_data_in">
      <div class="con_fil_box p_f_apr" (click)=" addColumn(0) "   [ngClass]="{'active': highlight==='tab1'}">
        <div class="box_shead"><img src="assets/images/p_f_a.png"></div>
        <div class="fil_hed_tit"  >
         {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator'  ) ? ('Draft') : ('Pending for approval')}}
        </div>
        <div class="fil_had_no">
          {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator'  ) ? (this._dashboardcountModel[0]._draft) : (this._dashboardcountModel[0]._TotalPending)}}
        </div>
         <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf" (click)=" OBfcilck(0) ">
            OBF: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._draft_obf) : (this._dashboardcountModel[0]._pendingobf)}} 
          </div>
          <div class="lst_ppl" (click)=" PPLclick(0) ">
            PPL: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._draft_ppl) : (this._dashboardcountModel[0]._pendingppl)}} 
           </div>
        </div>
      </div>
      <div  class="con_fil_box approved"  (click)="addColumn(1)"  [ngClass]="{'active': highlight==='tab2'}" >
        <div class="box_shead"><img src="assets/images/approved.png"></div>
        <div class="fil_hed_tit"  >
          {{((this.privilege_name) == 'OBF Initiator'||(this.privilege_name) == 'PPL Initiator' )? ('Submitted') : ('Approved')}}
        </div>
       
        <div class="fil_had_no">
       {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._submitted) : (this._dashboardcountModel[0]._approved)}}
        </div>
      
        <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf" >
            OBF: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._submitted_obf) : (this._dashboardcountModel[0]._approved_obf)}} 
          </div>
        
          <div class="lst_ppl">
             PPL: {{((this.privilege_name) == 'OBF Initiator' ||(this.privilege_name) == 'PPL Initiator') ? (this._dashboardcountModel[0]._submitted_ppl) : (this._dashboardcountModel[0]._approved_ppl)}} 
          </div>
         
        </div>
      </div>
      <div  class="con_fil_box rejected"  (click)="addColumn(2)"    [ngClass]="{'active': highlight==='tab3'}">
        <div class="box_shead"><img src="assets/images/rejected.png"></div>
        <div class="fil_hed_tit"  >
          Rejected
        </div>
        <div class="fil_had_no">
          {{this._dashboardcountModel[0]._rejected}}
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf">
            OBF: {{this._dashboardcountModel[0]._rejected_obf}}
          </div>
          <div class="lst_ppl">
            PPL: {{this._dashboardcountModel[0]._rejected_ppl}}
          </div>
        </div>
      </div>
      <div class="con_fil_box app_obf" (click)="addColumn(3)"  [ngClass]="{'active': highlight==='tab4'}">
        <div class="box_shead"><img src="assets/images/approved_obf.png"></div>
        <div class="fil_hed_tit"  >
          approved obf
        </div>
        <div class="fil_had_no">
         {{this._dashboardcountModel[0]._totalapprovedobf}}
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf">
            OBF: 1,058
          </div>
          <div class="lst_ppl">
            PPL: 1,456
          </div>
        </div> -->
      </div>
      <div class="con_fil_box app_ppl"  (click)="addColumn(4)"  [ngClass]="{'active': highlight==='tab5'}">
        <div class="box_shead"><img src="assets/images/approved_ppl.png"></div>
        <div class="fil_hed_tit" >
          approved ppl
        </div>
        <div class="fil_had_no">
          {{this._dashboardcountModel[0]._totalapprovedppl}}
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between end" class="obl_ppf_con">
          <div class="lst_obf">
            OBF: 1,058
          </div>
          <div class="lst_ppl">
            PPL: 1,456
          </div>
        </div> -->
      </div>
      
    </div>
      <div class="fl_table_con" >
        <perfect-scrollbar class="perfect_scroll_com" [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}" >
          <table mat-table [dataSource]="listData" class="ms_table" matSort>
            <ng-container  [matColumnDef]="theRemovedElement.columnDef">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="{{ theRemovedElement.header }}">{{ theRemovedElement.header }}</mat-header-cell>
              <mat-cell [matTooltip]="getToolTipData(row)" *matCellDef="let row">{{ theRemovedElement.cell(row) }}</mat-cell>
              
            </ng-container>
            <ng-container matColumnDef="ApprovalStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Approval Status</mat-header-cell>
              <mat-cell *matCellDef="let row"  (click)="getapprovalstatus(row)">
                <!-- <mat-icon><img src="assets/images/dwn_fil_icon.png" style="background-color: rgb(61, 61, 129);"></mat-icon> -->
                <!-- <div class="dwon_ic_con"><img src="assets/images/download_icon.png"></div> -->
                <div class="set-size charts-container">
                <div class="pie-wrapper pie-wrapper--solid progress-88">
    <span class="label">10<span class="smaller">%</span></span>
  </div>
</div>
            </mat-cell>
          </ng-container>
           
  
            <ng-container *ngFor="let column of columns"  [matColumnDef]="column.columnDef">
                <div *ngIf="column.columnDef == 'download'">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                <mat-cell  *matCellDef="let row"><a href="{{ column.cell(row) }}">download</a></mat-cell>
              </div>
              <div *ngIf="column.columnDef != 'download'">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                <mat-cell  *matCellDef="let row" (click)="getOBFSummaryPage(row)">{{ column.cell(row) }}</mat-cell>
              </div>
            </ng-container>
            <ng-container matColumnDef="FinalAgg">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Final Agreement</mat-header-cell>
              <mat-cell *matCellDef="let row" >
                <!-- <mat-icon><img src="assets/images/dwn_fil_icon.png" style="background-color: black;"></mat-icon> -->
                <div class="dwon_ic_con"><img (click)="downloaddetailFinalAgg(row)" src="assets/images/download_icon.png"></div>
                <!-- <div class="dwon_ic_con" *ngIf="this.privilege_name == 'OBF Initiator'" ><img  (click)="UploadFinalAggrement(row)" style="margin-left: 10px;" src="assets/images/upload_icon.png"></div> -->
            </mat-cell>
          </ng-container>
              <ng-container matColumnDef="DetailedOBF">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Detailed OBF</mat-header-cell>
                <mat-cell *matCellDef="let row"  (click)="downloaddetailobf(row)">
                  <!-- <mat-icon><img src="assets/images/dwn_fil_icon.png" style="background-color: black;"></mat-icon> -->
                  <div class="dwon_ic_con"><img src="assets/images/download_icon.png"></div>
              </mat-cell>
            </ng-container>
              <ng-container  matColumnDef="ActionDraft"  stickyEnd>
                <mat-header-cell class="headr-mat" style="min-width: auto;padding-left: 10px;
                border-left: 1px solid #ccc;"  *matHeaderCellDef mat-sort-header>
                  
                  Action
                </mat-header-cell>
              
                  <mat-cell *matCellDef="let row" style="min-width: auto;padding-left: 10px;
                  border-left: 1px solid #ccc;" ><button mat-flat-button class="creat_bt edit_bt" (click)="editobf(row)">Edit</button></mat-cell>
               </ng-container>
               
               <ng-container  matColumnDef="ActionPendingforapproval" stickyEnd >
                <mat-header-cell style="min-width: auto;padding-left: 10px;
                border-left: 1px solid #ccc;" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              
                  <mat-cell style="min-width: auto;padding-left: 10px;
                  border-left: 1px solid #ccc;" *matCellDef="let row" >
                    <button mat-flat-button class="creat_bt edit_bt" (click)="openModal(mytemplate,row)" >Edit</button>&nbsp;
                    
                   </mat-cell>
               </ng-container>
               <ng-container  matColumnDef="ActionSubmitted" stickyEnd>
                <mat-header-cell style="min-width: auto;padding-left: 10px;
                border-left: 1px solid #ccc;" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell *matCellDef="let row" style="min-width: auto;padding-left: 10px;
              border-left: 1px solid #ccc;"><button mat-flat-button class="creat_bt edit_bt" (click)="openModal(mytemplate,row)">Edit</button></mat-cell>
               </ng-container>
               <ng-container  matColumnDef="ActionReinitialize" stickyEnd>
                <mat-header-cell style="min-width: 150px;padding-left: 10px;
                border-left: 1px solid #ccc;" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell style="min-width: 150px;padding-left: 10px;
              border-left: 1px solid #ccc;" *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" *ngIf="this.privilege_name == 'OBF Initiator' || this.privilege_name == 'PPL Initiator'"  (click)="reinitiateobf(row)">Re-initiate</button></mat-cell>
               </ng-container>
               <ng-container  matColumnDef="ActionApprovedOBF" stickyEnd>
                <mat-header-cell style="padding-left: 10px;
                border-left: 1px solid #ccc;" [ngStyle]="{'min-width': (this.privilege_name == 'PPL Initiator') ? '240px' : 'auto'}" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                 <mat-cell style="padding-left: 10px;
                 border-left: 1px solid #ccc;" [ngStyle]="{'min-width': (this.privilege_name == 'PPL Initiator') ? '240px' : 'auto'}" *matCellDef="let row" >
                <button mat-flat-button class="creat_bt edit_bt" (click)="openModal(mytemplate,row)">Edit</button>
                <button *ngIf="this.privilege_name == 'PPL Initiator'"mat-flat-button class="creat_bt edit_bt" [disabled]="checkdisable(row)" (click)="initiateppl(row)">Initiate PPL</button>
              </mat-cell>
             
           
            
               </ng-container>
               <ng-container  matColumnDef="ActionApprovedPPL" stickyEnd>
                <mat-header-cell style="min-width: 220px;padding-left: 10px;
                border-left: 1px solid #ccc;" *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell style="min-width: 220px;padding-left: 10px;
              border-left: 1px solid #ccc;" *matCellDef="let row" >
                <button mat-flat-button (click)="openModal(mytemplate,row)" class="creat_bt edit_bt">Edit</button>
                <button mat-flat-button class="creat_bt approv_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell>
              <!-- <mat-cell *matCellDef="let row" ><button mat-flat-button class="creat_bt edit_bt" (click)="reinitiateobf(row)">Revise PPL</button></mat-cell> -->
               </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
             
          </table>
        </perfect-scrollbar>
        
        <mat-paginator style-paginator showFirstLastButtons [showTotalPages]="7" 
        [pageSize]="6"
        >
      </mat-paginator>
      </div>
      <ng-template #mytemplate>
        <form [formGroup]="_obfservices.ObfCreateForm">
          <div class="pop_title_wrp"><div class="pop_head_titl edit_titl">Edit</div> <a mat-dialog-close href="javascript:void(0)" class="close"></a></div>
          <mat-dialog-content class="mat-typography">
            <div class="edit_box_popup">
              <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center" >
                <div class="mt-cust-fd" fxFlex="1 1 100%">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select solution category</mat-label>
        <mat-select  formControlName="Solutioncategory"  [errorStateMatcher]="matcher" disableOptionCentering>
          <mat-option *ngFor="let Solution of Solutiongroup" [disabled]="dscdsbld" [value]="Solution.value"  (onSelectionChange)="onchange($event,Solution.Solutioncategory)">

            {{Solution.Solutioncategory}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Solutioncategory.errors?.required">
          Solution Category is <strong>required</strong>
        </mat-error>
                  </mat-form-field>
                </div>
                <div class="mt-cust-fd" fxFlex="1 1 100%">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select type of service/solution category</mat-label>
                    <mat-select [formControl]="servicesControl" [errorStateMatcher]="matcher" multiple disableOptionCentering>
                      <!-- <mat-option>-- None --</mat-option> -->
                      <mat-optgroup *ngFor="let group of Solutionservicesarray" [label]="group.Solutioncategory"
                                    >
                        <mat-option *ngFor="let list of group.Serviceslist" [disabled]="true" (onSelectionChange)="onotherservicesoptionchange($event,list.viewValue,group.Solutioncategory,group.value)" [value]="list.value">
                          {{list.viewValue}} 
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                    <mat-error *ngIf="servicesControl.hasError('required')">
                      Services is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center" >
                <div class="mat_fld_box_in" fxFlex="1 1 100%">
                  <div class="mt-cust-fd">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Other Services</mat-label>
                      <input matInput formControlName="otherservices" id="abc" #otherservices style="margin-left: 10px;" (change)="otherssave($event,'services')" [errorStateMatcher]="matcher" required/>
                      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherservices.errors?.required">
                        Services:Other is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherservices.errors?.invalidservices">
                        Special characters are not allowed
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                
                <div class="mat_fld_box_in" fxFlex="1 1 100%">
                  <div class="mt-cust-fd">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Other Solutions</mat-label>
                      <input matInput formControlName="othersolutions" style="margin-left: 10px;" (change)="otherssave($event,'solution')" [errorStateMatcher]="matcher" required/>
                      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.othersolutions.errors?.required">
                        Solution:Other is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="_obfservices.ObfCreateForm.controls.othersolutions.errors?.invalidservices">
                        Special characters are not allowed
                      </mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <div class="mat_fld_box_in" fxFlex="1 1 100%">
                  <div class="mt-cust-fd">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Other Integrated Solutions</mat-label>
                        <input matInput formControlName="otherintegratedsolutions" style="margin-left: 10px;" (change)="otherssave($event,'integratedsolution')" [errorStateMatcher]="matcher" required/>
                        <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherintegratedsolutions.errors?.required">
                          Integrated Solution:Other is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherintegratedsolutions.errors?.invalidservices">
                          Special characters are not allowed
                        </mat-error>
                      </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center" >
                <div class="mt-cust-fd" fxFlex="1 1 100%">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Sector</mat-label>
                    <mat-select (selectionChange)="onsectorchange($event)" [errorStateMatcher]="matcher" formControlName="Sector" disableOptionCentering>
                      <mat-option *ngFor="let Sector of sectorlist" disabled [value]="Sector.value"  >
                        {{Sector.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sector.errors?.required">
                      Sector is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="mt-cust-fd" fxFlex="1 1 100%">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Sub Sector</mat-label>
                    <mat-select (selectionChange)="onsubsectorchange($event)"  [errorStateMatcher]="matcher" formControlName="Subsector" disableOptionCentering>
                      <mat-option *ngFor="let Subsector of subsectorlisdisplay" disabled [value]="Subsector.value"  >
                        {{Subsector.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Subsector.errors?.required">
                      Subsector is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between start" >
                <div class="mt-cust-fd" fxFlex="1 1 30%">
                  <mat-form-field appearance="fill" class="example-full-width">
                               
                    <mat-label>Enter SAP Customer Code</mat-label>
                    <!-- <input matInput [(ngModel)]="_obfservices.obfmodel._sap_customer_code" [ngModelOptions]="{standalone: true}" placeholder="SAP Customer Code" /> -->
                    <input matInput type="number" formControlName="Sapcustomercode" (change)="fetchcustomercode()" placeholder="SAP Customer Code" />
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sapcustomercode.errors?.invalidservices">
                      Special characters are not allowed
                    </mat-error>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sapcustomercode.errors?.Sionumberinvalid">
                      SAP Customer Code length must be <strong>8 digits</strong>
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="mt-cust-fd" fxFlex="1 1 100%">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Enter SAP IO Number</mat-label>
        <mat-chip-list #chipList >
          <mat-chip *ngFor="let sapio of _obfservices.obfmodel.sapio" style="background-color:#419bf9;" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(sapio)">
            {{sapio._Cust_SAP_IO_Number}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="SAP IO ..." 
          type="number"
          formControlName="Sapio"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-error *ngIf="_obfservices.ObfCreateForm.get('Sapio').invalid">
          SAP IO Number length must be <strong>8 digits</strong>
        </mat-error>
                  </mat-form-field>
                  
                </div>
              </div>
            </div>
            
          </mat-dialog-content>
          <mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  <button mat-flat-button class="creat_bt mat_fot_bt" mat-dialog-close>Cancel</button>
  <button mat-button mat-flat-button class="creat_bt cu_width"  [disabled]="_obfservices.ObfCreateForm.invalid" (click)="editSubmit()">Submit</button>
</mat-dialog-actions>
        
      </form>
   </ng-template>
   </div>
  <div>
    <ng-template #callAPIDialog>
    <div class="pop_title_wrp"><div class="pop_head_titl">Approval Status</div> <a mat-dialog-close href="javascript:void(0)" class="close"></a></div>
      <mat-dialog-content class="mat-typography">
        <div>
          <span>Approval Status</span>
        </div>
        <div  fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp">
          <div class="mat_previe_box">
            <div class="prev_tit">
             Current Version
            </div>
            <div class="prev_dis">
             {{this.approvalstatusdetail.versiondetail[0].version_name}}
            </div>
         </div>
         <div class="mat_previe_box">
          <div class="prev_tit">
           Code
          </div>
          <div class="prev_dis">
           {{this.approvalstatusdetail.versiondetail[0].dh_code}}
          </div>
       </div>
       <div class="mat_previe_box">
        <div class="prev_tit">
         Date
        </div>
        <div class="prev_dis">
         {{this.approvalstatusdetail.versiondetail[0].datecreated}}
        </div>
     </div>
     <div class="mat_previe_box">
      <div class="prev_tit">
       Project Name
      </div>
      <div class="prev_dis">
       {{this.approvalstatusdetail.versiondetail[0].dh_project_name}}
      </div>
     </div>
     <div class="mat_previe_box">
      <div class="prev_tit">
        opportunity Id
      </div>
      <div class="prev_dis">
       {{this.approvalstatusdetail.versiondetail[0].opportunity_id}}
      </div>
     </div>
     <div class="mat_previe_box">
      <div class="prev_tit">
        Vertical Name
      </div>
      <div class="prev_dis">
       {{this.approvalstatusdetail.versiondetail[0].vertical_name}}
      </div>
     </div>
    </div>
      </mat-dialog-content>
      
      </ng-template>
  </div>
