@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.filter_cont {
    @include padding(15px,50px,15px,50px);
}

.Edit {
    width: 45px;
    height: 28px;
    margin: 0 45px 33px 0;
    font-family: HelveticaNeue !important;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .headerdiv{
    display: block;
    float: left;
    width: 100%;
  }

  .Icon-ionic-md-close {
    width: 21px;
    height: 21px;
   // margin: 12.6px 20.1px 0 31.5px;
    background-color:white;
   font-weight:bold;
   float:right;
  }
  

.com_title
{
    display: inline-block;
    text-transform: capitalize;
    @include font-size(1.4);
    @include font-weight(semi-bold);
    color:$thm-title-color;
}
.con_data
{
    @include padding(initial,50px,initial,50px);
    .con_data_in
    {
        @include padding(0px,0px,20px,0px);
        @include margin(initial,-10px,initial,-10px);
        .con_fil_box
        {

            color: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            @include position(relative);
            @include heightwidth(215px,100px);
            @include border-radius(15px);
            @include padding(15px,20px,15px,20px);
            @include margin(initial,10px,initial,10px);
            
            .box_shead
                {
                    @include position(absolute,0,0,inherit,inherit);
                    img
                    {
                        @include heightwidth(110px,inherit);
                    }
                }
            .fil_hed_tit
            {
                text-transform: uppercase;
                @include font-size(0.80);
                @include position(relative);
            }
            .fil_had_no
            {
                @include font-size(1.4);
                @include position(relative,1px);
                @include font-weight(bold);
            }
            .obl_ppf_con
            {
                @include heightwidth(initial,30px);
                @include position(relative);
                @include font-size(0.70);
                @include font-weight(semi-bold);
            }
            &.p_f_apr
            {
                background-color: #71b945;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    position: relative;
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #71b945;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.approved
            {
                background-color: #4a8cda;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #4a8cda;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.rejected
            {
                background-color: #ec401b;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #ec401b;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.app_obf
            {
                background-color: #6647bf;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #6647bf;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.app_ppl
            {
                background-color: #f37944;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #f37944;
                        position: absolute;
                        bottom: -12px;
                        
                    }
                }
            }
        }
    }
}
.serch_box_ms
{
  @include position(relative);
    .search_con
    {
        border: solid 1px #eeeeee;
        @include border-radius(60px);
        @include heightwidth(320px,inherit);
        @include padding(5px,40px,5px,20px);
        background-color: $thm-bg;
        input
        {
            border: none;
            @include heightwidth(100%,30px);
            &:focus
            {
                outline: none;
            }
            &::placeholder
            {
                color: #ccc;
            }
        }
        
    }
    .fas
        {
            color: #eee;
            @include position(absolute,10px,15px,inherit,inherit);
            @include font-size(1.2);
        }
    .search_icon
    {
        @include position(absolute,11px,15px,inherit,inherit);
        img
        {@include heightwidth(18px,auto);}
    }
}
.bt_sp
{
    @include margin(initial,initial,initial,10px);
    
}
.edit_bt
{
    @include padding(0,25px,0,25px);
    @include font-weight(medium);
}
.reject_bt
{
    @include padding(0,25px,0,25px);
    background-color: $thm-rj-bt;
}
.approv_bt
{
    @include padding(0,25px,0,25px);
    background-color: $thm-ap-bt;
}
.fl_table_con
{
    ::ng-deep .mat-paginator-range-actions{
       
        .mat-icon-button
        {
            border-radius: 0%;
            width: 30px;
            height: 30px;
            line-height: inherit;
            background-color: transparent !important;
            color: black !important;
            margin: 0 !important;
            border: 1px solid #dedede;
            .mat-paginator-icon
            {
                width: 14px;
            }
        }
        .mat-flat-button
        {
            min-width: auto;
            border-radius: 0px;
            line-height: 28px;
            padding: 0 10px;
            box-shadow: none;
            border: 1px solid #dedede;
            margin: 0px !important;
            font-size: 12px;
            &.mat-flat-button[disabled]
            {
                background-color: #2258bf !important;
                color: white;
                border: 1px solid #2258bf;
            }

        }
    }
    .ms_table
    {
        min-width: 100%;
        background-color: transparent;
       
            .mat-row
            {
                border-left: 1px solid rgba(0,0,0,.12);
                border-right: 1px solid rgba(0,0,0,.12);
                &.mat-row:nth-child(odd)
                {
                    background-color: #fff;
                }
            }
        
        .mat-header-row
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.12);
            .mat-header-cell
        {
            color: #505050;
            opacity: inherit;
            @include font-size(0.90);
            @include font-weight(bold);
            
            
        }
        }
        
    }
}
.dash_date_wrp
{
    background-color: #fff;
    border: solid 1px #eeeeee;
    color: #342e59;
    @include padding(0,10px,0,10px);
    @include margin(initial,10px,initial,0px);
    @include heightwidth(215px,42px);
    @include flexbox();
    @include font-weight(normal);
    @include font-size(0.80);
    .d_icon
    {
        align-items: center;
        @include position(relative,0px,initial,initial,initial);
        @include flexbox();
        
        img{
            display: inherit;
            @include heightwidth(20px,initial);
        }
    }
    input{
        border-left: solid 1px #eeeeee;
        border-top:transparent;
        border-color: transparent;
        border-left-color: #eeeeee;
        @include padding(0,0px,0,10px);
        @include margin(0,0px,0,10px);
        @include heightwidth(100%,initial);

    }
}
.dwon_ic_con
{
    cursor: pointer;
    img
    {
       @include heightwidth(15px,initial);
    }
}

::ng-deep .mat-paginator-page-size{
    display: none !important;
}

::ng-deep .mat-paginator-range-label{
    display: none !important;
}



