@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.filter_cont {
    @include padding(15px,50px,15px,50px);
}

.Edit {
    width: 45px;
    height: 28px;
    margin: 0 45px 33px 0;
    font-family: HelveticaNeue !important;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
  }

  .headerdiv{
    display: block;
    float: left;
    width: 100%;
  }

  .Icon-ionic-md-close {
    width: 21px;
    height: 21px;
   // margin: 12.6px 20.1px 0 31.5px;
    background-color:white;
   font-weight:bold;
   float:right;
  }
  

.com_title
{
    display: inline-block;
    text-transform: capitalize;
    @include font-size(1.4);
    @include font-weight(semi-bold);
    color:$thm-title-color;
}
.con_data
{
    @include padding(initial,50px,initial,50px);
    .con_data_in
    {
        @include padding(0px,0px,20px,0px);
        @include margin(initial,-10px,initial,-10px);
        .con_fil_box
        {

            color: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            @include position(relative);
            @include heightwidth(215px,100px);
            @include border-radius(15px);
            @include padding(15px,20px,15px,20px);
            @include margin(initial,10px,initial,10px);
            
            .box_shead
                {
                    @include position(absolute,0,0,inherit,inherit);
                    img
                    {
                        @include heightwidth(110px,inherit);
                    }
                }
            .fil_hed_tit
            {
                text-transform: uppercase;
                @include font-size(0.80);
                @include position(relative);
            }
            .fil_had_no
            {
                @include font-size(1.4);
                @include position(relative,1px);
                @include font-weight(bold);
            }
            .obl_ppf_con
            {
                @include heightwidth(initial,30px);
                @include position(relative);
                @include font-size(0.70);
                @include font-weight(semi-bold);
            }
            &.p_f_apr
            {
                background-color: #71b945;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    position: relative;
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #71b945;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.approved
            {
                background-color: #4a8cda;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #4a8cda;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.rejected
            {
                background-color: #ec401b;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #ec401b;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.app_obf
            {
                background-color: #6647bf;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #6647bf;
                        position: absolute;
                        bottom: -12px;
                    }
                }
            }
            &.app_ppl
            {
                background-color: #f37944;
                &.active
                {
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    &::after{
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #f37944;
                        position: absolute;
                        bottom: -12px;
                        
                    }
                }
            }
        }
    }
}
.serch_box_ms
{
  @include position(relative);
    .search_con
    {
        border: solid 1px #eeeeee;
        @include border-radius(60px);
        @include heightwidth(320px,inherit);
        @include padding(5px,40px,5px,20px);
        background-color: $thm-bg;
        input
        {
            border: none;
            @include heightwidth(100%,30px);
            &:focus
            {
                outline: none;
            }
            &::placeholder
            {
                color: #ccc;
            }
        }
        
    }
    .fas
        {
            color: #eee;
            @include position(absolute,10px,15px,inherit,inherit);
            @include font-size(1.2);
        }
    .search_icon
    {
        @include position(absolute,11px,15px,inherit,inherit);
        img
        {@include heightwidth(18px,auto);}
    }
}
.bt_sp
{
    @include margin(initial,initial,initial,10px);
    
}
.edit_bt
{
    @include padding(0,25px,0,25px);
    @include font-weight(medium);
}
.reject_bt
{
    @include padding(0,25px,0,25px);
    background-color: $thm-rj-bt !important;
}
.approv_bt
{
    @include padding(0,25px,0,25px);
    background-color: $thm-ap-bt;
}
.fl_table_con
{
    .perfect_scroll_com
    {
        padding-bottom: 9px;
    }
    ::ng-deep perfect-scrollbar > div > div.ps__rail-x {
        opacity: 9;
       
        .ps__thumb-x
        {
            background-color: #ccc;
        }
      }
    ::ng-deep .mat-paginator-range-actions{
       
        .mat-icon-button
        {
            border-radius: 0%;
            width: 30px;
            height: 30px;
            line-height: inherit;
            background-color: transparent !important;
            color: black !important;
            margin: 0 !important;
            border: 1px solid #dedede;
            .mat-paginator-icon
            {
                width: 14px;
            }
        }
        .mat-flat-button
        {
            min-width: auto;
            border-radius: 0px;
            line-height: 28px;
            padding: 0 10px;
            box-shadow: none;
            border: 1px solid #dedede;
            margin: 0px !important;
            font-size: 12px;
            &.mat-flat-button[disabled]
            {
                background-color: #2258bf !important;
                color: white;
                border: 1px solid #2258bf;
            }

        }
    }
    .ms_table
    {
        // width: 100%;
        // max-width: 120%;
        background-color: transparent;
        
            .mat-row
            {
                border-left: 1px solid rgba(0,0,0,.12);
                border-right: 1px solid rgba(0,0,0,.12);
                &.mat-row:nth-child(odd)
                {
                    background-color: #fff;
                    &.mat-table-sticky
                    {
                        background-color: #fff;
                    }
                }
                &.mat-row:nth-child(2n+0)
                {
                    background-color: #fafafa;
                    &.mat-table-sticky
                    {
                        background-color: #fafafa;
                    }
                }
                .mat-cell
                {
                    min-width: 150px;
                    word-break: break-word;
                    padding-right: 10px;
                    &.cdk-column-ProjectName
                    {
                        min-width: 180px;
                    }
                    &.cdk-column-Code
            {
                min-width: 90px
            }
            &.cdk-column-Total_Cost
            {
                min-width: 110px
            }
            &.cdk-column-Total_Revenue
            {
                min-width: 130px
            }
            &.cdk-column-Gross_Margin
            {
                min-width: 120px;
            }
            &.cdk-column-ApprovalStatus
            {
                min-width: 165px;
            }
                    
                    &.mat-table-sticky
                    {
                        min-width: 250px;
                        
                        
                    }
                }
            }
        
        .mat-header-row
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.12);
            .mat-header-cell
        {
            color: #505050;
            opacity: inherit;
            min-width: 150px;
            padding-right: 10px;
            word-break: break-word;
            @include font-size(0.90);
            @include font-weight(bold);
            &.cdk-column-ProjectName
                    {
                        min-width: 180px;
                    }
            &.cdk-column-Code
            {
                min-width: 90px
            }
            &.cdk-column-Total_Cost
            {
                min-width: 110px
            }
            &.cdk-column-Total_Revenue
            {
                min-width: 130px
            }
            &.cdk-column-Gross_Margin
            {
                min-width: 120px;
            }
            &.cdk-column-ApprovalStatus
            {
                min-width: 165px;
            }

            &.mat-table-sticky
            {
               min-width: 250px;
                
            }
        }
        }
        
    }
}
.dash_date_wrp
{
    background-color: #fff;
    border: solid 1px #eeeeee;
    color: #342e59;
    @include padding(0,10px,0,10px);
    @include margin(initial,10px,initial,0px);
    @include heightwidth(215px,42px);
    @include flexbox();
    @include font-weight(normal);
    @include font-size(0.80);
    .d_icon
    {
        align-items: center;
        @include position(relative,0px,initial,initial,initial);
        @include flexbox();
        
        img{
            display: inherit;
            @include heightwidth(20px,initial);
        }
    }
    input{
        border-left: solid 1px #eeeeee;
        border-top:transparent;
        border-color: transparent;
        border-left-color: #eeeeee;
        @include padding(0,0px,0,10px);
        @include margin(0,0px,0,10px);
        @include heightwidth(100%,initial);

    }
}
.dwon_ic_con
{
    cursor: pointer;
    img
    {
       @include heightwidth(15px,initial);
    }
}

::ng-deep .mat-paginator-page-size{
    display: none !important;
}

::ng-deep .mat-paginator-range-label{
    display: none !important;
}



/*s*/
::ng-deep.cdk-overlay-container
{
    .cdk-overlay-backdrop
    {
        &.popupBackdropClass 
        {   
        background: rgba(255,255,255,0.5);
        backdrop-filter: blur(5px);
            
        }
        
    }
    .custom-modalbox
    {
        .mat_upload_box
                        {
                            cursor: pointer;
                        @include margin(inherit,0px,inherit,0px);
                        @include padding(0px,0px,0px,0px);
                        @include border-radius(2px);
                        .mat_upload_in_wr
                        {
                            .dro_wrp
                            {
                                position: relative !important; 
                                padding: 19px !important;
                                margin: 0 !important;
                                display: inline-block !important;
                                width: 100% !important;
                                max-width: 100% !important;
                                margin-top: 10px !important;
                                margin-bottom: 10px !important;
                                padding-right: 40px !important;
                                min-height: auto !important;
                                min-width: 100% !important;
                                height: auto !important;
                                background: #fff !important;
                                .ng-star-inserted
                                {
                                    opacity: 9;
                                    background-color: #fc625d;
                                    @include margin(2px,2px,initial,initial); 
                                }
                                .drop_lab_cs
                                {
                                    @include flexbox();
                                    align-items: center;
                                    .doc_icon
                                    {
                                        img
                                        {
                                            @include heightwidth(22px,initial);
                                        }
                                    }
                                    .doc_cont
                                    {
                                        line-height: initial;
                                        background-color: transparent;
                                        @include font-weight(semi-bold);
                                        @include font-size(0.8);

                                        div
                                        {
                                            margin-bottom: 2px;
                                            @include font-size(0.75);
                                            @include font-weight(normal);
                                        }
                                    }
                                }
                            }
                            .bt_uplad_con
                            {
                                text-align: right;
                                align-items: center;
                                justify-content: flex-end;
                                background: #D9E6FF;
                                border: 2px dashed #2258bf;
                                border-bottom: none;
                                @include position(relative);
                                @include margin(-61px,initial,15px,initial);
                                @include padding(10px,15px,10px,10px);
                                @include flexbox();
                                .creat_bt
                                {
                                    @include border-radius(4px);
                                }
                                .cr_corner
                                {
                                    @include position(absolute,initial,initial,-9px,0);
                                    &::after
                            {
                                content: "";
                                position: absolute;
                                top: -9px;
                                right: -6px;
                                border-top: 80px solid transparent;
                                border-left: 80px solid #eaeaea;
                                width: 0;
                            }
                                }
                            }
                           .mat_upload_tit
                           {
                               .cus_check
                               {
                                   @include font-size(0.85);
                                   margin-top: -4px;
                                    position: relative;
                                    top: 4px;
                               }
                            text-transform: uppercase;
                            @include font-size(0.85);
                            @include font-weight(semi-bold);
                            @include padding(0px,0px,10px,0px);
                           }
                           .mat_up_con
                           {
                            border: 2px dashed #2258bf;
                            background-color: #e5eeff;
                            position: relative;
                            justify-content: start;
                            align-items: baseline;
                            
                            .matUp_lable
                            {
                                text-align: left;
                                @include flexbox();
                                @include margin(0,0,0,0);
                                @include padding(18px,initial,initial,18px);
                                img{margin-right: 7px}
                                .drap_titl
                                {
                                    line-height: initial;
                                    @include font-weight(semi-bold);
                                    @include font-size(1);
                                    color: $thm-text-color;
                                    
                                    .in_titl
                                    {
                                        @include font-weight(normal);
                                        @include font-size(0.9);
                                    }
                                }
                            }
                            
                           }
                          
                        }
                        }
        .pop_title_wrp
        {
            position: relative;
            .pop_head_titl
            {
                font-size: 0.90rem;
    margin-top: -24px;
    padding-top: 10px;
    padding-bottom: 10px;
                font-weight: 500;
            }
            .close {
                position: absolute;
                right: -20px;
    top: 12px;
                width: 32px;
                height: 32px;
                outline: none;
                &::after
                {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 18px;
                    width: 2px;
                    background-color: #000;
                    transform: rotate(-45deg);
                }
                &::before
                {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 18px;
                    width: 2px;
                    background-color: #000;
                    transform: rotate(45deg);
                }
              }
        }
    }
}
/*e*/