
<div class="filter_cont" >
    <div class="com_title">Master Data</div>
    <div class="master_box">
        <div class="master_title">Business</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <!-- <div routerLink="ProjectType" class="master_views"> -->
                <div (click)="Route('ProjectType')" class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Project Type</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Business Type</span>
                    
                </div>
            </div>
            <div (click)="Route('Branch')" class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Branch</span>
                    
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    4
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    5
                </div>
            </div>
            
        </div>

    </div>
    <div class="master_box">
        <div class="master_title">Servies & Solutions</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <div (click)="Route('Sector')" class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Sectors</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Sub Sectors</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Verticals</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Solutions</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Solution Category</span>
                    
                </div>
            </div>
            
        </div>

    </div>
    <div class="master_box">
        <div class="master_title">Messages</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <div (click)="Route('Comment')" class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Comments Type</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>DOA Matrix 
                        Messages</span>
                    
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    4
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    4
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    5
                </div>
            </div>
            
        </div>

    </div>
    <div class="master_box">
        <div class="master_title">Access Rights</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Forms</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Privilege</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Roles</span>
                    
                </div>
            </div>
            <div (click)="Route('Users')" class="master_views">
                <div class="master_view_in">
                    <img src="../../../assets/images/proj_type.JPG">
                    <span>Users</span>
                    
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    5
                </div>
            </div>
            
        </div>

    </div>
</div>