
<div class="filter_cont" >
    <div class="com_title">Master Data</div>
    <div class="master_box">
        <div class="master_title">Business</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <!-- <div routerLink="ProjectType" class="master_views"> -->
                <div (click)="Route('ProjectType')" class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/proj_type.JPG">
                    <span>Project Type</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Business_Type.png" style="    width: 80px;
                    margin-bottom: 7px;">
                    <span>Business Type</span>
                    
                </div>
            </div>
            <div (click)="Route('Branch')" class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Branch.png" style="    width: 145px;
                    margin-bottom: 10px;">
                    <span>Branch</span>
                    
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    4
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    5
                </div>
            </div>
            
        </div>

    </div>
    <div class="master_box">
        <div class="master_title">Servies & Solutions</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <div (click)="Route('Sector')" class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Sectors.png" style="margin-bottom: 10px;">
                    <span>Sectors</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Sub_Sectors.png" style="margin-bottom: 10px;width: 130px;">
                    <span>Sub Sectors</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Verticals.png" style="    margin-bottom: 10px;">
                    <span>Verticals</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Solutions.png" style="margin-bottom: 10px;">
                    <span>Solutions</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Solution_Category.png" style="margin-bottom: 10px;">
                    <span>Solution Category</span>
                    
                </div>
            </div>
            
        </div>

    </div>
    <div class="master_box">
        <div class="master_title">Messages</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <div (click)="Route('Comment')" class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Comments_Type.png" style="    margin-bottom: 10px;
                    width: 95px;">
                    <span>Comments Type</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/DOA_Matrix.png" style="    margin-bottom: 10px;
                    width: 95px;">
                    <span>DOA Matrix 
                        Messages</span>
                    
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    4
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    4
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    5
                </div>
            </div>
            
        </div>

    </div>
    <div class="master_box">
        <div class="master_title">Access Rights</div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="master_title_view">
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Forms.png">
                    <span>Forms</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Privilege.png" style="margin-bottom: 10px;">
                    <span>Privilege</span>
                    
                </div>
            </div>
            <div class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/Roles.png" style="margin-bottom: 10px;">
                    <span>Roles</span>
                    
                </div>
            </div>
            <div (click)="Route('Users')" class="master_views">
                <div class="master_view_in">
                    <img src="/assets/images/proj_type.JPG">
                    <span>Users</span>
                    
                </div>
            </div>
            <div class="master_views vs_hi">
                <div class="master_view_in">
                    5
                </div>
            </div>
            
        </div>

    </div>
</div>