<div class="foot_cont_r" style="display: flex;
align-items: center;
justify-content: end;
flex-direction: row-reverse;">
    <div class="" style="display: flex;
    position: relative;
    font-size: 10px;
    font-weight: 600;
    bottom: 0;
    left: 0;
    background-color: #ffffff17;
    z-index: 99;">
                    <div style="padding-right: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;">
                        <div style="display: flex;">
                            For Application Support &amp; Queries
                            <div style="text-align: center;
                            background-color: red;
                            color: #fff;
                            justify-content: center;
                            display: flex;
                            margin-left: 6px;">
                                <a href="https://iprism.mahindralogistics.com/portal/en/newticket?departmentId=587738000000244554&layoutId=587738000000247809" target="_blank" style="color: #fff;
                                text-decoration: none;
                                line-height: inherit;
                                text-transform: uppercase;
                                font-size: 8px;
                                display: flex;
                                padding-left: 5px;
                                padding-right: 6px;">
                                    Sumbit Ticket</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img alt="MLL" title="Mahindra Logistics" src="/assets/images/iPrismlogo.png" style="border: 0px;
                            width: 37px;">
                    </div>
                </div>
</div>

