<div class="fead_cont" (click)="not_view()">

</div>
<div class="not_cont"   [ngClass]="this.commonService.notification_view ? 'view' : 'viewnot'">
   
<div class="not_not_found no_not_displ" *ngIf="this.commonService.notificationDetails == undefined || this.commonService.notificationDetails.length==0">
<div class="img_notf"><img src="assets/images/notf_not_aw.png"></div>
<h3>No notifications yet !</h3>
<p>Will notify you when something arrives !!</p>
</div>

<perfect-scrollbar>
     <div class="not_fi_titl">
       <div class="see_all">All Notifications</div> 
       <div class="see_all_read" (click)="markallread()">Mark all as read
         <!-- <div class="cross_all" >
            <div class="cross_in">
              <div class="md"></div>
            </div>
          </div> -->
       </div>
       <div class="cross_all" (click)="not_view()" >
         <div class="cross_in">
           <div class="md"></div>
         </div>
       </div>
     </div>
     <div class="not_fy_box" [ngStyle]="{'backgroundColor': details.IsRead === 0 ? '#fff' : '#e5eeff' }"  (click)="clickonnotification(details.dh_system_notification_id)" *ngFor="let details of commonService.notificationDetails">
        <div class="not_clos" (click)="cancelnotification(details.dh_system_notification_id)"><img src="assets/images/not_cross.png"></div>
         <div class="not_left_con new_not_left"><img src="assets/images/not_icon.png"></div>
         
         <div class="not_right_con">
            
            <h3>{{details.notification_text}}</h3>
            <p>{{details.notification_date|date}}</p>
         </div>

     </div>
   </perfect-scrollbar>
</div>
