<div class="fead_cont" (click)="not_view()">

</div>
<div class="not_cont" [ngClass]="this.commonService.notification_view ? 'view' : 'viewnot'">
     <div class="not_fi_titl">
        All Notifications
     </div>
     <div class="not_fy_box">
         <div class="not_left_con"><img src="assets/images/user_icon.png"></div>
         <div>
             <h3>Lorem Ipsum</h3>
             <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
         </div>
     </div>
</div>
