<div  class="log_wrp"  fxLayout="row" fxLayoutAlign="space-between">
   
    <div class="log_incont">
        <div class="" style="    display: flex;
        padding-right: 20px;
        position: absolute;
        margin-right: 10px;
        width: 239px;
        font-size: 10px;
        font-weight: 600;
        bottom: 0;
        left: 0;
        background-color: #ffffff17;
        padding: 12px;
        z-index: 99;">
                    <div style="padding-right: 5px; display: flex; justify-content: center; align-items: center;">
                        <div>
                            For Application Support &amp; Queries<div style="text-align: center; background-color: red;
                                color: #fff;">
                                <a href="https://iprism.mahindralogistics.com/portal/en/newticket?departmentId=587738000000244554&layoutId=587738000000247809" target="_blank" style="color: #fff; text-decoration: none; line-height: 17px;
                                    text-transform: uppercase; font-size: 9px; margin-top: 6px; display: flex; justify-content: center;">
                                    Sumbit Ticket</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img alt="MLL" title="Mahindra Logistics" src="/assets/images/iPrismlogo.png" style="border: 0px;
                            width: 54px;">
                    </div>
                </div>
        <div  style="
    position: absolute;
    /* z-index: 00; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 9;
"><img  src="assets/images/login_img_rt.png" style="
    width: 420px;
    position: absolute;
    right: 0;
"></div>

        <!-- <img src="assets/loginscreen.jpg"> -->
        <div id="overlay">
            <img src="assets/images/loginscreen.png">
        </div>
        <div style="position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 9;">
            <img src="assets/images/login_img_bl.png" style="    width: 320px;
            position: absolute;
            bottom: 0;">
        </div>
    </div>
    <div class="log_infor_cont" fxLayout="column" fxLayoutAlign="end stretch">
        <app-header class="hed_con"></app-header>
    
        <router-outlet></router-outlet>
    </div>
</div>



<!-- <app-footer></app-footer> -->