<form [formGroup]="_obfservices.ObfCreateForm">

  <div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont creat_bof_con" >
      <div fxLayout="row" fxLayoutAlign="start center" class="creat_obf_tit">
          <div class="back_rout" routerLink="/DealHUB/dashboard"><img src="../../../assets/images/arrow_icon.png"> Back</div>
      <div class="com_title conm_title_obf">Create OBF</div>
  </div>
  
  <div>
      <!-- close -->
  </div>
      
   </div>
   <div  fxLayout="column" fxLayoutAlign=" none"  class="filter_cont obf_form_cont">
      <div class="cust-accor">
          <mat-accordion>
            <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
                <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)" >
                  <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                    <mat-panel-title>
                      1/3 Upload Document
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  <div class="mat_exp_wrp">
                    <!-- <div class="mat_exp_title">Enter details to create OBF</div> -->
                    <div fxLayout="column" fxLayoutAlign=" none" class="mat_fld_box_wrp">
                     
          
                      <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp con_dwn_wrp">
                        <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_upload_box" >
                          <div fxFlex="auto " class="mat_upload_in_wr">
                            <div class="mat_upload_tit">
                              Attach OBF SHEET 
                            </div>
                            <ngx-dropzone class="mat_up_con" (change)="onSelect($event,'coversheet')" accept=".xlsx">
                              <ngx-dropzone-label class="matUp_lable">
                                <div><img src="../../../assets/images/Group Upload.png"></div>
                                <div class="drap_titl">
                                  Drag & Drop
                                  <div class="in_titl">Or select file from your system</div>
                                </div>
                                
                              </ngx-dropzone-label>
                             
                                
                            </ngx-dropzone>
                            <div class="bt_uplad_con">
                              <div class="cr_corner"><img src="../../../assets/images/fold_icon.png"></div>
                              <button [disabled]="!(coversheetfiles.length >0)" (click)="uploadfiles(coversheetfiles,'coversheet')" class="creat_bt" mat-flat-button>Upload</button>
                            </div>
                            <!-- <input [disabled]="!(coversheetfiles.length >0)" class="btn btn-primary" (click)="uploadfiles(coversheetfiles,'coversheet')" type="button" value="Upload"/> -->
                            <div *ngIf="Coversheetprogress.length == 0">
                            <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of coversheetfiles" [removable]="true" (removed)="onRemove(coversheetfiles,f)">
                              
                              <ngx-dropzone-label class="drop_lab_cs">
                                <div class="doc_icon">
                                  <img src="../../../assets/images/doc_icon.JPG" style="margin-right: 15px;">
                                </div>
                                <div class="doc_cont" *ngIf="Coversheetprogress.length == 0">
                                  {{ f.name }}
                                 

                                </div> 
                                
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </div>
                          <div *ngIf="Coversheetprogress.length > 0">
                            <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of Coversheetprogress" >
                              
                              <ngx-dropzone-label class="drop_lab_cs">
                                <div style="background-color: #2258bf;position: absolute;width: 100%;height: 100%;top: 0;opacity: 0.5;left: 0px;" [style.width.%]="f.value"></div>
                                <div class="doc_icon" >
                                  <img src="../../../assets/images/doc_icon.JPG" style="margin-right: 15px;">
                                </div>
                                <div class="doc_cont" style="position: relative;" >
                                  {{ f.fileName }}
                                

                                </div> 
                                
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </div>
                           
                            </div>
                            
                          <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
                            <ul *ngFor="let msg of message; let i = index">
                              <li>{{ msg }}</li>
                            </ul>
                          </div>
                        </div>
                        <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_upload_box" >
                          <div fxFlex="auto " class="mat_upload_in_wr">
                            <div class="mat_upload_tit">
                              LOI/PO Agreement or Self Declaration 
                            </div>
                            <ngx-dropzone class="mat_up_con" (change)="onSelect($event,'loipo')" accept=".xlsx" [disabled]="loiopdisabled">
                              <ngx-dropzone-label class="matUp_lable">
                                <div><img src="../../../assets/images/Group Upload.png"></div>
                                <div class="drap_titl">
                                  Drag & Drop
                                  <div class="in_titl">Or select file from your system</div>
                                </div>
                                
                              </ngx-dropzone-label>
                             
                              
                            </ngx-dropzone>
                            <div class="bt_uplad_con">
                              <div class="cr_corner"><img src="../../../assets/images/fold_icon.png"></div>
                              <div class="mt-cust-fd upl_sec_cut">
                                
                                <mat-form-field appearance="fill" class="example-full-width">
                                  <mat-label>Select Type</mat-label>
                                  <mat-select formControlName="Loipodropdown">
                                    <mat-option value="PO" >
                                      PO
                                    </mat-option>
                                    <mat-option value="LOI">
                                      LOI
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <button [disabled]="!(loipofiles.length >0)" (click)="uploadfiles(loipofiles,'loipo')" class="creat_bt" mat-flat-button>Upload</button>
                           <!-- <input type="button" [disabled]="!(loipofiles.length >0)" class="btn btn-primary" (click)="uploadfiles(loipofiles,'loipo')" value="Upload"/>  -->
                            </div>
                            <div style="margin-top: 5px;">
                             <div class="cus_check">
                                <mat-checkbox  class="example-margin" formControlName="Selfdeclare" name="selfdec"  (change)="onCheckboxChange($event)" id="selfdec" value="self">This OBF is without LOI / PO </mat-checkbox>
                              </div> 
                              <!-- <input type="checkbox" formControlName="Selfdeclare" name="selfdec" value="selfdeclared" (change)="onCheckboxChange($event)" id="selfdec" value="self" />
                              <label for="selfdec">This OBF is without LOI / PO </label><br>   -->
                            </div>
                             <div *ngIf="LoiPoprogress.length == 0">
                            <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of loipofiles" [removable]="true" (removed)="onRemove(loipofiles,f)">
                              
                              <ngx-dropzone-label class="drop_lab_cs">
                                <div class="doc_icon">
                                  <img src="../../../assets/images/doc_icon.JPG" style="margin-right: 15px;">
                                </div>
                                <div class="doc_cont">
                                  {{ f.name }}
                                 <!-- <div>{{ f.type }}</div>  -->

                                </div> 
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                            </div>
                            <div *ngIf="LoiPoprogress.length > 0">
                              <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of LoiPoprogress" >
                                
                                <ngx-dropzone-label class="drop_lab_cs">
                                  <div style="background-color: #2258bf;position: absolute;width: 100%;height: 100%;top: 0;opacity: 0.5;left: 0px;" [style.width.%]="f.value"></div>
                                  <div class="doc_icon">
                                    <img src="../../../assets/images/doc_icon.JPG" style="margin-right: 15px;">
                                  </div>
                                  <div class="doc_cont" style="position: relative;" >
                                    {{ f.fileName }}
                                   
  
                                  </div>  
                                </ngx-dropzone-label>
                              </ngx-dropzone-preview>
                              </div>
                            </div>
                          </div>
                          <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_upload_box" >
                            <div fxFlex="auto " class="mat_upload_in_wr">
                              <div class="mat_upload_tit">
                                <div class="cus_check">
                                <mat-checkbox  class="example-margin" [(ngModel)]="checked_d">Supporting Document</mat-checkbox>
                              </div>
                              </div>
                              <ngx-dropzone class="mat_up_con" (change)="onSelect($event,'support')" accept=".xlsx">
                              <ngx-dropzone-label class="matUp_lable">
                                <div><img src="../../../assets/images/Group Upload.png"></div>
                                <div class="drap_titl">
                                  Drag & Drop
                                  <div class="in_titl">Or select file from your system</div>
                                </div>
                                
                              </ngx-dropzone-label>
                             
                              
                            </ngx-dropzone>
                            <div class="bt_uplad_con">
                              <div class="cr_corner"><img src="../../../assets/images/fold_icon.png"></div>
                              <button [disabled]="!(supportfiles.length >0)" (click)="uploadfiles(supportfiles,'support')" class="creat_bt" mat-flat-button>Upload</button>
                              
                            </div>
                          <div *ngIf="SupportPoprogress.length == 0">
                            <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of supportfiles" [removable]="true" (removed)="onRemove(supportfiles,f)">
                              
                              <ngx-dropzone-label class="drop_lab_cs">
                                <div class="doc_icon">
                                  <img src="../../../assets/images/doc_icon.JPG" style="margin-right: 15px;">
                                </div>
                                <div class="doc_cont">
                                  {{ f.name }}
                                 <!-- <div>{{ f.type }}</div>  -->

                                </div> 
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </div>  
                          <div *ngIf="SupportPoprogress.length > 0">
                            <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of SupportPoprogress" >
                              
                              <ngx-dropzone-label class="drop_lab_cs">
                                <div style="background-color: #2258bf;position: absolute;width: 100%;height: 100%;top: 0;opacity: 0.5;left: 0px;" [style.width.%]="f.value"></div>
                                <div class="doc_icon">
                                  <img src="../../../assets/images/doc_icon.JPG" style="margin-right: 15px;">
                                </div>
                                <div class="doc_cont" style="position: relative;" >
                                  {{ f.fileName }}
                                 

                                </div> 
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </div>    
                              </div>
                         </div>
                         
                          
                          </div>
                      <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
                         <div class="mat_fot_drf" >
                          <!-- <button mat-flat-button  class="creat_bt mat_fot_bt" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="Saveasdraft('upload')">SAVE AS DRAFT</button> -->
                        </div> 
                        <div class="mat_fot_drf" >
                          
                          <button mat-flat-button class="creat_bt" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="nextStep('details')">
                            NEXT
                          </button>
                        </div>
                        
                          </div>
                    </div>
                  </div>
                 
                </mat-expansion-panel>
                <!--  -->
                <mat-expansion-panel [disabled]="_obfservices.ObfCreateForm.invalid" [expanded]="step === 1" (opened)="setStep(1)">
                  <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                    <mat-panel-title>
                      2/3 Enter Details 
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  <div class="mat_exp_wrp">
                    <div class="mat_exp_title">Enter details to create OBF </div>
                    <div fxLayout="column" fxLayoutAlign=" none" class="mat_fld_box_wrp">
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Select solution category</mat-label>
                    <mat-select formControlName="Solutioncategory">
                      <mat-option *ngFor="let Solution of Solutiongroup" [value]="Solution.value"  (onSelectionChange)="onchange($event,Solution.Solutioncategory)" >
                        {{Solution.Solutioncategory}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Solutioncategory.errors?.required">
                      Solution Category is <strong>required</strong>
                    </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Select type of service/solution category</mat-label>
                                <mat-select [formControl]="servicesControl" multiple >
                                  <!-- <mat-option>-- None --</mat-option> -->
                                  <mat-optgroup *ngFor="let group of Solutionservicesarray" [label]="group.Solutioncategory"
                                                >
                                    <mat-option *ngFor="let list of group.Serviceslist" (onSelectionChange)="onotherservicesoptionchange($event,list.viewValue,group.Solutioncategory,group.value)" [value]="list.value">
                                      {{list.viewValue}} 
                                    </mat-option>
                                  </mat-optgroup>
                                </mat-select>
                                <mat-error *ngIf="servicesControl.hasError('required')">
                                  Services is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Other Services</mat-label>
                                <input matInput formControlName="otherservices" id="abc" #otherservices style="margin-left: 10px;" (change)="otherssave('services')" required/>
                                <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherservices.errors?.required">
                                  Services:Other is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Other Solutions</mat-label>
                                <input matInput formControlName="othersolutions" style="margin-left: 10px;" (change)="otherssave('solution')" required/>
                                <mat-error *ngIf="_obfservices.ObfCreateForm.controls.othersolutions.errors?.required">
                                  Solution:Other is <strong>required</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                          </div>
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Other Integrated Solutions</mat-label>
                                  <input matInput formControlName="otherintegratedsolutions" style="margin-left: 10px;" (change)="otherssave('integratedsolution')" required/>
                                  <mat-error *ngIf="_obfservices.ObfCreateForm.controls.otherintegratedsolutions.errors?.required">
                                    Integrated Solution:Other is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Vertical</mat-label>
                                  <input matInput formControlName="Vertical" style="margin-left: 10px;" value="{{_obfservices.ObfCreateForm.get('Vertical').value}}" required/>
                                </mat-form-field>
                            </div>
                          </div>
                          
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Select Sector</mat-label>
                                <mat-select (selectionChange)="onsectorchange($event)" formControlName="Sector">
                                  <mat-option *ngFor="let Sector of sectorlist" [value]="Sector.value"  >
                                    {{Sector.viewValue}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Sector.errors?.required">
                                  Sector is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Select Sub Sector</mat-label>
                                <mat-select (selectionChange)="onsubsectorchange($event)" formControlName="Subsector">
                                  <mat-option *ngFor="let Subsector of subsectorlisdisplay" [value]="Subsector.value"  >
                                    {{Subsector.viewValue}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="_obfservices.ObfCreateForm.controls.Subsector.errors?.required">
                                  Subsector is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          
                        
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                               
                                  <mat-label>Enter SAP Customer Code</mat-label>
                                  <input matInput [(ngModel)]="_obfservices.obfmodel._sap_customer_code" [ngModelOptions]="{standalone: true}" placeholder="SAP Customer Code" />
                               
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Enter SAP IO Number</mat-label>
                    <mat-chip-list #chipList >
                      <mat-chip *ngFor="let sapio of _obfservices.obfmodel.sapio" [selectable]="selectable"
                               [removable]="removable" (removed)="remove(sapio)">
                        {{sapio._Cust_SAP_IO_Number}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="SAP IO ..."
                      type="number"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                              </mat-form-field>
                              
                            </div>
                          </div>
                        </div>
                     
                      </div>
                      <div fxFlex="auto " class="mat_view_comment">
                        <div class="mat_previe_box">
                          <div class="prev_dis">
                            Comments 
                           </div>
                           <div class="mat_comment_box">
                            <mat-form-field class="example-full-width">
                              <mat-label>Leave a comment</mat-label>
                              <textarea matInput formControlName="comments" (change)="SavetoModel()"></textarea>
                            </mat-form-field>
                           </div>
                        </div>
                      </div> 
                      <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="mat_fot_drf" >
                          <button mat-flat-button class="creat_bt mat_fot_bt" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="Saveasdraft('details')">SAVE AS DRAFT</button>
                        </div>
                        <div class="mat_fot_drf" >
                          <button mat-flat-button class="creat_bt mat_fot_bt" class="creat_bt mat_fot_bt" (click)="prevStep('details')"> BACK</button>
                          <button mat-flat-button class="creat_bt"  [disabled]="_obfservices.ObfCreateForm.invalid" (click)="nextStep('preview')">
                            NEXT
                          </button>
                        </div>
                        
                          </div>
                    </div>
                  </div>
                  
          
                 
    
   
                </mat-expansion-panel>
                <mat-expansion-panel [disabled]="_obfservices.ObfCreateForm.invalid"  [expanded]="step === 2" (opened)="setStep(2)">
                  <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                  <mat-panel-title>
                    3/3 Preview OBF
                  </mat-panel-title>
  
                  </mat-expansion-panel-header>
                  <div class="mat_exp_wrp">
                    <div fxLayout="row wrap" fxLayoutAlign=" start"  class="mat_fld_box_wrp">
                      <div class="mat_previe_box">
                         <div class="prev_tit">
                          Opportunity ID
                         </div>
                         <div class="prev_dis">
                          {{ _obfservices.obfmodel._opportunity_id}}
                         </div>
                      </div>
                      <div class="mat_previe_box">
                        <div class="prev_tit">
                          Project Name
                        </div>
                        <div class="prev_dis">
                          {{_obfservices.obfmodel._dh_project_name}}
                        </div>
                     </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        SAP IO Number
                      </div>
                      <div class="prev_dis">
                        {{this.SAPIONum}}
                      </div>
                   </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        SAP Customer Code
                      </div>
                      <div class="prev_dis">
                        {{this._obfservices.obfmodel._sap_customer_code}}
                      </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Created On
                    </div>
                    <div class="prev_dis">
                      {{this.today | date:'shortDate'}}
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                    Project Primary Location / State
                  </div>
                  <div class="prev_dis">
                    {{_obfservices.obfmodel._dh_location}}
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                  Sector
                </div>
                <div class="prev_dis">
                  {{this.visiblesector}}
                </div>
             </div>
            
             <div class="mat_previe_box">
              <div class="prev_tit">
                Sub Sector
              </div>
              <div class="prev_dis">
               {{this.visiblesubsector}}
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Vertical 
            </div>
            <div class="prev_dis">
              {{_obfservices.ObfCreateForm.get('Vertical').value}}
            </div>
         </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Vertical Head
            </div>
            <div class="prev_dis">
              {{_obfservices.ObfCreateForm.get('Verticalhead').value}}
            </div>
          </div>
          <div class="mat_previe_box">
            <div class="prev_tit">
              Customer Name
            </div>
            <div class="prev_dis">
              {{_obfservices.obfmodel._customer_name}}
            </div>
          </div>
           
                      </div>
                      <div fxLayout="row wrap" fxLayoutAlign=" start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Total Revenue <br>
                            ₹ Cr
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfmodel._total_revenue}}
                          </div>
                       </div>
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Total Cost <br>₹ Cr
                        </div>
                        <div class="prev_dis">
                          {{_obfservices.obfmodel._total_cost}}
                        </div>
                     </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Total Margin 
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfmodel._total_margin}} %
                      </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Total Project Life 
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.obfmodel._total_project_life}}
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                    Capex <br>₹ Cr 
                  </div>
                  <div class="prev_dis">
                    {{_obfservices.obfmodel._capex}}
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                  EBT % 
                </div>
                <div class="prev_dis">
                  {{_obfservices.obfmodel._ebt}} %
                </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
                IRR % Surplus Cash
              </div>
              <div class="prev_dis">
                {{_obfservices.obfmodel._irr_surplus_cash}} %
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              IRR % Borrowed <br>Fund
            </div>
            <div class="prev_dis">
              {{_obfservices.obfmodel._irr_borrowed_fund}} %
            </div>
          </div>
          <div class="mat_previe_box">
            <div class="prev_tit">
              Payment Terms
            </div>
            <div class="prev_dis">
              {{_obfservices.obfmodel._payment_terms}} Days
            </div>
          </div>
          
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp">
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Solution Category
                          </div>
                          <div class="prev_dis">
                          {{this.servicecate}}
                          </div>
                       </div> 
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Type of Service/Solution Category
                        </div>
                        <div class="prev_dis">
                          <div><b> {{this.servicecate}}-</b> <br>
                            {{(ServiceMore) ? (this.service) : (this.service) | slice:0:50 }}  
                        <a href="javascript:;" *ngIf="!ServiceMore" (click)="ServiceMore=true"> More...</a>
                        <a href="javascript:;" *ngIf="ServiceMore" (click)="ServiceMore=false">less...</a>
                           </div>
                        </div>
                     </div> 
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Project Brief 
                      </div>
                      <div class="prev_dis">
                        {{(BrifreadMore) ? (_obfservices.obfmodel._dh_desc) : (_obfservices.obfmodel._dh_desc) | slice:0:50 }}  
                        <a href="javascript:;" *ngIf="!BrifreadMore" (click)="BrifreadMore=true"> More...</a>
                        <a href="javascript:;" *ngIf="BrifreadMore" (click)="BrifreadMore=false">less...</a>
                      </div>
                   </div> 
                       </div>
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Assumption & Risk
                          </div>
                          <div class="prev_dis">
                            {{(readMore) ? (_obfservices.obfmodel._assumptions_and_risks) : (_obfservices.obfmodel._assumptions_and_risks) | slice:0:50 }}  
                            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">More...</a>
                            <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">less...</a>
                          </div>
                       </div>
                      
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Payment Terms Description
                      </div>
                      <div class="prev_dis">
                        {{(paymentRead) ? (_obfservices.ObfCreateForm.get('Payment_Terms_description').value) : (_obfservices.ObfCreateForm.get('Payment_Terms_description').value) | slice:0:50 }}  
                        <a href="javascript:;" *ngIf="!paymentRead" (click)="paymentRead=true">More...</a>
                        <a href="javascript:;" *ngIf="paymentRead" (click)="paymentRead=false">less...</a>
                       </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Project Date
                    </div>
                    <div class="prev_dis">{{this.today | date:'shortDate' }}
                     </div>
                 </div>
                   
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      LOI/Po
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.ObfCreateForm.get('Loipo').value}}
                    </div>
                 </div>
                      </div>
                     
                        
                       
                        
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp con_dwn_wrp">
                          <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                            <div class="dwn_con_wr">
                              <img  src="../../../assets/images/dwn-load-file.png">
                              <span><a [href]="sanitize(coversheetpath)" target="_blank" >OBF Sheet</a></span>
                            </div>
                            <div class="dwn_con_wr"><img src="../../../assets/images/dwn_fil_icon.png"></div>
                            </div>
                            <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con"  >
                              <div class="dwn_con_wr">
                                <img src="../../../assets/images/dwn-load-file.png">
                                <span><a [href]="sanitize(supportdocpath)" target="_blank" >Supporting Document</a></span>
                              </div>
                              <div class="dwn_con_wr"><img src="../../../assets/images/dwn_fil_icon.png"></div>
                              </div>
                              <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                                <div class="dwn_con_wr">
                                  <img  src="../../../assets/images/dwn-load-file.png">
                                  <span ><a [href]="sanitize(loipopath)" target="_blank" >LOI/PO/Agreement</a></span>
                                </div>
                                <div class="dwn_con_wr" ><img src="../../../assets/images/dwn_fil_icon.png" ></div>
                                </div>
          
                                
                            </div>
                            <div fxLayout="column" fxLayoutAlign=" none"  class="mat_fld_box_wrp">
                            <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
                              <div class="mat_fot_drf" >
                                <!-- <button mat-flat-button class="creat_bt mat_fot_bt">SAVE AS DRAFT</button> -->
                              </div>
                              <div class="mat_fot_drf" >
                                <button mat-flat-button class="creat_bt mat_fot_bt" (click)="prevStep('details')"> BACK</button>
                                <button mat-flat-button class="creat_bt" (click)="FinalSubmit()">
                                  SUBMIT
                                </button>
                              </div>
                            </div>
                                </div>
          
                  </div>

              
                    <!-- &nbsp;
                    <div style="display: block;float: right;">
                      <div  class="sb_buttion" (click)="EditOBF()"><button>Edit</button></div>
                      <div  class="sb_buttion" (click)="FinalSubmit()"><button>Submit</button></div>
                      </div> -->
                </mat-expansion-panel>
              </mat-accordion>
              
              
      </div>
   </div>
  </form>