@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.filter_cont {
    @include padding(15px,50px,15px,50px);
    &.obf_form_cont
    {
        @include margin(-28px,inherit,inherit,inherit);
    }
    &.creat_bof_con
    {
        background-image: linear-gradient(to bottom, #2258bf, #4c82e8);
        @include padding(15px,50px,30px,50px);
        color: $thm-bg;
        .creat_obf_tit
        {
            .back_rout
            {
                cursor: pointer;
                align-items: center;
                @include flexbox();
                @include font-size(1);
                @include margin(inherit,10px,initial,initial);
                img
                {
                    width: 20px;
                    @include margin(inherit,10px,initial,initial);
                }
            }
        }
    }
}

.com_title
{
    display: inline-block;
    text-transform: capitalize;
    @include font-size(1.4);
    @include font-weight(semi-bold);
    color:$thm-title-color;
    &.conm_title_obf
    {
        color: $thm-bg;
    }
}

.cust-accor
{
    
    ::ng-deep .mat-accordion
    {
        .mat-expansion-panel-body
        {
            background-color: #eaeaea;
        }
        .mat-expansion-panel
        {
            box-shadow: none;
            @include border-radius(0px);
            @include margin(5px,initial,5px,initial);
            .mat-content
            {
                .mat-expansion-panel-header-title
                {
                    color:$thm-title-color;
                    @include font-weight(bold);
                    @include font-size(1);
                }
            }
            .mat-expansion-panel-header
            {
                border: solid 1px rgba(0, 0, 0, 0.09);
                
                &:hover
            {
                background-color: #fff ;
                
            }
            &:focus
            {
                background-color: #fff ;
                
            }
            }
            .mat-expansion-indicator
            {
                &::after
                {
                    @include padding(4px,4px,4px,4px);
                    color: $thm-text-color;
                }
            }
        }
    }
}

