<form [formGroup]="_obfservices.ObfCreateForm">

  <div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont creat_bof_con" >
      <div fxLayout="row" fxLayoutAlign="start center" class="creat_obf_tit">
          <div class="back_rout" routerLink="/DealHUB/dashboard"><img src="../../../assets/images/arrow_icon.png"> Back</div>
      <div class="com_title conm_title_obf">Create OBF</div>
  </div>
  
  <div>
      <!-- close -->
  </div>
      
   </div>
   <div  fxLayout="column" fxLayoutAlign=" none"  class="filter_cont obf_form_cont">
      <div class="cust-accor">
          <mat-accordion>
            <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
                <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)" >
                  <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                    <mat-panel-title>
                      1/3 Upload Document
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  <div class="mat_exp_wrp">
                    <!-- <div class="mat_exp_title">Enter details to create OBF</div> -->
                    <div fxLayout="column" fxLayoutAlign=" none" class="mat_fld_box_wrp">
                     
          
                      <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp con_dwn_wrp">
                        <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                          <div style="width:25%;margin-right:15px;float: left;">
                            <ngx-dropzone (change)="onSelect($event,'coversheet')" accept=".xlsx">
                              <ngx-dropzone-label>Drop OBFSheet</ngx-dropzone-label>
                              <ngx-dropzone-preview *ngFor="let f of coversheetfiles" [removable]="true" (removed)="onRemove(coversheetfiles,f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                              </ngx-dropzone-preview>
                                
                            </ngx-dropzone>
                            <input [disabled]="!(coversheetfiles.length >0)" class="btn btn-primary" (click)="uploadfiles(coversheetfiles,'coversheet')" type="button" value="Upload"/>
                            </div>
                            <div style="display: block;float: left;width:77%;" *ngIf="progress > 0">
                              <!-- <div style="display: block;float: left;background: red;height:5px;text-align: center;color: red;"  role="progressbar" [style.width.%]="progress">
                                  {{progress}}%
                              </div> -->
                              <div style="display: block;float: left;width:77%;" *ngIf="progress > 0">
                                <div style="display: block;float: left;background: red;height:5px;text-align: center;color: red;"  role="progressbar" [style.width.%]="progress">
                                    {{progress}}%
                                </div>
                            </div>
                          </div>
                          <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
                            <ul *ngFor="let msg of message; let i = index">
                              <li>{{ msg }}</li>
                            </ul>
                          </div>
                        </div>
                        <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                          <div style="width:25%;margin-right:15px;float: left;">
                            <ngx-dropzone (change)="onSelect($event,'loipo')" accept=".xlsx" [disabled]="loiopdisabled">
                              <ngx-dropzone-label>Drop LOI/PO Agreement</ngx-dropzone-label>
                              <ngx-dropzone-preview *ngFor="let f of loipofiles" [removable]="true" (removed)="onRemove(loipofiles,f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                              </ngx-dropzone-preview>
                                
                            </ngx-dropzone>
                            <select formControlName="Loipodropdown">
                                <option value="PO" selected>PO</option>
                                <option value="LOI">LOI</option>
                            </select>
                            <input type="checkbox" formControlName="Selfdeclare" name="selfdec" value="selfdeclared" (change)="onCheckboxChange($event)" id="selfdec" value="self" />
                            <label for="selfdec">This OBF is without LOI / PO </label><br>
                             <input type="button" [disabled]="!(loipofiles.length >0)" class="btn btn-primary" (click)="uploadfiles(loipofiles,'loipo')" value="Upload"/> 
                            </div>
                          </div>
                          <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                            <div style="width:25%;margin-right:15px;float: left;">
                              <ngx-dropzone (change)="onSelect($event,'support')" accept=".xlsx">
                                <ngx-dropzone-label>Drop Supporting documents</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of supportfiles" [removable]="true" (removed)="onRemove(supportfiles,f)">
                                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                                  
                              </ngx-dropzone>
                               <input type="button" [disabled]="!(supportfiles.length >0)" class="btn btn-primary" (click)="uploadfiles(supportfiles,'support')" value="Upload"/> 
                              </div>
                         </div>
                         
                          
                          </div>
                      <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="mat_fot_drf" >
                          <button mat-flat-button  class="creat_bt mat_fot_bt" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="Saveasdraft('upload')">SAVE AS DRAFT</button>
                        </div>
                        <div class="mat_fot_drf" >
                          
                          <button mat-flat-button class="creat_bt" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="nextStep('details')">
                            NEXT
                          </button>
                        </div>
                        
                          </div>
                    </div>
                  </div>
                 
                </mat-expansion-panel>
                <!--  -->
                <mat-expansion-panel [disabled]="_obfservices.ObfCreateForm.invalid" [expanded]="step === 1" (opened)="setStep(1)">
                  <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                    <mat-panel-title>
                      2/3 Enter details 
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  <div class="mat_exp_wrp">
                    <div class="mat_exp_title">Enter details to create OBF  <label>Vertical : </label>{{_obfservices.ObfCreateForm.get('Vertical').value}}</div>
                    <div fxLayout="column" fxLayoutAlign=" none" class="mat_fld_box_wrp">
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Select solution category</mat-label>
                    <mat-select >
                      <mat-option *ngFor="let Solution of Solutiongroup" [value]="Solution.value"  (onSelectionChange)="onchange($event,Solution.Solutioncategory)" >
                        {{Solution.Solutioncategory}}
                      </mat-option>
                    </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-select  multiple >
                                  <mat-option>-- None --</mat-option>
                                  <mat-optgroup *ngFor="let group of Solutionservicesarray" [label]="group.Solutioncategory"
                                                >
                                    <mat-option *ngFor="let list of group.Serviceslist" (onSelectionChange)="onotherservicesoptionchange($event,list.viewValue,group.Solutioncategory,group.value)" [value]="list.value">
                                      {{list.viewValue}} 
                                    </mat-option>
                                  </mat-optgroup>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Other Services</mat-label>
                                <input matInput formControlName="otherservices" id="abc" #otherservices style="margin-left: 10px;" (change)="otherssave('services')" required/>
                              </mat-form-field>
                            </div>
                          </div>
                          
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Other Solutions</mat-label>
                                <input matInput formControlName="othersolutions" style="margin-left: 10px;" (change)="otherssave('solution')" required/>
                                </mat-form-field>
                            </div>
                          </div>
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Other Integrated Solutions</mat-label>
                                  <input matInput formControlName="otherintegratedsolutions" style="margin-left: 10px;" (change)="otherssave('integratedsolution')" required/>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="1 1 100%">
                            <div class="mt-cust-fd">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Vertical</mat-label>
                                  <input matInput formControlName="Vartical" style="margin-left: 10px;" value="{{_obfservices.ObfCreateForm.get('Vertical').value}}" required/>
                                </mat-form-field>
                            </div>
                          </div>
                          
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Select Sector</mat-label>
                                <mat-select (selectionChange)="onsectorchange($event)" formControlName="Sector">
                                  <mat-option *ngFor="let Sector of sectorlist" [value]="Sector.value"  >
                                    {{Sector.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Select Sub Sector</mat-label>
                                <mat-select (selectionChange)="onsubsectorchange($event)" formControlName="Subsector">
                                  <mat-option *ngFor="let Subsector of subsectorlisdisplay" [value]="Subsector.value"  >
                                    {{Subsector.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          
                        
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                               
                                  <mat-label>Enter SAP Customer Code</mat-label>
                                  <input matInput [(ngModel)]="_obfservices.obfmodel._sap_customer_code" [ngModelOptions]="{standalone: true}" placeholder="SAP Customer Code" />
                               
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="mat_fld_box_in" fxFlex="50">
                            <div class="mt-cust-fd" fxFlex="1 1 100%">
                              <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Enter SAP IO Number</mat-label>
                    <mat-chip-list #chipList >
                      <mat-chip *ngFor="let sapio of _obfservices.obfmodel.sapio" [selectable]="selectable"
                               [removable]="removable" (removed)="remove(sapio)">
                        {{sapio._Cust_SAP_IO_Number}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="SAP IO ..."
                      type="number"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                     
                      </div>
                      <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="mat_fot_drf" >
                          <button mat-flat-button class="creat_bt mat_fot_bt" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="Saveasdraft('details')">SAVE AS DRAFT</button>
                        </div>
                        <div class="mat_fot_drf" >
                          <button mat-flat-button class="creat_bt mat_fot_bt" class="creat_bt mat_fot_bt" (click)="prevStep('details')"> BACK</button>
                          <button mat-flat-button class="creat_bt"  [disabled]="_obfservices.ObfCreateForm.invalid" (click)="nextStep('preview')">
                            NEXT
                          </button>
                        </div>
                        
                          </div>
                    </div>
                  </div>
                  
          
                 
    
   
                </mat-expansion-panel>
                <mat-expansion-panel [disabled]="_obfservices.ObfCreateForm.invalid"  [expanded]="step === 2" (opened)="setStep(2)">
                  <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                  <mat-panel-title>
                    3/3 Preview OBF
                  </mat-panel-title>
  
                  </mat-expansion-panel-header>
                  <div class="mat_exp_wrp">
                    <div fxLayout="row wrap" fxLayoutAlign=" start"  class="mat_fld_box_wrp">
                      <div class="mat_previe_box">
                         <div class="prev_tit">
                          Opportunity ID
                         </div>
                         <div class="prev_dis">
                          {{ _obfservices.obfmodel._opportunity_id}}
                         </div>
                      </div>
                      <div class="mat_previe_box">
                        <div class="prev_tit">
                          Project Name
                        </div>
                        <div class="prev_dis">
                          {{_obfservices.obfmodel._dh_project_name}}
                        </div>
                     </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        SAP Customer Code
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.ObfCreateForm.get('Sapcustomercode').value}}
                      </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Created On
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.ObfCreateForm.get('Createddate').value}}
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                    Project Primary Location / State
                  </div>
                  <div class="prev_dis">
                    {{_obfservices.obfmodel._dh_location}}
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                  Sector
                </div>
                <div class="prev_dis">
                  Consumer Durables
                </div>
             </div>
            
             <div class="mat_previe_box">
              <div class="prev_tit">
                Sub Sector
              </div>
              <div class="prev_dis">
                Consumer electronics
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Vertical 
            </div>
            <div class="prev_dis">
              {{_obfservices.ObfCreateForm.get('Vertical').value}}
            </div>
         </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Vertical Head
            </div>
            <div class="prev_dis">
              {{_obfservices.ObfCreateForm.get('Verticalhead').value}}
            </div>
          </div>
                      
                      </div>
                      <div fxLayout="row wrap" fxLayoutAlign=" start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            total revenue <br>
                            ₹ Cr
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfmodel._total_revenue}}
                          </div>
                       </div>
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Total cost <br>₹ Cr
                        </div>
                        <div class="prev_dis">
                          {{_obfservices.obfmodel._total_cost}}
                        </div>
                     </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        total margin 
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfmodel._total_margin}}
                      </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      total project Life 
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.obfmodel._total_project_life}}
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                    Capex <br>₹ Cr 
                  </div>
                  <div class="prev_dis">
                    {{_obfservices.obfmodel._capex}}
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                  EBT % 
                </div>
                <div class="prev_dis">
                  {{_obfservices.obfmodel._ebt}}
                </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
                IRR % Surplus Cash
              </div>
              <div class="prev_dis">
                {{_obfservices.obfmodel._irr_surplus_cash}}
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              IRR % Borrowed <br>Fund
            </div>
            <div class="prev_dis">
              {{_obfservices.obfmodel._irr_borrowed_fund}}
            </div>
          </div>
          <div class="mat_previe_box">
            <div class="prev_tit">
              Payement Terms
            </div>
            <div class="prev_dis">
              {{_obfservices.obfmodel._payment_terms}}
            </div>
          </div>
          
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp">
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Solution Category
                          </div>
                          <div class="prev_dis">
                          {{  this.servicecate }}
                          </div>
                       </div> 
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Type of Service/Solution Category
                        </div>
                        <div class="prev_dis">
                          <div><b>Services -</b> <br>
                            {{(ServiceMore) ? (this.service) : (this.service) | slice:0:50 }}  
                        <a href="javascript:;" *ngIf="!BrifreadMore" (click)="BrifreadMore=true"> More...</a>
                        <a href="javascript:;" *ngIf="BrifreadMore" (click)="BrifreadMore=false">less...</a>
                           </div>
                        </div>
                     </div> 
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Project Brief 
                      </div>
                      <div class="prev_dis">
                        {{(BrifreadMore) ? (_obfservices.obfmodel._dh_desc) : (_obfservices.obfmodel._dh_desc) | slice:0:50 }}  
                        <a href="javascript:;" *ngIf="!BrifreadMore" (click)="BrifreadMore=true"> More...</a>
                        <a href="javascript:;" *ngIf="BrifreadMore" (click)="BrifreadMore=false">less...</a>
                      </div>
                   </div> 
                       </div>
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Assumption & Risk
                          </div>
                          <div class="prev_dis">
                            {{(readMore) ? (_obfservices.obfmodel._assumptions_and_risks) : (_obfservices.obfmodel._assumptions_and_risks) | slice:0:50 }}  
                            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">More...</a>
                            <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">less...</a>
                          </div>
                       </div>
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          LOI/Po
                        </div>
                        <div class="prev_dis">
                         Rate Card Attached
                        </div>
                     </div>
                      </div>
                      <div fxFlex="auto " class="mat_view_comment">
                        <div class="mat_previe_box">
                          <div class="prev_dis">
                            comments 
                           </div>
                           <div class="mat_comment_box">
                            Please enter you Approval/rejection
                            Justification here.
                           </div>
                        </div>
                      </div>
                        
                       
                        
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp con_dwn_wrp">
                          <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                            <div class="dwn_con_wr">
                              <img  src="../../../assets/images/dwn-load-file.png">
                              <span>OBF Sheet</span>
                            </div>
                            <div class="dwn_con_wr"><img src="../../../assets/images/dwn_fil_icon.png"></div>
                            </div>
                            <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                              <div class="dwn_con_wr">
                                <img src="../../../assets/images/dwn-load-file.png">
                                <span>Supportting Document</span>
                              </div>
                              <div class="dwn_con_wr"><img src="../../../assets/images/dwn_fil_icon.png"></div>
                              </div>
                              <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                                <div class="dwn_con_wr">
                                  <img  src="../../../assets/images/dwn-load-file.png">
                                  <span>LOI/PO/Agreement</span>
                                </div>
                                <div class="dwn_con_wr"><img src="../../../assets/images/dwn_fil_icon.png"></div>
                                </div>
          
                                
                            </div>
                            <div fxLayout="column" fxLayoutAlign=" none"  class="mat_fld_box_wrp">
                            <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
                              <div class="mat_fot_drf" >
                                <!-- <button mat-flat-button class="creat_bt mat_fot_bt">SAVE AS DRAFT</button> -->
                              </div>
                              <div class="mat_fot_drf" >
                                <button mat-flat-button class="creat_bt mat_fot_bt" (click)="prevStep('details')"> BACK</button>
                                <button mat-flat-button class="creat_bt" (click)="FinalSubmit()">
                                  SUBMIT
                                </button>
                              </div>
                            </div>
                                </div>
          
                  </div>

              
                    <!-- &nbsp;
                    <div style="display: block;float: right;">
                      <div  class="sb_buttion" (click)="EditOBF()"><button>Edit</button></div>
                      <div  class="sb_buttion" (click)="FinalSubmit()"><button>Submit</button></div>
                      </div> -->
                </mat-expansion-panel>
              </mat-accordion>
              
              
      </div>
   </div>
  </form>