@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.filter_cont {
    @include padding(15px,50px,15px,50px);
    &.obf_form_cont
    {
        padding-top: 0px;
        @include margin(-20px,inherit,inherit,inherit);
        
    }
    &.creat_bof_con
    {
        background-image: linear-gradient(to bottom, #2258bf, #4c82e8);
        @include padding(15px,50px,30px,50px);
        color: $thm-bg;
        .creat_obf_tit
        {
            .back_rout
            {
                cursor: pointer;
                align-items: center;
                @include flexbox();
                @include font-size(1);
                @include margin(inherit,10px,initial,initial);
                img
                {
                    width: 20px;
                    @include margin(inherit,12px,initial,initial);
                }
            }
        }
    }
}

.com_title
{
    display: inline-block;
    text-transform: capitalize;
    @include font-size(1.4);
    @include font-weight(semi-bold);
    color:$thm-title-color;
    &.conm_title_obf
    {
        color: $thm-bg;
        @include margin(inherit,inherit,inherit,15px);
    }
}

.cust-accor
{
    
    ::ng-deep .mat-accordion
    {
        .mat-expansion-panel-body
        {
            background-color: #eaeaea;
            @include padding(10px,inherit,10px,inherit);
            .mat_exp_wrp
            {
                @include padding(inherit,24px,0px,24px);
                .mat_previe_box
                {
                    max-width: 300px;
                    @include heightwidth(auto,initial);
                    @include padding(inherit,24px,20px,24px);
                    .prev_tit
                    {
                        opacity: 0.6;
                        line-height: initial;
                        color: $thm-text-color;
                        @include font-size(0.9);
                    }
                    .prev_dis
                    {
                        line-height: initial;
                        color: $thm-text-color;
                        @include font-size(0.9);
                        @include font-weight(semi-bold);
                    }
                }
                .mat_exp_fot
                {
                    border-top: solid 1px rgba(0, 0, 0, 0.09);
                    @include padding(5px,initial,initial,initial);
                    .mat_fot_drf
                    {
                        @include padding(inherit,15px,inherit,15px);
                        .mat_fot_bt
                        {
                            background-color: transparent;
                            color: $thm-tex-col-dar;
                            @include font-weight(semi-bold);
                            @include font-size(0.9);
                            &[disabled][disabled]
                            {
                                color: #ccc;
                            }
                        }
                    }
                }
                
                .mat_exp_title
                {
                    color: $thm-text-color;
                    @include font-size(0.90);
                    @include font-weight(semi-bold);
                    @include padding(0,0,15px,0);
                }
                .mat_fld_box_wrp
                {
                    @include margin(inherit,-15px,inherit,-15px);
                    @include padding(0px,0px,0px,0px);
                    &.con_dwn_wrp
                    {
                        @include margin(inherit,0px,10px,0px);
                        .mat_dwn_lod_con
                    {
                        cursor: pointer;
                        @include margin(inherit,10px,inherit,10px);
                        @include padding(15px,20px,15px,20px);
                        @include border-radius(2px);
                        background-color: $thm-prm-bg;
                        color: $thm-bg;
                        .dwn_con_wr
                        {
                            align-items: center;
                            @include flexbox();
                            span
                            {
                                line-height: initial;
                                @include font-size(0.8);
                            }
                            img
                            {
                                @include heightwidth(18px,initial);
                                @include padding(initial,5px,initial,initial);
                            }
                        }
                        
                    }
                    }
                    
                    .mat_view_cont
                    {
                       .mat_previe_box
                       {
                           max-width: initial;
                       }
                    }
                    .mat_view_comment
                    {
                        max-width: 25%;
                        .mat_previe_box
                       {
                           max-width: initial;
                           .prev_dis
                           {
                               @include margin(initial,initial,5px,initial);
                           }
                           .mat_comment_box
                           {
                            border: solid 1px rgba(0, 0, 0, 0.09);
                            background-color: #e5eeff;
                            color: #6e6e6e;
                            line-height: initial;
                            @include padding(10px,10px,10px,10px);
                            @include font-size(0.7);
                            @include font-weight(semi-bold);
                           }
                       }
                      
                    }
                    .mat_fld_box_in
                    {
                        @include heightwidth(50px,initial);
                        @include margin(inherit,10px,inherit,10px);
                        &.cust_width
                        {
                            @include heightwidth(150px,initial);
                        }
                    }
                    &.prm_mat_fld_box_wrp
                    {
                        background-color: $thm-prm-bg;
                        @include margin(initial,-25px,15px,-25px);
                        @include padding(10px,24px,10px,24px);
                        .prev_dis
                        {
                            color: $thm-bg;
                        }
                        .prev_tit
                        {
                            opacity: 0.5;
                            color: $thm-bg;
                            min-height: 37px;
                        }
                        .mat_previe_box
                        {
                            max-width: 164px;
                            @include padding(initial,22px,initial,22px);
                        }
                    }
                }
            }
        }
        .mat-expansion-panel
        {
            box-shadow: none;
            @include border-radius(0px);
            @include margin(5px,initial,5px,initial);
            .mat-content
            {
                .mat-expansion-panel-header-title
                {
                    color:$thm-title-color;
                    @include font-weight(bold);
                    @include font-size(1);
                }
            }
            .mat-expansion-panel-header
            {
                border: solid 1px rgba(0, 0, 0, 0.09);
                
                &:hover
            {
                background-color: #fff ;
                
            }
            &:focus
            {
                background-color: #fff ;
                
            }
            }
            .mat-expansion-indicator
            {
                &::after
                {
                    @include padding(4px,4px,4px,4px);
                    color: $thm-text-color;
                }
            }
        }
    }
}

