<div>
    <p class="to_account">Sign in to your dealHUB account with 
        the provided credential </p>
    <form [formGroup]="loginvalid">
        <div>
            <div>
                <div class="mt-cust-fd"  >
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="NewPassword" [(ngModel)]="NewPassword">
                            <mat-error *ngIf="checkError('NewPassword', 'required')">New Password is required</mat-error>
                      </mat-form-field>
                  </div>
            </div>
            <div>
                <div class="mt-cust-fd"  >
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmpassword" [(ngModel)]="confirmpassword">
                            <mat-error *ngIf="checkError('confirmpassword', 'required')">Confirm password is required</mat-error>
                      </mat-form-field>
                  </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" >
             
                <div><button mat-flat-button class="cus_bt" color="primary" (click)="ResetPassword()">Reset Password</button></div>
            </div>

         
     </div>
     
    </form>

    
</div>
