<div>
    <p class="to_account">Sign in to your dealHUB account with 
        the provided credential </p>
    <form [formGroup]="loginvalid">
        <div>
            <div>
                <div class="mt-cust-fd" style="margin-bottom: 10px;" >
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="NewPassword" autocomplete="off" /> 
                            <mat-error *ngIf="checkError('NewPassword', 'required')">New Password is required</mat-error>
                            <mat-error *ngIf="loginvalid.controls.NewPassword.errors?.pattern">Password must be 8 characters in length, must contain atleast one lowercase & uppercase & numbers & special characters</mat-error>
                      </mat-form-field>
                  </div>
            </div>
            <div>
                <div class="mt-cust-fd"  >
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmpassword" [errorStateMatcher]="matcher" autocomplete="off" />
                            <mat-error *ngIf="checkError('confirmpassword', 'required')">Confirm password is required</mat-error>
                            <mat-error *ngIf="loginvalid.hasError('notSame')">
                                Password does not match
                              </mat-error> 
                      </mat-form-field>
                  </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" >
             
                <div><button mat-flat-button class="cus_bt" color="primary" [disabled]="loginvalid.invalid" (click)="ResetPassword()">Reset Password</button></div>
            </div>

         
     </div>
     
    </form>

    
</div>
