<!-- <input type="file" (change)="updatedatafromcoversheet($event)" multiple="false" /> -->
<form [formGroup]="_obfservices.ObfCreateForm">
    <div style="display: block;float: left;width:100%;">
    <div style="width:25%;margin-right:15px;float: left;">
    <ngx-dropzone (change)="onSelect($event,'coversheet')" accept=".xlsx">
        <ngx-dropzone-label>Drop OBFSheet</ngx-dropzone-label>
  
        
    </ngx-dropzone>
    <ngx-dropzone-preview *ngFor="let f of coversheetfiles" [removable]="true" (removed)="onRemove(coversheetfiles,f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
    <input [disabled]="!(coversheetfiles.length >0)" class="btn btn-primary"  type="button" value="Upload"/>
    </div>
    <div style="width:25%;margin-right:15px;float: left;">
    <ngx-dropzone (change)="onSelect($event,'loipo')" accept=".xlsx" [disabled]="loiopdisabled">
        <ngx-dropzone-label>Drop LOI/PO Agreement</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of loipofiles" [removable]="true" (removed)="onRemove(loipofiles,f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
        
    </ngx-dropzone>
    <select formControlName="Loipodropdown">
        <option value="PO" selected>PO</option>
        <option value="LOI">LOI</option>
    </select>
    <input type="checkbox" formControlName="Selfdeclare" name="selfdec" value="selfdeclared" (change)="onCheckboxChange($event)" id="selfdec" value="self" />
    <label for="selfdec">This OBF is without LOI / PO </label><br>
     <input type="button" [disabled]="!(loipofiles.length >0)" class="btn btn-primary"  value="Upload"/> 
    </div>
    <div style="width:25%;margin-right:15px;float: left;">
    <ngx-dropzone (change)="onSelect($event,'support')" accept=".xlsx">
        <ngx-dropzone-label>Drop Supporting documents</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of supportfiles" [removable]="true" (removed)="onRemove(supportfiles,f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
        
    </ngx-dropzone>
     <input type="button" [disabled]="!(supportfiles.length >0)" class="btn btn-primary"  value="Upload"/> 
    </div>
    <div>
        <input type="text" placeholder="Enter Comment" style="height:180px;" formControlName="comments" />
        
    </div>
    </div>
    <div style="display: block;float: left;width:77%;" *ngIf="progress > 0">
        <div style="display: block;float: left;background: red;height:5px;text-align: center;color: red;"  role="progressbar" [style.width.%]="progress">
            {{progress}}%
        </div>
    </div>
    <div style="display: block;float: left;width:100%;">
        <input type="button" class="btn btn-primary" style="margin-right:5px;" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="Saveasdraft()" value="Save as Draft"/>
        <input type="button" (click)="Prview()" class="btn btn-primary" [disabled]="_obfservices.ObfCreateForm.invalid" value="Preview & Submit"/>
    </div>
   
    </form>
    <div >
        <ng-template #callAPIDialog>
     
  
                  <div style="display:block;float:left;width:100%;background: #4e65d796;">
                    <span><label [matTooltip]="getToolTipData(OBFData.Projectname)">Project Name</label>{{OBFData.Projectname}}</span>
                    <span><label [matTooltip]="getToolTipData(OBFData.Projecttype)">Project Type</label>{{OBFData.Projecttype}}</span>
                    <span><label>Opportunity Id</label>{{OBFData.Opportunityid}}</span>
                    <span><label>Location / State</label>{{OBFData.State}}</span>
                    <span><label>Vertical</label>{{OBFData.Vertical}}</span>
                    <span><label>Vertical Head</label>{{OBFData.Verticalhead}}</span>
                    <span><label>Created on</label>{{OBFData.Createddate}}</span>
                    <span><label>SAP IO number</label>{{OBFData.Sapio}}</span>
                    <span><label>Customer Name</label>{{OBFData.Customername}}</span>
                    <span><label>SAP Customer Code</label>{{OBFData.Sapcustomercode}}</span>
                    <span><label>Project Primary Location</label>{{OBFData.Projectprimarylocation}}</span>
                    <span><label>Service/Solution/Integrated Solution type </label>{{OBFData.Solutiontype}}</span>
                </div>
                <div style="display:block;float:left;width:100%;background: #b6b6b896;">
                    <span><label>Total Revenue (Cr)</label>{{OBFData.Totalrevenue}}</span>
                    <span><label>Total Cost (Cr)</label>{{OBFData.Totalcost}}</span>
                    <span><label>Total Margin</label>{{OBFData.Totalmargin}}</span>
                    <span><label>Total Project Life</label>{{OBFData.Totalprojectlife}}</span>
                    <span><label>EBT %</label>{{OBFData.EBT}}</span>
                    <span><label>Capex Cr</label>{{OBFData.Capex}}</span>
                    <span><label>IIR % Surplus Cash</label>{{OBFData.IRRsurpluscash}}</span>
                    <span><label>IIR % Borrowed Fund</label>{{OBFData.IRRborrowedfund}}</span>
                    <span><label>Payment Terms</label>{{OBFData.Paymentterms}}</span>
                </div>
                <div>Project Date:{{OBFData.Projectdate}}</div>

               <div >Project Brief:{{(BrifreadMore) ? (OBFData.Projectbrief) : (OBFData.Projectbrief) | slice:0:50 }}  
                   <a href="javascript:;" *ngIf="!BrifreadMore" (click)="BrifreadMore=true"> More...</a>
                   <a href="javascript:;" *ngIf="BrifreadMore" (click)="BrifreadMore=false">less...</a>
                </div>

                <div >Assumption & Risk:{{(readMore) ? (OBFData.Assumptionrisks) : (OBFData.Assumptionrisks) | slice:0:50 }}  
                    <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">More...</a>
                    <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">less...</a>
                 </div>
                  <div>LOI/Po:{{OBFData.Loipo}}</div>
                  <div>
                    <input type="text" placeholder="Enter Comment" style="height:180px;" [value]="OBFData.comments"/>
                    </div>
                    <div style="display: block;float: left;width:100%;">
                        <a [href]="sanitize(coversheetpath)" target="_blank"   style="margin-right:10px;">Download Coversheet</a>
                        <a [href]="sanitize(loipopath)" target="_blank">Download Loi Po </a>
                    </div>
                    <div style="display: block;float: right;">
                        <div  class="sb_buttion" (click)="EditOBF()"><button>Edit</button></div>
                    </div>
                    &nbsp;
                    <div style="display: block;float: right;">
                    <div  class="sb_buttion"><button>Submit</button></div></div>
        </ng-template>
        
     
        </div>
  
    
    
    