
<div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont creat_bof_con" >
    <div fxLayout="row" fxLayoutAlign="start center" class="creat_obf_tit">
        <div class="back_rout" routerLink="/DealHUB/dashboard"><img src="assets/images/arrow_icon.png"> BACK</div>
    <div class="com_title conm_title_obf" *ngIf="this.shortcurrentstatus != 'cApproved' && this._obfservices.obfsummarymodel.PPl_details == undefined"> 
      {{((this._obfservices.obfsummarymodel.uploadDetails[0].phase_code) == 'OBF' ) ? ('OBF Summary') : ('PPL Summary')}}
     </div>
    <div class="com_title conm_title_obf" *ngIf="this.shortcurrentstatus == 'cApproved'|| this._obfservices.obfsummarymodel.PPl_details != undefined "> 
      {{((this._obfservices.obfsummarymodel.uploadDetails[0].phase_code) == 'OBF') ? ('Approved OBF Summary') : ('Approved PPL Summary')}}
     
    </div>
   
</div>
<div>
  <div fxLayout="row" fxLayoutAlign="start center" class="creat_obf_tit">
    <div class="back_rout" (click)="Closefrompage()">CLOSE</div>
  </div>
</div>
</div>
<div  fxLayout="column" fxLayoutAlign=" none"  class="filter_cont obf_form_cont">
    <div class="cust-accor summary_accor">
        <mat-accordion [multi]="true">
            <mat-expansion-panel [expanded]="true" disabled>
                <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                    <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
                      {{((this._obfservices.obfsummarymodel.uploadDetails[0].phase_code) == 'OBF') ? ('OBF Summary') : ('PPL Summary')}}
                      <div style="    position: absolute;
                      right: 37px;
                      height: 33px;
                      display: flex;">
                        <button mat-flat-button class="creat_bt edit_bt summ_obf_click" style="margin-right: 5px;border-radius: 4px;"  [disabled]='this.ShowViewButton' (click)="getOBFPPLDetails()" *ngIf="(this._obfservices.obfsummarymodel.uploadDetails[0].phase_code=='PPL' || this.privilege_name=='PPL Initiator') || this._obfservices.obfsummarymodel.PPl_details != undefined"> {{((this._obfservices.obfsummarymodel.uploadDetails[0].phase_code) == 'OBF') ? ('View Related PPL') : (' View Related OBF')}}  </button>
                        <button mat-flat-button class="creat_bt edit_bt summ_obf_click" style="border-radius: 4px;"  (click)="openShareBox()" *ngIf="this.role_name=='PH'"> Share <img src="../../../assets/images/share_icon.png" style="margin-left: 7px;"> </button>
                        
                      </div>
                    </mat-panel-title>
                   </mat-expansion-panel-header>
                  <form [formGroup]="obfsummaryform">
                  <div class="mat_exp_wrp">
                   
                    <div  fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp">
                      <div class="mat_previe_box">
                        <div class="prev_tit">
                         Opportunity ID
                        </div>
                        <div class="prev_dis">
                         {{_obfservices.obfsummarymodel.uploadDetails[0].opportunity_id}}
                        </div>
                     </div>
                     <div class="mat_previe_box">
                       <div class="prev_tit">
                         Project Name
                       </div>
                       <div class="prev_dis">
                         {{_obfservices.obfsummarymodel.uploadDetails[0].dh_project_name}}
                       </div>
                    </div>
                    <div class="mat_previe_box">
                      <div class="prev_tit">
                        Customer Name
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfsummarymodel.uploadDetails[0].customer_name}} 
                      </div>
                    </div>
                    <div class="mat_previe_box">
                      <div class="prev_tit">
                        Project Type
                      </div>
                      <div class="prev_dis">  
                        {{_obfservices.obfsummarymodel.uploadDetails[0].project_type}} 
                       </div>
                   </div>
                    <!-- <div class="mat_previe_box">
                     <div class="prev_tit">
                       SAP IO Number
                     </div>
                     <div class="prev_dis dis_io" >
                         <div>
                           {{this.SAPIONo}}
                         </div>
                     </div>
                  </div> -->
                    <!-- <div class="mat_previe_box">
                     <div class="prev_tit">
                       SAP Customer Code
                     </div>
                     <div class="prev_dis">
                       {{_obfservices.obfsummarymodel.uploadDetails[0].sap_customer_code}} 
                     </div>
                  </div> -->
                  <div class="mat_previe_box">
                   <div class="prev_tit">
                     Created On
                   </div>
                   <div class="prev_dis">
                     {{_obfservices.obfsummarymodel.uploadDetails[0].created_on | date}} 
                   </div>
                </div>
                <div class="mat_previe_box">
                 <div class="prev_tit">
                   Created By
                 </div>
                 <div class="prev_dis">
                   {{_obfservices.obfsummarymodel.uploadDetails[0].created_by}} 
                 </div>
              </div>
              <div class="mat_previe_box selc_version_box">
               <!-- <div class="prev_tit">
                 Version
               </div> -->
               <!-- [disabled]="loiopdisabled" -->
               <div class="prev_dis" >
                <div class="mt-cust-fd upl_sec_cut selc_version" >
                  <mat-form-field appearance="fill" class="example-full-width" >
                    <mat-label>Select version</mat-label>
                    <mat-select  formControlName="version" disableOptionCentering>
                      <mat-option *ngFor="let version of _obfservices.obfsummarymodel.VersionDetails" [value]="version.dh_id"  (onSelectionChange)="onversionchange($event,version.dh_id,version.dh_header_id)">
                         V{{version.Version_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  </div>
                 
                </div>
               <div class="prev_dis">
               
               </div>
            </div>
                      </div>
                      
                      <div fxLayout="row " fxLayoutAlign="space-between start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp color_none_fld">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Vertical 
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfsummarymodel.uploadDetails[0].Vertical_name}} 
                          </div>
                       </div>
                        <div class="mat_previe_box">
                            <div class="prev_tit">
                              Sector
                            </div>
                            <div class="prev_dis">
                              {{_obfservices.obfsummarymodel.uploadDetails[0].sector_name}} 
                            </div>
                         </div>
                         <div class="mat_previe_box">
                          <div class="prev_tit">
                            Sub Sector
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfsummarymodel.uploadDetails[0].subsector_name}} 
                          </div>
                       </div>
                     
                     <!-- <div class="mat_previe_box">
                      <div class="prev_tit">
                        Vertical Head
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfsummarymodel.uploadDetails[0].VerticalHeadName}} 
                      </div>
                    </div> -->
                               <div class="mat_previe_box">
                                <div class="prev_tit">
                                  Project Primary Location / State
                                </div>
                                <div class="prev_dis">
                                  {{_obfservices.obfsummarymodel.uploadDetails[0].dh_location}} 
                                </div>
                             </div>
                   
                        <!-- <div class="mat_previe_box">
                          <div class="prev_tit">
                            Customer Name
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfsummarymodel.uploadDetails[0].customer_name}} 
                          </div>
                        </div> -->
                         </div>
                      
                      <div fxLayout="row " fxLayoutAlign="space-between start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp cl_widn_sapc">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Total Revenue <br>
                            ₹ Cr
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfsummarymodel.uploadDetails[0].total_revenue}} 
                          </div>
                       </div>
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Total Cost <br>₹ Cr
                        </div>
                        <div class="prev_dis">
                          {{_obfservices.obfsummarymodel.uploadDetails[0].total_cost}} 
                        </div>
                     </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Capex <br>₹ Cr 
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfsummarymodel.uploadDetails[0].capex}}
                      </div>
                   </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Total Margin 
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfsummarymodel.uploadDetails[0].total_margin}}  %
                      </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Payment Terms (in Days)
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.obfsummarymodel.uploadDetails[0].payment_terms}}  Days
                    </div>
                  </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Total Project Life (in Months)
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.obfsummarymodel.uploadDetails[0].total_project_life}} 
                    </div>
                 </div>
                 
               <div class="mat_previe_box">
                <div class="prev_tit">
                  EBT % 
                </div>
                <div class="prev_dis">
                  {{_obfservices.obfsummarymodel.uploadDetails[0].ebt}} %
                </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
                IRR % <br>
                (Surplus Cash)
              </div>
              <div class="prev_dis">
                {{_obfservices.obfsummarymodel.uploadDetails[0].irr_surplus_cash}} %
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              IRR % <br> (Borrowed Fund)
            </div>
            <div class="prev_dis">
              {{_obfservices.obfsummarymodel.uploadDetails[0].irr_borrowed_fund}} %
            </div>
          </div>
          
          
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp">
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Solution Category
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfsummarymodel.uploadDetails[0].solutioncategory_name}}
                       
                          </div>
                       </div> 
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Type of Service/Solution Category
                        </div>
                        <div class="prev_dis">
                          <div *ngIf="(this.service.length > 60)">
                            {{(ServiceMore) ? (this.service) : (this.service) | slice:0:50 }}  
                              <a href="javascript:;" *ngIf="!ServiceMore" (click)="ServiceMore=true"> More...</a>
                              <a href="javascript:;" *ngIf="ServiceMore" (click)="ServiceMore=false">less...</a>
                           </div>
                           <div *ngIf="(this.service.length < 60)">
                            {{(this.service)}}  
                           </div>
                        </div>
                     </div> 
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Project Brief 
                      </div>
                      <div class="prev_dis" *ngIf="(_obfservices.obfsummarymodel.uploadDetails[0].dh_desc.length > 20)">
                       {{(BrifreadMore) ? (_obfservices.obfsummarymodel.uploadDetails[0].dh_desc) : (_obfservices.obfsummarymodel.uploadDetails[0].dh_desc) | slice:0:50 }}  
                        <a href="javascript:;" *ngIf="!BrifreadMore" (click)="BrifreadMore=true"> More...</a>
                        <a href="javascript:;" *ngIf="BrifreadMore" (click)="BrifreadMore=false">less...</a>
                      </div>
                      <div *ngIf="(_obfservices.obfsummarymodel.uploadDetails[0].dh_desc.length < 20)">
                        {{(_obfservices.obfsummarymodel.uploadDetails[0].dh_desc)}}  
                       </div>
                   </div> 
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      SAP IO Number
                    </div>
                    <div class="prev_dis dis_io" >
                        <div>
                          {{this.SAPIONo}}
                        </div>
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                    SAP Customer Code
                  </div>
                  <div class="prev_dis">
                    {{_obfservices.obfsummarymodel.uploadDetails[0].sap_customer_code}} 
                  </div>
               </div>
                       </div>
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Assumption & Risk
                          </div>
                          <div class="prev_dis"  *ngIf="(_obfservices.obfsummarymodel.uploadDetails[0].assumptions_and_risks.length > 20)">
                            
                            {{(readMore) ? (_obfservices.obfsummarymodel.uploadDetails[0].assumptions_and_risks) : (_obfservices.obfsummarymodel.uploadDetails[0].assumptions_and_risks) | slice:0:50 }}  
                            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">More...</a>
                            <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">less...</a>
                          </div>
                          <div *ngIf="(_obfservices.obfsummarymodel.uploadDetails[0].assumptions_and_risks.length < 20)">
                            {{(_obfservices.obfsummarymodel.uploadDetails[0].assumptions_and_risks)}}  
                           </div>
                       </div>
                      
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Payment Terms Description
                      </div>
                      <!-- <div class="prev_dis">
                        {{_obfservices.obfsummarymodel.uploadDetails[0].payment_term_desc}}

                         </div> -->
                         <div class="prev_dis"  *ngIf="(_obfservices.obfsummarymodel.uploadDetails[0].payment_term_desc.length > 20)">
                            
                          {{(readMore) ? (_obfservices.obfsummarymodel.uploadDetails[0].payment_term_desc) : (_obfservices.obfsummarymodel.uploadDetails[0].payment_term_desc) | slice:0:50 }}  
                          <a href="javascript:;" *ngIf="!PaymentreadMore" (click)="PaymentreadMore=true">More...</a>
                          <a href="javascript:;" *ngIf="PaymentreadMore" (click)="PaymentreadMore=false">less...</a>
                        </div>
                        <div *ngIf="(_obfservices.obfsummarymodel.uploadDetails[0].payment_term_desc.length < 20)">
                          {{(_obfservices.obfsummarymodel.uploadDetails[0].payment_term_desc)}}  
                         </div>
                   </div>
                 
                   
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      LOI/PO
                    </div>
                    <div class="prev_dis">
                    
                      {{_obfservices.obfsummarymodel.uploadDetails[0].Loi_po_Details}} 
                      
                    </div>
                 </div>
                 <div *ngIf="this.shortcurrentstatus !='cApproved'">
                  <div class="mat_previe_box"  *ngIf=" this.workflowindication==true || this.role_name == 'VSH' || this.role_name == 'PH'|| this.role_name == 'CFO' || this.role_name == 'CEO'">
                  <div class="prev_dis" *ngIf="this.workflowindication==true || this.role_name == 'VSH' || this.role_name == 'PH'|| this.role_name == 'CFO' || this.role_name == 'CEO'">
                  Workflow Indicator
                  </div>
                  <div class="mat_cu_indic" >
                  <div class="prev_dis mt-cust-fd-com"  *ngIf="this.role_name == 'VSH'">
                    <mat-slide-toggle color="primary" formControlName="MarginException" [disabled]="disableMargincontrol">Margin Exception Requested</mat-slide-toggle>
                  </div>
                  
                  <div class="prev_dis mt-cust-fd-com"  *ngIf="this.role_name == 'PH'|| this.role_name == 'CFO'">
                    <mat-slide-toggle color="primary" formControlName="ExceptionCFO" [disabled]="disableCFOcontrol">Exception case-CFO approval</mat-slide-toggle>
                  </div>
                  <div class="prev_tit cf0message"  *ngIf="CEOMess">
                    <label>
                      {{this.cfomessgae}}
                    </label>
                  </div>
                   
                  <div class="exc_ceo_app mt-cust-fd-com"  *ngIf="this.role_name == 'PH' || this.role_name == 'CEO'">
                    <mat-slide-toggle color="primary" formControlName="ExceptionCEO"  [disabled]="disableCEOcontrol">Exception case-CEO approval</mat-slide-toggle>
                  </div>
                  <div class="prev_tit cf0message"  *ngIf="CFOMess">
                    <label>
                      {{this.CEOmessage}}
                    </label>
                    </div>
                    <div class="mar_exc" style="margin-left: 35px;
                    padding-top: 7px;
                    border-top: 1px solid #ccc;
                    margin-top: 10px;
                    border-top: solid 1px #707070;
                    font-weight: 500;" *ngIf="MarginException">
                      Margin Exception Requested by VSH.
                    </div>
                  </div>
               </div>
              </div>

                      </div>
                      
                 <div fxFlex="auto " class="mat_view_comment">
                  <div class="mat_previe_box">
                    <div class="com_view_box" >
                          <div class="prev_tit_com">
                            Comments
                          </div>
                          <perfect-scrollbar class="perfect_scroll_com"  >
                            <div fxLayout="row" fxLayoutAlign=" start" class="text_cont_cmm" *ngFor="let details of _obfservices.obfsummarymodel.CommentDetails">
                              <div class="us_comm_nt" title="{{details.role_code}}">
                                <!-- {{details.Initials}} -->
                                {{details.role_code}}
                              </div>
                              <div class="us_coment_dt">
                                <div class="Role_name" style="display: none;">{{details.role_name}}</div>
                                <div class="Fullname">{{details.Fullname}}<span>
                                  <!-- ({{details.role_code}}) -->
                                </span></div>
                                <div class="Status">{{details.Status}}</div>
                                <div class="dh_comment">{{details.dh_comment}}</div>
                                  <div class="Version_name"> <span>{{details.commented_on | date}}</span><span class="span_tim">{{details.commented_on | date:'h:mm a'}}</span>
                                  </div>
                              </div>
                            </div>
                        
                            <div *ngIf="commentVisiable" fxLayout="row" fxLayoutAlign=" start" class="text_cont_cmm cmm_in">
                              
                              <div class="us_comm_nt">
                                {{SaveCommentdetail[0].role_code}}
                              </div>
                              <div class="us_coment_dt">
                                <div class="close_com">
                                  <button  mat-flat-button class="creat_bt cus_bt_comm cus_bt_comm_box" (click)="deletecomment()" ></button>
                                </div>
                                <!-- <div class="Role_name">{{SaveCommentdetail[0].Role_name}}</div> -->
                                <div class="Fullname">{{SaveCommentdetail[0].Fullname}}</div>
                                <div class="Status">{{SaveCommentdetail[0].Status}}</div>
                                <div class="dh_comment">{{SaveCommentdetail[0].dh_comment}}</div>
                                  <div class="Version_name"><span>{{SaveCommentdetail[0].commented_on | date}}</span> <span class="span_tim">{{SaveCommentdetail[0].commented_on | date:'h:mm a'}}</span>
                                  </div>
                              </div>
                            </div>
                          </perfect-scrollbar>
                          <div *ngIf="showuploadbutton && this.shortcurrentstatus =='Submitted'">
                            <div class="comm_input_con" *ngIf="((this.privilege_name != 'OBF Initiator' && this.privilege_name != 'PPL Initiator') || this.shortcurrentstatus =='Submitted')">
                              <div class="comm_inpu_typ"  *ngIf="(!commentVisiable && _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1)  && !(this._obfservices.obfsummarymodel.uploadDetails[0].phase_code=='OBF' && this.privilege_name == 'PPL Initiator' )">
                                
                                  <div class="mt-cust-fd comm-cust-fd">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                      <mat-label>Enter Comments </mat-label>
                                        <input  type="text" matInput formControlName="comments" style="margin-left: 0px;"/>
                                        <mat-error *ngIf="obfsummaryform.controls.comments.errors?.required ">
                                          Comment is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="obfsummaryform.controls.comments.errors?.invalidservices">
                                          Black-Listed characters `<>'"&` are not allowed
                                        </mat-error>
                                      </mat-form-field>
                                  </div>
                               <button mat-flat-button class="creat_bt cus_bt_comm" (click)="SaveComment()">Submit</button>
                               
                              </div>
                            </div>
                          </div>
                         
                        </div>
                   
                    
                  </div>
                </div> 
                
              
                    </div>
                    <div fxLayout="row " fxLayoutAlign="space-between start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp color_none_fld_border">
                      <div class="mat_previe_box">
                        
                        <div class="prev_dis">
                       {{this._obfservices.obfsummarymodel.uploadDetails[0].phase_code=='OBF' ?'Download OBF Sheet': 'Download PPL Sheet' }}   
                        </div>
                        <div xLayout="row" fxLayoutAlign="space-between center"  class="prev_tit">
                          <div (click)="downloadCoversheet($event)" class="up_pdf_com">
                             Download
                             <span>
                               <img src="assets/images/dwon-file-icon.png">
                             </span>
                          </div>
                          <!-- <div class="up_pdf_com dw_pdf_com">
                            Upload
                            <span>
                              <img src="../../../assets/images/up-file-icon.png">
                            </span>
                         </div> -->
                          
                        </div>
                     </div>
                     <div class="mat_previe_box">
                        
                      <div class="prev_dis">
                        Supporting Documents
                      </div>
                      <div xLayout="row" fxLayoutAlign="space-between center"  class="prev_tit">
                        <div (click)="downloadsuppodocument($event)" class="up_pdf_com" [class.disabledsd]="disableSupporting">
                           Download
                           <span>
                             <img src="assets/images/dwon-file-icon.png">
                           </span>
                        </div>
                        
                          <div class="up_pdf_com dw_pdf_com" *ngIf="(this.privilege_name == 'OBF Initiator' || (this.privilege_name) == 'PPL Initiator')  && showuploadbutton && this.shortcurrentstatus !='rejected'  && _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1 " (click)="OpenDocDownload('button','Supporting')" >
                            Upload
                            <span>
                              <img src="assets/images/up-file-icon.png">
                            </span>
                         </div>
                       
                        
                      </div>
                   </div>
                   <div class="mat_previe_box">
                        
                    <div class="prev_dis">
                      LOI/PO/Agreement
                    </div>
                    <div xLayout="row" fxLayoutAlign="space-between center"  class="prev_tit">
                      <div class="up_pdf_com" (click)="downloadLOIp($event)"  [class.disabledLOI]="disableLOIPO">
                         Download
                         <span>
                           <img src="assets/images/dwon-file-icon.png">
                         </span>
                      </div>
                      
                      <div class="up_pdf_com dw_pdf_com"  *ngIf="(this.privilege_name == 'OBF Initiator'  || (this.privilege_name) == 'PPL Initiator'  )  &&  showuploadbutton  &&  this.shortcurrentstatus !='rejected' && _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1" (click)="OpenDocDownload('button','loipo')"  >
                        Upload
                        <span>
                          <img src="assets/images/up-file-icon.png">
                        </span>
                     
                    </div>
                    </div>
                 </div>
                 <div class="mat_previe_box">
                        
                  <div class="prev_dis">
                    Final Agreement
                  </div>
                  <div xLayout="row" fxLayoutAlign="space-between center"  class="prev_tit">
                    <div class="up_pdf_com" (click)="downloadFinal($event)"  [class.disabledFinal]="disablefinalagg">
                       Download
                       <span>
                         <img src="assets/images/dwon-file-icon.png">
                       </span>
                    </div>
                   
                      <div class="up_pdf_com dw_pdf_com" *ngIf="(this.privilege_name == 'OBF Initiator' || (this.privilege_name) == 'PPL Initiator' )  &&  showuploadbutton &&this.shortcurrentstatus !='rejected' && _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1" (click)="OpenDocDownload('button','FinalAgg')" >
                        Upload
                        <span>
                          <img src="assets/images/up-file-icon.png">
                        </span>
                     </div>
                    
                  
                  </div>
               </div>
                    
                     </div>
                    <!-- <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp con_dwn_wrp">
                      <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                        <div class="dwn_con_wr">
                          <img  src="assets/images/dwn-load-file.png">
                          <span><a (click)="downloadCoversheet($event)"  target="_blank" >OBF Sheet</a></span>
                        </div>
                        <div class="dwn_con_wr"><img (click)="downloadCoversheet($event)" src="assets/images/dwn_fil_icon.png"></div>
                        </div>
                        <div fxFlex="auto "  fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                          <div class="dwn_con_wr">
                            <img src="assets/images/dwn-load-file.png">
                            <span>
                              <a  (click)="downloadsuppodocument($event)"  target="_blank" >Supporting Document</a></span>
                          </div>
                          <div class="dwn_con_wr" ><img  (click)="downloadsuppodocument($event)"  src="assets/images/dwn_fil_icon.png" ></div>
                          <div class="dwn_con_wr"*ngIf="(this.privilege_name == 'OBF Initiator' || (this.privilege_name) == 'PPL Initiator') && _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1 "><img (click)="OpenDocDownload($event,'Supporting')"  src="assets/images/upload_file_icon.png" ></div>
                          
                          </div>
                          <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                            <div class="dwn_con_wr">
                              <img  src="assets/images/dwn-load-file.png">
                              <span ><a (click)="downloadLOIp($event)"  target="_blank" >LOI/PO/Agreement</a></span>
                            </div>
                            <div class="dwn_con_wr" ><img  (click)="downloadLOIp($event)"  src="assets/images/dwn_fil_icon.png" ></div>
                            <div class="dwn_con_wr"  *ngIf="(this.privilege_name == 'OBF Initiator'  || (this.privilege_name) == 'PPL Initiator'  )&& _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1"><img (click)="OpenDocDownload($event,'loipo')"  src="assets/images/upload_file_icon.png" ></div>
                          
                          </div>
                          <div fxFlex="auto " fxLayoutAlign="space-between center" class="mat_dwn_lod_con" >
                            <div class="dwn_con_wr">
                              <img  src="assets/images/dwn-load-file.png">
                              <span ><a (click)="downloadFinal($event)"  target="_blank" >Final Agreement</a></span>
                            </div>
                            <div class="dwn_con_wr" ><img (click)="downloadFinal($event)" src="assets/images/dwn_fil_icon.png" ></div>
                            <div class="dwn_con_wr" *ngIf="(this.privilege_name == 'OBF Initiator' || (this.privilege_name) == 'PPL Initiator' ) && _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1"><img (click)="OpenDocDownload($event,'FinalAgg')"  src="assets/images/upload_file_icon.png" ></div>
                          
                          </div>
                            
                            
                    </div> -->
                 </div>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel class="last_exp_pan" style="margin-top: 20px;">
                <mat-expansion-panel-header collapsedHeight="50px"  expandedHeight="50px">
                    <mat-panel-title>
                        Detailed Timeline History
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="fl_table_con" style="margin: 0px;">
                    <table mat-table [dataSource]="listData" class="ms_table" style="margin-top: 10px;" matSort>
                      <ng-container  matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                      <mat-cell *matCellDef="let row" >{{row.username}}</mat-cell>
                       </ng-container>
                       <ng-container  matColumnDef="TimeLine">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Timeline</mat-header-cell>
                      <mat-cell *matCellDef="let row" >{{row.TimeLine}}</mat-cell>
                       </ng-container>
                       <ng-container  matColumnDef="currentstatus">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                      <mat-cell *matCellDef="let row" >{{row.currentstatus}}</mat-cell>
                       </ng-container>
                       <ng-container  matColumnDef="comment">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
                      <mat-cell *matCellDef="let row" >{{row.comments}}</mat-cell>
                       </ng-container>
                       <ng-container  matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                      <mat-cell  *matCellDef="let row" (click)="getdownloadfile(row)" >
                        <!-- <img *ngIf="row.actions != ''" src="assets/images/download_icon.png"> -->
                        <div class="dwon_ic_con" *ngIf="row.actions != ''"><img src="assets/images/download_icon.png"></div>

                      </mat-cell>
                       </ng-container>
                    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </table>
                  </div>
                  
            </mat-expansion-panel>
        </mat-accordion>
        </div>
        <div fxLayout="column" fxLayoutAlign=" none"  class="mat_fld_box_wrp wrp_bt_con" *ngIf="this.privilege_name != 'OBF Initiator'  && this.showuploadbutton== true && this.shortcurrentstatus=='Submitted'  && _obfservices.obfsummarymodel.uploadDetails[0].is_latest_version == 1">
          <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="mat_fot_drf" >
              <button mat-flat-button class="creat_bt mat_fot_bt on_hold_bt" (click)="onHoldDetails()">On Hold</button>
            </div>
            <div class="mat_fot_drf" >
              <button mat-flat-button class="creat_bt mat_fot_bt rej_tran" (click)="RejectDeatils()"> Reject</button>
              <button mat-flat-button class="creat_bt" (click)="ApproveDeatils()">
                Approve
              </button>
            </div>
          </div>
              </div>
</div>

<div>
  <ng-template #callAPIDialog>
    <div class="pop_title_wrp"><div class="pop_head_titl">Uploading Document</div> <a mat-dialog-close href="javascript:void(0)" (click)="CloseDialog()" class="close"></a></div>
    <mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutAlign="none" class="mat_upload_box" style="width: 400px;" >
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <div fxFlex="auto " class="mat_upload_in_wr">
      
      <ngx-dropzone class="mat_up_con" (change)="onSelect($event)" accept=".xlsx,.xls,.pdf,.jpeg,.png,.doc,.docx,.csv,.JPG">
        <ngx-dropzone-label class="matUp_lable">
          <div><img src="assets/images/Group Upload.png"></div>
          <div class="drap_titl">
              Choose or  Drag & Drop
            <div class="in_titl">Or select file from your system</div>
          </div>
          
        </ngx-dropzone-label>
       
          
      </ngx-dropzone>
      <div class="bt_uplad_con">
        <!-- <div class="cr_corner"><img src="assets/images/fold_icon.png"></div> -->
        <div class="mt-cust-fd upl_sec_cut" *ngIf="this.Type=='loipo'">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Select Type</mat-label>
            <mat-select [(ngModel)]="Loipodropdown">
              <mat-option value="PO"  >
                PO
              </mat-option>
              <mat-option value="LOI">
                LOI
              </mat-option>
              <mat-option value="Agreement">
                Agreement
              </mat-option>
            </mat-select>
            
          </mat-form-field>
        </div>
       

        <button [disabled]="!(uploadDocfiles.length >0)" (click)="uploadfiles(uploadDocfiles)"  class="creat_bt" mat-flat-button>Upload</button>
      </div>
      <!-- <input [disabled]="!(coversheetfiles.length >0)" class="btn btn-primary" (click)="uploadfiles(coversheetfiles,'coversheet')" type="button" value="Upload"/> -->
      <div class="mat_upload_tit" style="margin-top: 36px;" *ngIf="uploadDocfiles.length > 0">
        Uploading: 
       </div>
       <div *ngIf="dispalyloading">
        <span>
          <h4>Loading...</h4>
        </span>
        
       </div>
       <div *ngIf="!dispalyloading">
        <div *ngIf="uploaddocprocess.length == 0">
        
          <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of uploadDocfiles" [removable]="true" (removed)="onRemove(uploadDocfiles,f)">
            <ngx-dropzone-label class="drop_lab_cs">
              <div class="doc_icon">
                <img src="assets/images/doc_icon.JPG" style="margin-right: 15px;">
              </div>
              <div class="doc_cont" *ngIf="uploaddocprocess.length == 0">
                {{ f.name }}
              </div> 
              
            </ngx-dropzone-label>
          </ngx-dropzone-preview>
        </div>
        <div *ngIf="uploaddocprocess.length > 0">
          <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of uploaddocprocess" >
            <ngx-dropzone-label class="drop_lab_cs">
              <div style="background-color: #2258bf;position: absolute;width: 100%;height: 100%;top: 0;opacity: 0.5;left: 0px;    border-radius: 5px;" [style.width.%]="f.value"></div>
              <div class="doc_icon" >
                <img src="assets/images/doc_icon.JPG" style="margin-right: 15px;">
              </div>
              <div class="doc_cont" style="position: relative;" >
                {{ f.name }}
               </div> 
            </ngx-dropzone-label>
          </ngx-dropzone-preview>
        </div>
        <div *ngIf="filelist.length > 0">
          <ngx-dropzone-preview class="dro_wrp" *ngFor="let f of filelist" [removable]="true" (removed)="removeFile(filelist,f)">
            <ngx-dropzone-label class="drop_lab_cs">
              <div style="background-color: #2258bf;position: absolute;width: 100%;height: 100%;top: 0;opacity: 0.5;left: 0px;    border-radius: 5px;" [style.width.%]="f.filepath"></div>
              <div class="doc_icon" >
                <img src="assets/images/doc_icon.JPG" style="margin-right: 15px;">
              </div>
              <div class="doc_cont" style="position: relative;" >
                {{ f.filename }}
               </div> 
            </ngx-dropzone-label>
          </ngx-dropzone-preview>
        </div>
       </div>
     
   </div>
    <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
      <ul *ngFor="let msg of message; let i = index">
        <li>{{ msg }}</li>
      </ul>
    </div>
    

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [disabled]="disablesavebutton" (click)="saveattachmentFromuploadbutton()"  class="creat_bt" mat-flat-button>Save</button>
</mat-dialog-actions>


<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
    
  </ng-template>
</div>
<div>
  <ng-template #shareDialog>
    <div class="pop_title_wrp"><div class="pop_head_titl edit_titl" style="font-size: 1rem;">Share</div> <a mat-dialog-close href="javascript:void(0)" class="close"></a></div>
    <mat-dialog-content class="mat-typography">
   
    <div style="width: 480px;    padding-bottom: 7px;
    padding-top: 10px;">
      <div class="mt-cust-fd" >
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Enter E-mail ID to share *</mat-label>
          <input matInput  [formControl]="EmailAddress" placeholder="Enter E-mail ID to share" >
          <mat-error *ngIf="EmailAddress.hasError('required')">Email ID is required</mat-error>
          <mat-error *ngIf="EmailAddress.errors?.invalidservices">
              Black-Listed characters `<>'"&` are not allowed
            </mat-error>
            <mat-error *ngIf="EmailAddress.errors?.email">
              Email ID is not valid
            </mat-error>
        </mat-form-field>
      </div>
      

    </div>
     </mat-dialog-content>
     <mat-dialog-actions align="end">
      <button (click)="CloseDialog()"  mat-flat-button class="creat_bt mat_fot_bt" mat-dialog-close style="    background-color: transparent;
      color: #2258bf;
      font-weight: 600;
      font-size: 0.9rem;">Close</button>
      <button (click)="sendDetails()" mat-button mat-flat-button class="creat_bt cu_width"  class="creat_bt" mat-flat-button>Send Now</button>
     </mat-dialog-actions>
  </ng-template>

</div>
