
<div fxLayout="row" fxLayoutAlign="space-between center"  class="filter_cont creat_bof_con" >
    <div fxLayout="row" fxLayoutAlign="start center" class="creat_obf_tit">
        <div class="back_rout" routerLink="/DealHUB/dashboard"><img src="assets/images/arrow_icon.png"> Back</div>
    <div class="com_title conm_title_obf">OBF Summary</div>
</div>
<div>
    <div fxLayout="row" fxLayoutAlign="start center" class="creat_obf_tit">
      <div class="back_rout" routerLink="/DealHUB/dashboard">Close</div>
    </div>
  </div>
</div>
<div  fxLayout="column" fxLayoutAlign=" none"  class="filter_cont obf_form_cont">
    <div class="cust-accor">
        <mat-accordion>
            <mat-expansion-panel >
                <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                    <mat-panel-title>
                        OBF Summary
                    </mat-panel-title>
                   
                  </mat-expansion-panel-header>
                  <div class="mat_exp_wrp">
                    <div fxLayout="row wrap" fxLayoutAlign=" start"  class="mat_fld_box_wrp">
                      <div class="mat_previe_box">
                         <div class="prev_tit">
                          Opportunity ID
                         </div>
                         <div class="prev_dis">
                          {{_obfservices.obfsummarymodel.uploadDetails[0].opportunity_id}}
                         </div>
                      </div>
                      <div class="mat_previe_box">
                        <div class="prev_tit">
                          Project Name
                        </div>
                        <div class="prev_dis">
                          {{_obfservices.obfsummarymodel.uploadDetails[0].dh_project_name}}
                        </div>
                     </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        SAP IO Number
                      </div>
                      <div class="prev_dis">
                        1234
                      </div>
                   </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        SAP Customer Code
                      </div>
                      <div class="prev_dis">
                        12345,6789
                      </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Created On
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.obfsummarymodel.uploadDetails[0].created_on | date}} 
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                    Project Primary Location / State
                  </div>
                  <div class="prev_dis">
                    {{_obfservices.obfsummarymodel.uploadDetails[0].dh_location}} 
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                  Sector
                </div>
                <div class="prev_dis">
                  {{_obfservices.obfsummarymodel.uploadDetails[0].sector_name}} 
                </div>
             </div>
            
             <div class="mat_previe_box">
              <div class="prev_tit">
                Sub Sector
              </div>
              <div class="prev_dis">
                {{_obfservices.obfsummarymodel.uploadDetails[0].subsector_name}} 
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Vertical 
            </div>
            <div class="prev_dis">
              {{_obfservices.obfsummarymodel.uploadDetails[0].Vertical_name}} 
            </div>
         </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              Vertical Head
            </div>
            <div class="prev_dis">
              {{_obfservices.obfsummarymodel.uploadDetails[0].VerticalHeadName}} 
            </div>
          </div>
          <div class="mat_previe_box">
            <div class="prev_tit">
              Customer Name
            </div>
            <div class="prev_dis">
              {{_obfservices.obfsummarymodel.uploadDetails[0].customer_name}} 
            </div>
          </div>
           
                      </div>
                      <div fxLayout="row wrap" fxLayoutAlign=" start"  class="mat_fld_box_wrp prm_mat_fld_box_wrp">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Total Revenue <br>
                            ₹ Cr
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfsummarymodel.uploadDetails[0].total_revenue}} 
                          </div>
                       </div>
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Total Cost <br>₹ Cr
                        </div>
                        <div class="prev_dis">
                          {{_obfservices.obfsummarymodel.uploadDetails[0].total_cost}} 
                        </div>
                     </div>
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Total Margin 
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfsummarymodel.uploadDetails[0].total_margin}}  %
                      </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Total Project Life 
                    </div>
                    <div class="prev_dis">
                      {{_obfservices.obfsummarymodel.uploadDetails[0].total_project_life}}  Days
                    </div>
                 </div>
                 <div class="mat_previe_box">
                  <div class="prev_tit">
                    Capex <br>₹ Cr 
                  </div>
                  <div class="prev_dis">
                    {{_obfservices.obfsummarymodel.uploadDetails[0].capex}}
                  </div>
               </div>
               <div class="mat_previe_box">
                <div class="prev_tit">
                  EBT % 
                </div>
                <div class="prev_dis">
                  {{_obfservices.obfsummarymodel.uploadDetails[0].ebt}} %
                </div>
             </div>
             <div class="mat_previe_box">
              <div class="prev_tit">
                IRR % Surplus Cash
              </div>
              <div class="prev_dis">
                {{_obfservices.obfsummarymodel.uploadDetails[0].irr_surplus_cash}} %
              </div>
           </div>
           <div class="mat_previe_box">
            <div class="prev_tit">
              IRR % Borrowed <br>Fund
            </div>
            <div class="prev_dis">
              {{_obfservices.obfsummarymodel.uploadDetails[0].irr_borrowed_fund}} %
            </div>
          </div>
          <div class="mat_previe_box">
            <div class="prev_tit">
              Payment Terms
            </div>
            <div class="prev_dis">
              {{_obfservices.obfsummarymodel.uploadDetails[0].payment_terms}}  Days
            </div>
          </div>
          
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between start"  class="mat_fld_box_wrp">
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Solution Category
                          </div>
                          <div class="prev_dis">
                         solution
                          </div>
                       </div> 
                       <div class="mat_previe_box">
                        <div class="prev_tit">
                          Type of Service/Solution Category
                        </div>
                        <div class="prev_dis">
                          <div>
                         storage warehouse
                      
                           </div>
                        </div>
                     </div> 
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Project Brief 
                      </div>
                      <div class="prev_dis">
                        {{_obfservices.obfsummarymodel.uploadDetails[0].dh_desc}}
                      </div>
                   </div> 
                       </div>
                       <div fxFlex="auto " class="mat_view_cont">
                        <div class="mat_previe_box">
                          <div class="prev_tit">
                            Assumption & Risk
                          </div>
                          <div class="prev_dis">
                            {{_obfservices.obfsummarymodel.uploadDetails[0].assumptions_and_risks}}
                          </div>
                       </div>
                      
                     <div class="mat_previe_box">
                      <div class="prev_tit">
                        Payment Terms Description
                      </div>
                      <div class="prev_dis">
                        30 Days
                       </div>
                   </div>
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      Project Date
                    </div>
                    <div class="prev_dis">  
                      {{_obfservices.obfsummarymodel.uploadDetails[0].created_on | date}} 
                     </div>
                 </div>
                   
                   <div class="mat_previe_box">
                    <div class="prev_tit">
                      LOI/Po
                    </div>
                    <div class="prev_dis">
                      Rate Card Attached
                    </div>
                 </div>


                      </div>
                      
                 <div fxFlex="auto " class="mat_view_comment">
                  <div class="mat_previe_box">
                    <div class="prev_dis">
                      Comments 
                     </div>
                     <div class="mat_comment_box">
                      <mat-form-field class="example-full-width">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput formControlName="comments"></textarea>
                      </mat-form-field>
                     </div>
                  </div>
                </div> 
                    </div>
                 </div>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
                    <mat-panel-title>
                        Detailed Timeline History
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              Details
            </mat-expansion-panel>
        </mat-accordion>
        </div>
        <div fxLayout="column" fxLayoutAlign=" none"  class="mat_fld_box_wrp">
          <div class="mat_exp_fot" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="mat_fot_drf" >
              <button mat-flat-button class="creat_bt mat_fot_bt">On Hold</button>
            </div>
            <div class="mat_fot_drf" >
              <button mat-flat-button class="creat_bt mat_fot_bt"> Rejected</button>
              <button mat-flat-button class="creat_bt" (click)="ApproveDeatils()">
                Approve
              </button>
            </div>
          </div>
              </div>
</div>
